{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you have an email address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
     text: "Prototype"
  },
  html: 'This is a prototype. No data is saved or stored.'
}) }}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    <form id="form" method="post" action="email">
        

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}
        
        {% set emailHtml %}
        {{ govukInput({
            label: {
              text: "Email address"
            },
            id: "emailaddress",
            name: "emailaddress",
            type: "email",
            autocomplete: "email",
            spellcheck: false
          }) }}
        {% endset -%}
        
        {{ govukRadios({
          name: "contact",
          fieldset: {
            legend: {
              text: "Do you have an email address?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "We’ll use this to send details of appointments."
          },
          items: [
            {
              value: "email",
              text: "Yes",
              conditional: {
                html: emailHtml
              }
            },
            {
              value: "noEmail",
              text: "No"
            }
          ]
        }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        href: "/design-iterations/wt-alt-formats-3/guard"
      }) }}

</form>
</div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}


