{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<p class="red">Content updates to make</p>
<ul class="govuk-list govuk-list--bullet red">
  <li>Move before you save up and rewording so it’s less scary</li>
  <li>Move bit about getting a bank account out or down</li>
</ul>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Before you start</h1>
  <div class="govuk-inset-text">
    <p>You will not be able to save your answers and come back to the form later. But you’ll get a chance to check and update your answers before you send it.</p>
  </div>
    <p>Make sure you have your:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>National Insurance number</li>
      <li>bank or building society account details</li>
      <li>doctor's surgery name and address</li>
    </ul>

    <p>You’ll also need details of the following, if they apply to you:
     <ul class="govuk-list govuk-list--bullet">
      <li>current or recent work</li>
      <li>the date any Statutory Sick Pay ended or will end</li>
      <li>pensions that you’re getting, including proof of any pensions left to you by someone after they died</li>
      <li>permanent health insurance payments</li>
     </ul>

     <p>If you do not have a bank account, you can use the account of a trusted family member or friend. Find out <a href="https://www.citizensadvice.org.uk/debt-and-money/banking/getting-a-bank-account/">how to get a bank account</a> if you want to set one up.</p>


    <p><a href="name" class="govuk-button">Continue</a></p>

  </div>

</div>
{% endblock %}
