{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="app-step-nav-header">
  <span class="app-step-nav-header__part-of">Part of</span>
  <a class="app-step-nav-header__title" href="govuk-steps">
    How to claim 'new style' Employment and Support Allowance (ESA): step by step
  </a>
</div>

<main class="govuk-main-wrapper " id="main-content" role="main">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Employment and Support Allowance (ESA)</h1>

    <p class="govuk-body-s govuk-!-margin-bottom-1">Contents</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--bullet-dash">
      <li><a href="govuk-overview">Overview</a></li>
      <li><a href="govuk-whatyouget">What you'll get</a></li>
      <li>Types of ESA</li>
      <li><a href="govuk-eligibility">Eligibility</a></li>
      <li><a href="start-page-steps">Apply</a></li>
      <li><a href="govuk-reportchangecircs">Report a change of circumstances</a></li>
      <li><a href="govuk-incapacitybenefit">Moving from Incapacity Benefit to ESA</a></li>
    </ul>

  </div><!-- govuk-grid-column-two-thirds -->
  <div class="govuk-grid-column-one-third">
    &nbsp;
  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <hr class="govuk-section-break govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-padding-top-3 govuk-!-font-size-27">Types of ESA</h2>
    <p class="govuk-body">There are 3 different types of Employment and Support Allowance (ESA):</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>‘new style’ ESA</li>
      <li>contribution-based ESA</li>
      <li>income-based ESA</li>
    </ul>
   <p class="govuk-body">The type you get depends on your circumstances.</p>
   <div class="govuk-inset-text">
   You’ll also need to <a href="govuk-eligibility">check you’re eligible for ESA</a>.
   </div>
    <h3 class="govuk-heading-m  govuk-!-padding-top-3">New style ESA</h3>
    <p class="govuk-body">To get ‘new style’ ESA you’ll need to have been an employee or self-employed and paid National Insurance contributions, usually in the last 2 to 3 years. <a href="https://www.gov.uk/national-insurance-credits">National Insurance credits</a> can also count.</p>
    <p class="govuk-body">You’ll also need to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>have up to 2 children, or no children</li>
      <li>have an illness or disability that affects your ability to work</li>
    </ul>
    <p class="govuk-body">Your (or your partner’s) income and savings will not affect how much ‘new style’ ESA you’re paid.</p>
    <h4 class="govuk-heading-s govuk-!-padding-top-3">'New style' ESA and Universal Credit</h4>
    <p class="govuk-body">Check if you’re eligible for Universal Credit . If you are, you could get Universal Credit at the same time or instead of ‘new style’ ESA.</p>
    <p class="govuk-body">If you get both Universal Credit and ‘new style’ ESA at the same time, your ‘new style’ ESA payment will be deducted from your Universal Credit payment - you are not guaranteed to get any extra money.</p>

    <h3 class="govuk-heading-m govuk-!-padding-top-3">Contribution-based ESA</h3>
    <p class="govuk-body">To apply for contribution-based ESA you’ll need to have been an employee or self-employed and paid National Insurance contributions, usually in the last 2 to 3 years. <a href="">National Insurance credits</a> can also count.</p>
    <p class="govuk-body">You’ll also need to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>have 3 or more children</li>
      <li>have an illness or disability that affects your ability to work</li>
    </ul>
    <p class="govuk-body">Your (or your partner’s) income and savings will not affect how much contribution-based ESA you’re paid.</p>

    <h3 class="govuk-heading-m govuk-!-padding-top-3">Income-based ESA</h3>
    <p class="govuk-body">You can apply to get income-based ESA if you:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>have 3 or more children</li>
      <li>have an illness or disability that affects your ability to work</li>
      <li>have not paid enough National Insurance contributions</li>
    </ul>
    <p class="govuk-body">Your National Insurance contributions in the last 2 to 3 years don’t affect your eligibility.</p>
    <h3 class="govuk-heading-m">Reapplying for ESA</h3>
    <p class="govuk-body">You may be able to re-apply at least 12 weeks after your ‘new style’ or contribution-based ESA ends. You may qualify again depending on:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>National Insurance contributions you paid in the last 2 full tax years before the tax year you’re claiming in</li>
      <li>whether your health deteriorates and you’re placed in the support group</li>
    </ul>

    <a class="govuk-pagnav" href="govuk-overview">
      <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      Previous
    </a>
    <a class="govuk-pagnav" href="govuk-eligibility">
      <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
        <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
      Next
    </a>

  </div><!-- govuk-grid-column-two-thirds -->
  <div class="govuk-grid-column-one-third">

    {#
      I've stuck the right col in a
      separate file just becaue it doesn't
      change across all these pages.
    #}
    {% include path+"/inc_govuk_rightcol.html" %}

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
