{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your date of birth? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
     text: "Prototype"
  },
  html: 'This is a prototype. No data is saved or stored.'
}) }}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/design-iterations/wt-alt-formats-3/before/nino" method="post" novalidate>		


		<div class="govuk-form-group">
		  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
		    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
		      <h1 class="govuk-fieldset__heading">
		        What is your date of birth?
		      </h1>
		    </legend>
			<div id="dob-hint" class="govuk-hint">
				For example, 16 4 2004
			  </div>
		    <div class="govuk-date-input" id="dob">
		      <div class="govuk-date-input__item">
		        <div class="govuk-form-group">
		          <label class="govuk-label govuk-date-input__label" for="dob-day">
		            Day
		          </label>
		          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
		        </div>
		      </div>
		      <div class="govuk-date-input__item">
		        <div class="govuk-form-group">
		          <label class="govuk-label govuk-date-input__label" for="dob-month">
		            Month
		          </label>
		          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
		        </div>
		      </div>
		      <div class="govuk-date-input__item">
		        <div class="govuk-form-group">
		          <label class="govuk-label govuk-date-input__label" for="dob-year">
		            Year
		          </label>
		          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
		        </div>
		      </div>
		    </div>
		  </fieldset>
		</div>
		{{ govukButton({
			text: "Continue"
		  }) }}

 	</form>

 </div>
</div> 	

{% endblock %}