{% extends "layout.html" %}

{% block pageTitle %}
 Earnings - {{ data['employer-details'] | split(',') | last | default("Asda")}} - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Voluntary and paid work</span>
      How often are you paid by {{ data['employer-details-1'] | split(',') | last | default("Asda")}}?
    </h1>




    <form id="form" method="post" action="/apply/v22/work-supported">
   


      <div class="govuk-form-group">
        <div class="govuk-radios" data-module="govuk-radios">






          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-often-paid-0" name="how-often-paid" type="radio" value="Daily" data-aria-controls="conditional-how-often-paid-0" {{ checked("how-often-paid", "Every day") }}>
            <label class="govuk-label govuk-radios__label" for="how-often-paid">
              Daily
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-often-paid-0">
            <div class="govuk-form-group">
              <label class="govuk-label" for="how-often-paid-daily">
                <strong>How much do you get paid each time?</strong>
              </label>
              <div id="how-often-paid-daily-hint" class="govuk-hint">
                This is the exact amount that is paid into your bank account.
              </div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-10" id="how-often-paid-daily-amount" name="how-often-paid-daily-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['how-often-paid-daily-amount'] }}">
              </div>
            </div>
          </div>


          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-often-paid" name="how-often-paid" type="radio" value="Weekly" data-aria-controls="conditional-how-often-paid" {{ checked("how-often-paid", "Every week") }}>
            <label class="govuk-label govuk-radios__label" for="how-often-paid">
              Weekly
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-often-paid">
            <div class="govuk-form-group">
              <label class="govuk-label" for="how-often-paid-weekly">
                <strong>How much do you get paid each time?</strong>
              </label>
              <div id="how-often-paid-weekly-hint" class="govuk-hint">
                This is the exact amount that is paid into your bank account.
              </div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-10" id="how-often-paid-weekly-amount" name="how-often-paid-weekly-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['how-often-paid-weekly-amount'] }}">
              </div>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-often-paid-2" name="how-often-paid" type="radio" value="Every 2 weeks" data-aria-controls="conditional-how-often-paid-2" {{ checked("how-often-paid", "Every 2 weeks") }}>
            <label class="govuk-label govuk-radios__label" for="how-often-paid">
              Every 2 weeks
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-often-paid-2">
            <div class="govuk-form-group">
              <label class="govuk-label" for="how-often-paid-fortnightly">
                <strong>How much do you get paid each time?</strong>
              </label>
              <div id="how-often-paid-fortnightly-hint" class="govuk-hint">
                This is the exact amount that is paid into your bank account.
              </div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-10" id="how-often-paid-fortnightly-amount" name="how-often-paid-fortnightly-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['how-often-paid-fortnightly-amount'] }}">
              </div>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-often-paid-3" name="how-often-paid" type="radio" value="Every 4 weeks" data-aria-controls="conditional-how-often-paid-3" {{ checked("how-often-paid", "Every 4 weeks") }}>
            <label class="govuk-label govuk-radios__label" for="how-often-paid">
              Every 4 weeks
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-often-paid-3">
            <div class="govuk-form-group">
              <label class="govuk-label" for="how-often-paid-4weeks">
                <strong>How much do you get paid each time?</strong>
              </label>
              <div id="how-often-paid-4weeks-hint" class="govuk-hint">
                This is the exact amount that is paid into your bank account.
              </div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-10" id="how-often-paid-4weeks-amount" name="how-often-paid-4weeks-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['how-often-paid-4weeks-amount'] }}">
              </div>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-often-paid-4" name="how-often-paid" type="radio" value="Every month" data-aria-controls="conditional-how-often-paid-4" {{ checked("how-often-paid", "Every month") }}>
            <label class="govuk-label govuk-radios__label" for="how-often-paid">
              Monthly
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-often-paid-4">
            <div class="govuk-form-group">
              <label class="govuk-label" for="how-often-paid-monthly">
                <strong>How much do you get paid each time?</strong>
              </label>
              <div id="how-often-paid-monthly-hint" class="govuk-hint">
                This is the exact amount that is paid into your bank account.
              </div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-10" id="how-often-paid-monthly-amount" name="how-often-paid-monthly-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['how-often-paid-monthly-amount'] }}">
              </div>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-often-paid-5" name="how-often-paid" type="radio" value="Every 3 months" data-aria-controls="conditional-how-often-paid-5" {{ checked("how-often-paid", "Every 3 months") }}>
            <label class="govuk-label govuk-radios__label" for="how-often-paid">
              Quarterly
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-often-paid-5">
            <div class="govuk-form-group">
              <label class="govuk-label" for="how-often-paid-3monthly">
                <strong>How much do you get paid each time?</strong>
              </label>
              <div id="how-often-paid-3monthly-hint" class="govuk-hint">
                This is the exact amount that is paid into your bank account.
              </div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-10" id="how-often-paid-3monthly-amount" name="how-often-paid-3monthly-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['how-often-paid-3monthly-amount'] }}">
              </div>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-often-paid-6" name="how-often-paid" type="radio" value="Twice a year" data-aria-controls="conditional-how-often-paid-6" {{ checked("how-often-paid", "Twice a year") }}>
            <label class="govuk-label govuk-radios__label" for="how-often-paid">
              Every 6 months
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-often-paid-6">
            <div class="govuk-form-group">
              <label class="govuk-label" for="how-often-paid-twiceyearly">
                <strong>How much do you get paid each time?</strong>
              </label>
              <div id="how-often-paid-twiceyearly-hint" class="govuk-hint">
                This is the exact amount that is paid into your bank account.
              </div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-10" id="how-often-paid-twiceyearly-amount" name="how-often-paid-twiceyearly-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['how-often-paid-twiceyearly-amount'] }}">
              </div>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-often-paid-7" name="how-often-paid" type="radio" value="Once a year" data-aria-controls="conditional-how-often-paid-7" {{ checked("how-often-paid", "Once a year") }}>
            <label class="govuk-label govuk-radios__label" for="how-often-paid">
              Annually
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-often-paid-7">
            <div class="govuk-form-group">
              <label class="govuk-label" for="how-often-paid-yearly">
                <strong>How much do you get paid each time?<br></strong>
              </label>
              <div id="how-often-paid-yearly-hint" class="govuk-hint">
                This is the exact amount that is paid into your bank account.
              </div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-10 " id="how-often-paid-yearly-amount" name="how-often-paid-yearly-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['how-often-paid-yearly-amount'] }}">
              </div>
            </div>
          </div>
        </div>
    </div>
































      <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->








{% endblock %}


















<legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-padding-top-6">
  <h2 class="govuk-fieldset__heading">
    How much do you get paid each time by {{ data['employer-details'] | split(',') | last | default("Asda")}}?
  </h2>
</legend>
<div class="govuk-currency-input">
    <label class="govuk-label" for="event-name">
       This is the exact amount that is paid into your bank account.
    </label>
    <div class="govuk-currency-input__inner">
      <span class="govuk-currency-input__inner__unit govuk-body">£</span>
      <input class="govuk-!-width-two-thirds govuk-currency-input__inner__input govuk-input" aria-label="Enter amount in pounds" name="current-employment--weekly-net" data-non-numeric="" type="number" id="current-employment--weekly-net" pattern="[0-9]\d*(\.\d+)?" value="">
    </div>
</div> <!-- govuk-currency-input -->