<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Get help with your application
      </span>
    </summary>
    <div class="govuk-details__text">

      <p>Call the Universal Credit helpline to get help with your New Style ESA application.</p>
      <p class="small">Telephone: 0800 328 5644 (choose option 3)</p>
      <p class="margin-bottom-30 small">Textphone: 0800 328 1344 (choose option 3)</p>
      <p class="margin-bottom-30 small"><a href="https://www.relayuk.bt.com/">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 328 5644</p>
      <p class="margin-bottom-30 small"><a href="https://dwpesaclaim.signvideo.net/">Video relay service</a> for British Sign Language (BSL) users. <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">Check you can use the video relay service</a>.</p>
      <p class="margin-bottom-30 small">Welsh language telephone: 0800 328 1744</p>
      <p class="margin-bottom-30 small">Monday to Friday, 8am to 6pm</p>
      <p class="margin-bottom-30 small"><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>	
    
    </div>
  </details>

</div>