{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="name">


    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Is it OK for people or organisations you've told us about to share information about you with the Department for Work and Pensions (DWP)?
    </h1>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Why this might be needed
        </span>
      </summary>
      <div class="govuk-details__text">
        DWP might need to ask for more information to deal with your application.
      </div>
    </details>

    <span  class="govuk-hint">

    </span>

    <div class="govuk-form-group">
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="terminal-1" name="terminal" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="terminal-1">
            Yes, they can share information about me with DWP
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="terminal-2" name="terminal" type="radio" value="no" aria-controls="no-reveal">
          <label class="govuk-label govuk-radios__label" for="terminal-2">
            No, I do not want anyone to be contacted about me
          </label>
        </div>
      </div>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
