{% extends "layout.html" %}

{% block content %}

<div class="govuk-breadcrumbs govuk-!-margin-bottom-9" style="margin-top:-20px">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Benefits</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">
      <a class="govuk-breadcrumbs__link" href="">Carers and disability benefits</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Apply for Employment Support Allowance</h1>

    <p class="govuk-body-s govuk-!-margin-bottom-1">Contents</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--bullet-dash">
      <li><a href="govuk-overview">Overview</a></li>
      <li><a href="govuk-whatyouget">What you'll get</a></li>
      <li>Eligibility</li>
      <li><a href="govuk-apply">Apply</a></li>
    </ul>

  </div><!-- govuk-grid-column-two-thirds -->
  <div class="govuk-grid-column-one-third">
    &nbsp;
  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <hr class="govuk-section-break govuk-section-break--visible">

    <h2 class="govuk-heading-l govuk-!-padding-top-3">Eligibility</h2>
    <div class="govuk-inset-text">
      Use a <a href="#" class="govuk-link">benefit calculator</a> to check if you can get Employment and Support Allowance (ESA) or Universal Credit before you apply.
    </div>
    <p class="govuk-body">You may get ESA if your illness or disability affects your ability to work and you’re:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>under <a href="#" class="govuk-link">State Pension age</a></li>
      <li>not getting Statutory Sick Pay or Statutory Maternity Pay and you have not gone back to work</li>
      <li>not getting Jobseeker’s Allowance</li>
    </ul>
    <p class="govuk-body">You can apply for ESA if you’re employed, self-employed, unemployed or a student on <a href="#" class="govuk-link">Disability Living Allowance</a> or <a href="#" class="govuk-link">Personal Independence Payment</a></p>
    <p class="govuk-body">You need to be entitled to apply for Universal Credit to claim ‘new style’ ESA.</p>

    <h3 class="govuk-heading-l govuk-!-padding-top-3">If you've lived or worked abroad</h3>
    <p class="govuk-body">You may be able to get ESA if you’ve paid enough UK National Insurance (or the equivalent in an EEA or other country with which the UK has an agreement).</p>

    <h4 class="govuk-heading-l govuk-!-padding-top-3">Health and work conversation</h4>
    <p class="govuk-body">You’ll usually need to have a health and work conversation to discuss the support you need.</p>
    <p class="govuk-body">You’ll be told if you need one after you claim. If you do, it will take place around 4 weeks after the date of your claim.</p>
    <p class="govuk-body">You might not need one, for example if you’re in hospital or you have a terminal illness.</p>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Your benefit may be reduced if you do not attend your health and work conversation.
      </strong>
    </div>

    <h5 class="govuk-heading-l govuk-!-padding-top-3">Work Capability Assessment</h5>
    <p class="govuk-body">After you make a claim for ESA you’ll get a letter telling you where to go for your Work Capability Assessment and explaining what to do.</p>
    <p class="govuk-body">You must also fill in the <a href="#" class="govuk-link">capability for work questionaire</a> during the application. The questionnaire is different in <a href="#" class="govuk-link">Northern Ireland</a></p>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Your benefit may be stopped if you do not fill in the questionnaire or go for the assessment.
      </strong>
    </div>
    <p class="govuk-body">You may be able to <a href="#" class="govuk-link">get a recording of the assessment.</a></p>

    <h6 class="govuk-heading-l govuk-!-padding-top-3">Repeat claims</h6>
    <p class="govuk-body">In most cases, you will not be eligible for ESA again if you were found capable of doing some work after your Work Capability Assessment. The main exceptions are where:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your current condition has got a lot worse</li>
      <li>you’re claiming for a new condition</li>
    </ul>

    <h7 class="govuk-heading-l govuk-!-padding-top-3">Claiming ESA if you work</h7>
    <p class="govuk-body">You might be able to work and still claim ESA. It depends on how much you’ll get paid and the hours you do.</p>
    <h8 class="govuk-heading-m">Permitted work</h8>
    <p class="govuk-body">If you do ‘permitted work’ it will not usually affect your ESA. It’s permitted work if both the following apply:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you earn up to £125.50 a week</li>
      <li>you work less than 16 hours a week</li>
    </ul>
    <h9 class="govuk-heading-m">Supported permitted work</h9>
    <p class="govuk-body">You can do ‘supported permitted work’ and earn up to £125.50 a week. Supported permitted work must be one of the following:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you earn up to £125.50 a week</li>
      <li>you work less than 16 hours a week</li>
    </ul>

    <h10 class="govuk-heading-l govuk-!-padding-top-3">Your income and savings</h10>
    <p class="govuk-body">Your income may affect your icontributory ESA. Income can include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>savings over £6,000</li>
      <li>pension income</li>
    </ul>
    <p class="govuk-body">New style ESA does not take into account any savings you have.</p>

    <a class="govuk-pagnav" href="govuk-whatyouget">          
      <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      Previous
    </a>  
    <a class="govuk-pagnav" href="govuk-apply">
      <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
        <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
      Next
    </a>  

  </div><!-- govuk-grid-column-two-thirds -->
  <div class="govuk-grid-column-one-third">

    {#
      I've stuck the right col in a
      separate file just becaue it doesn't
      change across all these pages.
    #}
    {% include path+"/inc_govuk_rightcol.html" %}

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
