{% extends "layout.html" %}

{% block content %}

<div class="govuk-breadcrumbs govuk-!-margin-bottom-9" style="margin-top:-20px">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Benefits</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">
      <a class="govuk-breadcrumbs__link" href="">Carers and disability benefits</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Apply for Employment Support Allowance</h1>

    <p class="govuk-body-s govuk-!-margin-bottom-1">Contents</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--bullet-dash">
      <li><a href="govuk-overview">Overview</a></li>
      <li>What you'll get</li>
      <li><a href="govuk-eligibility">Eligibility</a></li>
      <li><a href="govuk-apply">Apply</a></li>
    </ul>

  </div><!-- govuk-grid-column-two-thirds -->
  <div class="govuk-grid-column-one-third">
    &nbsp;
  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <hr class="govuk-section-break govuk-section-break--visible">

    <h2 class="govuk-heading-l govuk-!-padding-top-3">What you'll get</h2>
    <p class="govuk-body">You can get financial support and work-related support through Employment and Support Allowance (ESA).</p>

    <h3 class="govuk-heading-l govuk-!-padding-top-3">Financial support</h3>
    <p class="govuk-body">You’ll normally get the assessment rate for 13 weeks after your claim. This will be:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>up to £57.90 a week if you’re aged under 25</li>
      <li>up to £73.10 a week if you’re aged 25 or over</li>
    </ul>
    <p class="govuk-body">After that, if you’re entitled to ESA, you’ll be placed in one of 2 groups and will receive:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>up to £73.10 a week if you’re in the work-related activity group</li>
      <li>up to £110.75 a week if you’re in the support group</li>
    </ul>
    <div class="govuk-inset-text">
      You might get more ESA in the work-related activity group if you applied before 3 April 2017.
    </div>
    <p class="govuk-body">You may also qualify for the <a href="#" class="govuk-link">disabiity premium</a> at £64.30 per week.</p>
    <p class="govuk-body">If the assessment takes longer than 13 weeks your benefit will be backdated to the 14th week of the claim.</p>
    <div class="govuk-inset-text">
      The <a href="#" class="govuk-link">benefit cap</a> limits the amount of benefit that most people aged 16 to 64 can get. Some individual benefits are not affected, but it may affect the total amount of benefit you get. The cap will not affect you if you’re in the support group.
    </div>

    <h3 class="govuk-heading-l govuk-!-padding-top-3">Work related support</h3>
    <p class="govuk-body">Following your <a href="#" class="govuk-link">work capability assessment</a> you’ll be placed in either the work-related activity group or support group if you’re entitled to ESA.</p>
    <h4 class="govuk-heading-m">Work related activity group</h4>
    <p class="govuk-body">You must go to regular interviews with an adviser who can help with things like job goals and improving your skills.</p>
    <h5 class="govuk-heading-m">Support group</h5>
    <p class="govuk-body">You do not have to go to interviews, but you can ask to talk to a personal adviser. You’re usually in this group if your illness or disability severely limits what you can do.</p>

    <h6 class="govuk-heading-l govuk-!-padding-top-3">Benefit sanctions</h6>
    <p class="govuk-body">Your ESA can be reduced if you do not go to interviews or do work-related activity as agreed with your adviser. This reduction can continue for up to 4 weeks after you restart the interviews or activity.</p>
    <p class="govuk-body">You’ll get a ‘sanction letter’. Tell your ESA adviser if you have a good reason for missing the interview.</p>
    <p class="govuk-body">You’ll get another letter if the decision is made to give you a sanction. Your benefit will only be affected once a decision has been made.</p>
    <p class="govuk-body">You should <a href="#" class="govuk-link">contact your local council immediately</a> if you claim Housing Benefit or Council Tax Reduction. They’ll tell you what to do to continue getting support.</p>
    <p class="govuk-body">If you get a sanction you can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="#" class="govuk-link">ask for the decision to be looked at again</a></li>
      <li>ask for a ‘hardship payment’</li>
    </ul>
    <div class="govuk-inset-text">
      You will not get a sanction if you’re in the support group.
    </div>

    <h7 class="govuk-heading-l govuk-!-padding-top-3">Hardship payments</h7>
    <p class="govuk-body">You may be able to get a hardship payment if your income-related ESA has been reduced because of a sanction or <a href="#" class="govuk-link">fraud penalty.</a> You do not have to pay it back.</p>
    <p class="govuk-body">A hardship payment is a reduced amount of your ESA (usually 60% or 80% of the basic rate, depending on your circumstances).</p>
    <h8 class="govuk-heading-m">Eligibility</h8>
    <p class="govuk-body">You can get a hardship payment if you cannot pay for rent, heating, food or other basic needs for you or your family.</p>
    <p class="govuk-body">You must be 18 or over.</p>
    <h9 class="govuk-heading-m">How to claim</h9>
    <p class="govuk-body">Speak to your Jobcentre Plus adviser or work coach to find out how to claim a hardship payment.</p>
    <div class="govuk-inset-text">
      <strong>Jobcentre Plus</strong> <br>
      Telephone: 0800 169 0310<br>
      Textphone: 0800 169 0314<br>
      Welsh language: 0800 328 1744<br>
      Monday to Friday, 8am to 6pm<br>
      <a href="#" class="govuk-link">Find out about call charges</a>
    </div>

    <h10 class="govuk-heading-l govuk-!-padding-top-3">How you're paid</h10>
    <p class="govuk-body">All benefits, pensions and allowances are <a href="#" class="govuk-link">paid into your bank, building society or credit union account.</a></p>
    <h11 class="govuk-heading-m">Bank holidays</h11>
    <p class="govuk-body">If your payment is due on a bank holiday, you’ll be paid on the last working day before the holiday.</p>

    <h12 class="govuk-heading-l govuk-!-padding-top-3">Get budgeting help</h12>
    <p class="govuk-body">Contact the <a href="#" class="govuk-link">money advice service</a> to get help and advice with budgeting.</p>
    <p class="govuk-body">You can also apply for a <a href="#" class="govuk-link">budgeting loan</a> if you’ve been on income-related ESA for at least 6 months.</p>

    <a class="govuk-pagnav" href="govuk-overview">          
      <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      Previous
    </a>  
    <a class="govuk-pagnav" href="govuk-eligibility">
      <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
        <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
      Next
    </a>

  </div><!-- govuk-grid-column-two-thirds -->
  <div class="govuk-grid-column-one-third">

    {#
      I've stuck the right col in a
      separate file just becaue it doesn't
      change across all these pages.
    #}
    {% include path+"/inc_govuk_rightcol.html" %}

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
