{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="hospital">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Which doctor's surgery or medical centre do you use?
    </h1>

    <div class="govuk-form-group">
      <label class="govuk-label" for="surgery">
        Name of doctor's surgery or medical centre
      </label>
      <input class="govuk-input govuk-!-width-one-half" id="surgery" name="surgery" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="surgery">
        Address
      </label>
      <p><input class="govuk-input govuk-!-width-one-half" id="address-1" name="address-1" type="text"></p>
      <p><input class="govuk-input govuk-!-width-one-half" id="address-2" name="address-2" type="text"></p>
      <p><input class="govuk-input govuk-!-width-one-half" id="address-3" name="address-3" type="text"></p>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="surgery">
        Postcode
      </label>
      <p><input class="govuk-input govuk-!-width-one-half" id="postcode" name="postcode" type="text"></p>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- fitnote -->

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
