{% extends "layout.html" %}

{% block pageTitle %}
 Recent Statutory Sick Pay - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form id="form" method="post" action="/prototype-experimental/benefits/claim-start-date-if-statutory-sick-pay">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Do you want to claim from <span class="suggested-claim-date" data-year="{{ data['ssp-year'] }}" data-month="{{ data['ssp-month'] }}" data-day="{{ data['ssp-day'] }}"></span>?</h1>

        </legend>

        <p>This is the day after your Statutory Sick Pay end date. You can choose a later date, but you cannot get New Style ESA and Statutory Sick Pay at the same time.</p>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="statutory-pay-1" name="claim-date-statutory-pay" type="radio" value='yes'>
            <label class="govuk-label govuk-radios__label" for="statutory-pay-1">
             Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="statutory-pay-2" name="claim-date-statutory-pay" type="radio" value='no'>
            <label class="govuk-label govuk-radios__label" for="statutory-pay-2">
            No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

