{% extends "layout.html" %}

{% block pageTitle %}
What format do you need us to use when we send you letters? - Apply for New Style Employment and Support
Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us
      to improve it.
    </span>
  </p>
</div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if (data['alt-format'] == "print") %}
    <form id="form" method="post" action="large-print">

    {% elseif (data['alt-format'] == "paper") %}
    <form id="form" method="post" action="colour-paper">

    {% else %}
    <form id="form" method="post" action="telephone">
    {% endif %}

    <!-- Functionality not in prototype if someone selects large print and colour paper, but it should take you to large print page first, then coloured paper, then address -->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="self-emp-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What format do you need us to use when we send you letters?
            </h1>
          </legend>
          
          <span id="waste-hint" class="govuk-hint">
            Select all that apply.
          </span>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-1" name="alt-format" type="checkbox" value="audio">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-1">
                Audio forms on cassette tape, CD or MP3
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-2" name="alt-format" type="checkbox" value="braille">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-2">
                Braille
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-formatp-3" name="alt-format" type="checkbox" value="email">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-3">
                Email
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-4" name="alt-format" type="checkbox" value="print">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-4">
                Large print
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-5" name="alt-format" type="checkbox" value="paper">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-5">
                Letters on coloured paper
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-6" name="alt-format" type="checkbox" value="pdf">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-6">
                Web accessible PDF
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-9" name="alt-format" type="checkbox" value="word">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-9">
                Word document
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-10" name="alt-format" type="checkbox" value="other" data-aria-controls="alt-format-other">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-10">
                Something else
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="alt-format-other">
              <div class="govuk-form-group">
                <label class="govuk-label" for="alt-format-other">
                  How can we help when we contact you by letter?
                </label>
                <textarea class="govuk-textarea" id="alt-format-other" name="alt-format-other" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>
            <span id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You can enter up to 500 characters
            </span>
            </div>


          <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}