{% extends "layout.html" %}

{% block pageTitle %}
What format do you need us to use when we contact you by phone? - Apply for New Style Employment and Support
Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us
      to improve it.
    </span>
  </p>
</div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="/apply/v18/email">

    <!-- Functionality not in prototype if someone selects large print and colour paper, but it should take you to large print page first, then coloured paper, then address -->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="self-emp-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What format do you need us to use when we contact you by phone?
            </h1>
          </legend>
          
          <span id="waste-hint" class="govuk-hint">
            Select all that apply.
          </span>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-7" name="alt-format" type="checkbox" value="relay">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-7">
                Relay UK, Type talk or textphone
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-8" name="alt-format" type="checkbox" value="sign">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-8">
                Video Relay Service
              </label>
            </div>
            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-10" name="alt-format" type="checkbox" value="other" data-aria-controls="alt-format-other">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-10">
                Something else
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="alt-format-other">
              <div class="govuk-form-group">
                <label class="govuk-label" for="alt-format-other">
                  How can we help when we contact you by phone?
                </label>
                <textarea class="govuk-textarea" id="alt-format-other" name="alt-format-other" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>
            <span id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You can enter up to 500 characters
            </span>
            </div>


          <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}