{% extends "layouts/main.html" %}

{% block pageTitle %}
Other accessibility needs – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
     text: "Prototype"
  },
  html: 'This is a prototype. No data is saved or stored.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Other accessibility needs
      </h1>

      {% if data['checkanswers']=="visited" %}
      <form class="form" action="/design-iterations/wt-6927-ra/ra-version1/af-check-answers" method="post">
      {% else %}
      <form class="form" action="/design-iterations/wt-6927-ra/ra-version1/reasonable-adjustment-options" method="post">
      {% endif %}

        <p class="govuk-body">
          We can meet other accessibility needs for you. 
        </p>
        <p class="govuk-body">For example, you might need:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a ground floor appointment room or lift access</li>
            <li>contact by telephone</li>
            <li>disabled parking</li>
            <li>ramp access to a jobcentre</li>
             <li>someone with you for your appointment</li>
          </ul>
        <p class="govuk-body">If your claim is accepted, we will contact you to find out more about your accessibility needs.</p>

        {{ govukRadios({
          name: "adjustments",
          value: data['adjustments'],
          fieldset: {
            legend: {
              text: "Do you have any other accessibility needs?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
