{% extends "layout.html" %}

{% block content %}

<div class="app-step-nav-header">
  <span class="app-step-nav-header__part-of">Part of</span>
  <a class="app-step-nav-header__title" href="govuk-steps">
    How to claim 'new style' Employment and Support Allowance (ESA): step by step
  </a>
</div>

<main class="govuk-main-wrapper " id="main-content" role="main">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Employment and Support Allowance (ESA)</h1>

    <p class="govuk-body-s govuk-!-margin-bottom-1">Contents</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--bullet-dash">
      <li><a href="govuk-overview">Overview</a></li>
      <li><a href="govuk-whatyouget">What you'll get</a></li>
      <li><a href="govuk-typesofesa">Types of ESA</a></li>
      <li><a href="govuk-eligibility">Eligibility</a></li>
      <li><a href="start-page-steps">Apply</a></li>
      <li>Report a change of circumstances</li>
      <li><a href="govuk-incapacitybenefit">Moving from Incapacity Benefit to ESA</a></li>
    </ul>

  </div><!-- govuk-grid-column-two-thirds -->
  <div class="govuk-grid-column-one-third">
    &nbsp;
  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <hr class="govuk-section-break govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-padding-top-3 govuk-!-font-size-27">Report a change of circumstances</h2>
    <p class="govuk-body">You need to report changes to your circumstances so you keep getting the right amount of Employment and Support Allowance (<abbr title="Employment and Support Allowance">ESA</abbr>).</p>
    <p class="govuk-body">Your claim might be stopped or reduced if you do not report a change straight away.</p>
    <p class="govuk-body">A change of circumstance can include:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>starting or stopping work, education, training or an apprenticeship</li>
      <li>moving house</li>
      <li>changing your name</li>
      <li>people moving into or out of the place you live (for example your partner or a child)</li>
      <li>changes to the benefits you or anyone else in your house gets</li>
      <li>changes to your pension, savings, investments or property</li>
      <li>changes to other money you get (for example student loans or grants, sick pay or money you get from a charity)</li>
      <li>changing your doctor</li>
      <li>any changes to your medical condition or disability</li>
      <li>going into hospital or a care home or sheltered accommodation</li>
      <li>going abroad for any length of time</li>
    </ul>

    <p class="govuk-body">Call the <abbr title="Employment and Support Allowance">ESA</abbr> helpline if you’re not sure whether you need to report a change.</p>

    <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You may be prosecuted or have to pay a £50 penalty if you give wrong or incomplete information, or do not report changes straight away.
  </strong>
</div>

    <h3 class="govuk-heading-m">How to report</h3>

    <p class="govuk-body">You can report a change of circumstances by:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>calling the <abbr title="Employment and Support Allowance">ESA</abbr> helpline</li>
      <li>writing to the Jobcentre Plus office that pays your <abbr title="Employment and Support Allowance">ESA</abbr> - the address is on the letters you get about your <abbr title="Employment and Support Allowance">ESA</abbr>
    </li>
    </ul>

    <div>
    <p class="govuk-body"><strong><abbr title="Employment and Support Allowance">ESA</abbr> and ‘new style’ <abbr title="Employment and Support Allowance">ESA</abbr> helpline</strong><br>
    Telephone: 0800 169 0310<br>
    Textphone: 0800 169 0314<br>
    <a href="http://ngts.org.uk/">NGT text relay</a> (if you cannot hear or speak on the phone): 18001 then 0800 169 0310 <br>
    Welsh language: 0800 328 1744<br>
    Monday to Friday, 8am to 6pm<br>
    <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
    </div>

  <div class="govuk-inset-text">
    If you’re claiming <a href="https://www.gov.uk/universal-credit/changes-of-circumstances">Universal Credit</a> as well as ‘new style’ <abbr title="Employment and Support Allowance">ESA</abbr>, you must report changes to both services.</p>
    </div>

    <h4 class="govuk-heading-s">British Sign Language (<abbr title="British Sign Language">BSL</abbr>) video relay service</h3>

    <p class="govuk-body">To use this, you’ll need to:</p>
    <ol class="govuk-list govuk-list--number">
    <li><a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">Check you can use the service</a></li>
    <li><a href="https://dwpesahelpline.signvideo.net">Go to the video relay service</a></li>
    </ol>
    <p class="govuk-body">The video relay service is available Monday to Friday, 8am to 6pm.</p>
    <div class="govuk-inset-text">
    If you’re in Northern Ireland contact the <a href="https://www.nidirect.gov.uk/contacts/contacts-az/employment-and-support-allowance-centre"><abbr title="Employment and Support Allowance">ESA</abbr> Centre</a>.
    </div>

    <h3 class="govuk-heading-m">If you’ve been paid too much</h3>

    <p class="govuk-body">If you do not report a change straight away or give wrong or incomplete information, you might be paid too much. If you are, you might have to <a href="/benefit-overpayments/when-repayments-have-to-be-made">pay some of the money back</a>.</p>


    <a class="govuk-pagnav" href="govuk-overview">
      <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      Previous
    </a>
    <a class="govuk-pagnav" href="govuk-eligibility">
      <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
        <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
      Next
    </a>

  </div><!-- govuk-grid-column-two-thirds -->
  <div class="govuk-grid-column-one-third">

    {#
      I've stuck the right col in a
      separate file just becaue it doesn't
      change across all these pages.
    #}
    {% include path+"/inc_govuk_rightcol.html" %}

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
