{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl" style="display:none">
          Your health
    </span>

    <form id="form" method="post" action="severe-condition">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Which doctor’s surgery or medical centre do you use?
    </h1>
    <span id="gp-hint" class="govuk-hint">
      The Department for Work and Pensions might need to contact your doctor for more information about your condition.
    </span>
    <div class="govuk-form-group">
      <label class="govuk-label" for="surgery">
        Name of surgery or medical centre
      </label>
      <input class="govuk-input govuk-!-width-one-half" id="surgery" name="surgery" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="surgery">
      Surgery phone number
      </label>
      <input class="govuk-input govuk-!-width-one-half" id="surgery" name="surgery" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="gp">
        Name of your doctor (optional)
      </label>
      <span id="national-insurance-number-hint" class="govuk-hint">
        This helps identify the right person to speak to.
      </span>
      <input class="govuk-input govuk-!-width-one-half" id="gp" name="gp" type="text">
    </div>

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h2 class="govuk-fieldset__heading">
            GP surgery address
          </h2>
        </legend>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Building and street
            <span class="govuk-visually-hidden">line 1 of 2</span>
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1" name="address-line-1" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-line-2" name="address-line-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="address-town" name="address-town" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <span id="event-name-hint" class="govuk-hint">
            If the address is outside the UK and does not have a postcode you can enter the province, state or department.
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-postcode" name="address-postcode" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Country (if outside the UK)
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-postcode" name="address-postcode" type="text">
        </div>

     </fieldset>

    <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- severe-condition  -->

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
