{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<span class="govuk-caption-xl" style="display:none">
          Statutory payments
    </span>

    <form id="form" method="post" action="statutory-pay-other">

		<div class="govuk-form-group">
		  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
		    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
		      <h1 class="govuk-fieldset__heading">
		        When did your Statutory Sick Pay end?
		      </h1>
		    </legend>
        <p>You can find this on form SSP1 if your employer gave it to you. If not, check with your employer or accountant.</p>
        <span id="dob-hint" class="govuk-hint">
          For example, 15 2 2019
        </span>
		    <div class="govuk-date-input" id="dob">
		      <div class="govuk-date-input__item">
		        <div class="govuk-form-group">
		          <label class="govuk-label govuk-date-input__label" for="ssp-recent-dob-day">
		            Day
		          </label>
		          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ssp-recent-dob-day" name="ssp-recent-dob-day" type="text" maxlength="2"pattern="[0-9]*">
		        </div>
		      </div>
		      <div class="govuk-date-input__item">
		        <div class="govuk-form-group">
		          <label class="govuk-label govuk-date-input__label" for="ssp-recent-dob-month">
		            Month
		          </label>
		          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ssp-recent-dob-month" name="ssp-recent-dob-month" type="text" maxlength="2" pattern="[0-9]*">
		        </div>
		      </div>
		      <div class="govuk-date-input__item">
		        <div class="govuk-form-group">
		          <label class="govuk-label govuk-date-input__label" for="ssp-recent-dob-year">
		            Year
		          </label>
		          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="ssp-recent-dob-year" name="ssp-recent-dob-year" type="text" maxlength="4" pattern="[0-9]*">
		        </div>
		      </div>
		    </div>
		  </fieldset>
		</div>

		<input type="submit" class="govuk-button" value="Continue" id="submit">

 	</form>

 </div>
</div>

{% endblock %}
