.dwp-key-details-bar {
    background-color: #1d70b8;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  .dwp-key-details-bar dt,
  .dwp-key-details-bar dd {
    border: none;
    margin: 0;
    padding: 0;
  }
  
  .dwp-key-details-bar__key-details {
    border: 0;
    margin: 0 auto;
    max-width: 960px;
    padding: 20px 30px;
    position: relative;
  }
  
  @media (max-width: 40.0525em) {
    .dwp-key-details-bar__key-details {
      padding: 20px 15px;
    }
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__top-block,
  .dwp-key-details-bar .dwp-key-details-bar__bottom-block {
    margin: 0;
    font-size: 1.188rem;
  }
  
  @media (max-width: 40.0525em) {
    .dwp-key-details-bar .dwp-key-details-bar__top-block,
    .dwp-key-details-bar .dwp-key-details-bar__bottom-block {
      font-size: 1rem;
    }
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__top-block::after,
  .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__bottom-block::after {
    clear: both;
    content: " ";
    display: block;
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__bottom-block {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    content: " ";
    padding-top: 10px;
    margin-top: 6px;
  }
  
  @media (max-width: 40.0525em) {
    .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__bottom-block {
      border: 0;
    }
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details dd,
  .dwp-key-details-bar .dwp-key-details-bar__key-details dt {
    float: left;
    margin-right: 5px;
  }
  
  @media (max-width: 40.0525em) {
    .dwp-key-details-bar .dwp-key-details-bar__key-details dd,
    .dwp-key-details-bar .dwp-key-details-bar__key-details dt {
      float: none;
      margin: 0;
    }
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details dd {
    margin-right: 20px;
  }
  
  @media (max-width: 40.0525em) {
    .dwp-key-details-bar .dwp-key-details-bar__key-details dd {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 40.0525em) {
    .dwp-key-details-bar .dwp-key-details-bar__key-details dd:last-of-type {
      margin-bottom: 20px;
    }
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__primary {
    font-size: 2.25rem;
    font-weight: 700;
    display: block;
    margin-top: 0;
    color: #fff;
  }
  
  @media (max-width: 40.0525em) {
    .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__primary {
      font-size: 1.5rem;
      font-weight: 700;
      float: left;
      margin: 0;
    }
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__secondary {
    font-size: 1.5rem;
    display: block;
    margin-top: 9px;
    color: #fff;
  }
  
  @media (max-width: 40.0525em) {
    .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__secondary {
      font-size: 1.188rem;
      float: left;
      margin: 5px 0 0 0;
    }
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__status {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    padding: 5px 0 0;
    color: #005ea5;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    margin: 5px 0 0;
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__status--dwp-default {
    color: #1d70b8;
    background-color: #fff;
  }
  
  @media (max-width: 40.0525em) {
    .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__status {
      font-size: 0.875rem;
      float: left;
      clear: both;
      margin-top: 5px;
      padding: 0;
    }
  }
  
  .dwp-key-details-bar.ex-bg-purple {
    background-color: rebeccapurple;
  }
  
  .dwp-key-details-bar.ex-bg-purple .dwp-key-details-bar__key-details .dwp-key-details-bar__status {
    color: rebeccapurple;
  }