.screenshot-notes {
	// background-color: #333;
  img {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    position: relative;
    top: 3px;
  }
  margin-bottom: 40px;
  .govuk-heading-s {
    margin-bottom: 5px;
  }
}