{% extends "layout.html" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <br /><h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Page not found
    </h1>

      
            <p>
                If you typed the web address, check it is correct.
            </p>
            <p>
                If you pasted the web address, check you copied the entire address.
            </p>
            <p>
                Go to the <a href="../eligibility-start">Apply for New Style ESA service start page</a>.
            </p>


  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
