{% extends "layout.html" %}

{% block pageTitle %}
 Off sick from work - {{ data['employer-details'] | split(',') | last | default("Asda")}} - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Are you off sick from your job at {{ data['employer-details'] | split(',') | last | default("Asda")}}?
    </h1>

    <div class="govuk-form-group">
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="work-1" name="offSick" type="radio" value='yes~/apply/live/last-work'>
          <label class="govuk-label govuk-radios__label" for="work-1">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="work-3" name="offSick" type="radio" value='no~/apply/live/work-hours' aria-controls="no-reveal">
          <label class="govuk-label govuk-radios__label" for="work-3">
            No
          </label>
        </div>
      </div>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}


