
{% extends "layout.html" %}

{% block pageTitle %}
What colour paper do you need? - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
     
        What colour paper do you need?
      </h1>
      <form action="coloured-paper" method="get">


        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% set emailHtml %}
            {{ govukInput({
                  id: "other",
                  name: "other",
                  type: "other",
                  spellcheck: false,
                  classes: "govuk-!-width-one-third"
                }) }}
                {% endset -%}
        {{ govukRadios({
          idPrefix: "coloured-paper",
          name: "Coloured paper",
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
             text: "Select the best option for your needs."
           },
          items: [
            {
              value: "cream",
              text: "Cream"
            },
            {
              value: "pastel-blue",
              text: "Pastel blue"
            },
            {
              value: "pastel-yellow",
              text: "Pastel yellow"
            },
            {
              value: "other",
              text: "Other",
              conditional: {
                html: emailHtml
              }
            }
          ]
        }) }}

        {% if 'largePrint' in data['lettersContactPreference'] %}
          {{ govukButton({
                text: "Continue",
                href: "large-print"
            }) }}

            {% elif 'colouredPaperLargePrint' in data['lettersContactPreference'] %}
              {{ govukButton({
                    text: "Continue",
                    href: "large-print"
                }) }}
        {% else %}
          {{ govukButton({
                text: "Continue",
                href: "phone-contact-preference"
            }) }}
        {% endif %}

      </form>
    </div>
  </div>

{% endblock %}