
{% extends "layout.html" %}

{% block pageTitle %}
What type of braille do you need? - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
     
        What type of braille do you need?
      </h1>
      <form action="braille" method="post">


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "braille",
          name: "braille",
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
         
          items: [
            {
              value: "uncontracted-braille-grade-1",
              text: "Uncontracted braille (grade 1)"
            },
            {
              value: "contracted-braille-grade-2",
              text: "Contracted braille (grade 2)"
            }
          ]
        }) }}

        {% if 'colouredPaper' in data['lettersContactPreference'] %}
          {{ govukButton({
                text: "Continue",
                href: "coloured-paper"
            }) }}

            {% elif 'largePrint' in data['lettersContactPreference'] %}
              {{ govukButton({
                    text: "Continue",
                    href: "large-print"
                }) }}

        {% else %}
          {{ govukButton({
                text: "Continue",
                href: "phone-contact-preference"
            }) }}
        {% endif %}


      </form>
    </div>
  </div>

{% endblock %}