{% extends "layout.html" %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form id="form" method="post" action="condition-another">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-4" for="condition-details">
                What health condition, illness, disability or injury do you have?
            </h1>
            <span id="event-name-hint" class="govuk-hint">
              You will be able to tell us more about your condition and how it affects you at the next stage of the claim process.
            </span>
            <span id="event-name-hint2" class="govuk-hint">
              If you have more than one condition, you can add others later. You can add up to 12 conditions, in any order.
            </span>
            <input type="hidden" value="" name="condition-details" id="condition-details-hidden"/>

            <div class="govuk-form-group">
              <label class="govuk-label--s" for="condition-name">
                Name of condition
              </label>
              <input class="govuk-input" id="condition-name" name="condition-name" type="text"></div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="conditions-0-started-hint" role="group">
  
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <p class="govuk-fieldset__heading">When it first started</p>
                </legend>
                <p>If you don’t know the exact date, you can give an estimate.</p>
                <span id="conditions-0-started-hint" class="govuk-hint">For example, 30 3 1997</span>
                <div class="govuk-date-input" id="conditions-{{ i }}-started">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="conditions-{{ i }}-started-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="conditions-{{ i }}-started-day" name="conditions-{{ i }}-started-day" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="conditions-{{ i }}-started-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="conditions-{{ i }}-started-month" name="conditions-{{ i }}-started-month" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="conditions-{{ i }}-started-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="conditions-{{ i }}-started-year" name="conditions-{{ i }}-started-year" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                </div>
                </fieldset>
              </div><!-- govuk-form-group -->

            <input type="submit" class="govuk-button" value="Continue" id="formbutton">
        </form>
    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

{% block pageScripts %}
<!--
  Using jQuery to branch the page flow based on which radio buttons are checked.
-->
<script type="text/javascript">
  $(document).on('ready',function()
  {

    // grab the existing data from the session (if it is there)
    var session_data = "{{ data['condition-details'] }}" ;
    // put it in log
    console.log(session_data);


    // whemn button is clicked
    $('#formbutton').on('click',function(e)
    {
      // don't submit the form
      e.preventDefault();
      // grab what was typed into the name box.
      var name = $('#condition-name').val();
      // add that to the existing session data
      var new_session_data = (session_data) ? session_data + ',' + name : name;
      // put this new data back into the form (hidden)
      $('#condition-details-hidden').val(new_session_data);
      // submit the form as usual
      $("#form").submit();
    })
  });
</script>
{% endblock %}
