{% extends "layout.html" %}

{% block pageTitle %}
What type of email do you need? - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
    
        What type of email do you need?
      </h1>
      <form action="address-is-it-postal" method="get">


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "emailPreferences",
          name: "emailPreferences",
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
         
          items: [
            {
              value: "PDF",
              text: "PDF attachment"
            },
            
            {
              value: "wordDocument",
              text: "Word document attachment"
            }
          ]
        }) }}

          {{ govukButton({
                text: "Continue",
                href: "condition"
            }) }}

      </form>
    </div>
  </div>

{% endblock %}