{% extends "layout.html" %}

{% block pageTitle %}
Do you need us to contact you in an alternative format? - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl">Accessibility</span>
      What paper colour do you need?
    </h1>
    <form action="coloured-paper" method="get">


      
  

<div class="govuk-form-group">

<fieldset class="govuk-fieldset" aria-describedby="coloured-paper-hint">


<div id="coloured-paper-hint" class="govuk-hint">
  Select the best option for your needs.
</div>


<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
  
    
        
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="coloured-paper" name="Coloured paper" type="radio" value="cream">
        <label class="govuk-label govuk-radios__label" for="coloured-paper">
      Cream
    </label>
        
      </div>
      
      
    
  
    
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="coloured-paper-2" name="Coloured paper" type="radio" value="pastel-blue">
        <label class="govuk-label govuk-radios__label" for="coloured-paper-2">
      Pastel blue
    </label>
        
      </div>
      
      
    
  
    
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="coloured-paper-3" name="Coloured paper" type="radio" value="pastel-yellow">
        <label class="govuk-label govuk-radios__label" for="coloured-paper-3">
      Pastel yellow
    </label>
        
      </div>
      
      
    
  
    
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="coloured-paper-4" name="Coloured paper" type="radio" value="other" aria-controls="conditional-coloured-paper-4" aria-expanded="false">
        <label class="govuk-label govuk-radios__label" for="coloured-paper-4">
      Other
    </label>
        
      </div>
      
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-coloured-paper-4">
          
          

<div class="govuk-form-group">


<input class="govuk-input govuk-!-width-one-third" id="other" name="other" type="other" spellcheck="false">
</div>

              
        </div>
      
      
    
  
</div>


</fieldset>


</div>


      
        


  


<a href="phone-contact-preference" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
Continue
</a>

      

    </form>
  </div>
</div>



{% endblock %}

