{% extends "layout.html" %}

{% block pageTitle %}
What size large print do you need? - Apply for New Style Employment and Support
Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us
      to improve it.
    </span>
  </p>
</div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if (data['alt-format'] == "paper") %}
    <!-- functionality broke -->
    <!-- if both, go to large print page first, then colour paper -->
    <form id="form" method="post" action="colour-paper">
    {% else %}
    <form id="form" method="post" action="/apply/v18/address">
    {% endif %}

      {{ govukRadios({
      id: "print-size",
      name: "print-size",
      fieldset: {
      legend: {
      text: "What size large print do you need?",
      classes: "govuk-fieldset__legend govuk-fieldset__legend--l"
      }
      },
      items: [
      {
      value: "size-16",
      text: "Size 16"
      },
      {
      value: "size-18",
      text: "Size 18"
      },
      {
      value: "size-20",
      text: "Size 20"
      },
      {
      value: "size-22",
      text: "Size 22"
      },
      {
      value: "size-24",
      text: "Size 24"
      },
      {
      value: "size-26",
      text: "Size 26"
      }
      ]
      }) }}


      <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}