{% extends "layout.html" %}

{% block pageTitle %}
You cannot apply online for someone else - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ super() }}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      You cannot apply online for someone else</h1>
  </legend>
  <p>Apply by telephone if you’re a registered appointee, deputy, power of attorney or belong to a corporate acting body.</p>

  <p>Call the Universal Credit helpline to apply for New Style ESA.</p>
  <p class="small">Telephone: 0800 055 6688 (choose option 3)</p>
  <p class="margin-bottom-30 small">Textphone: 0800 328 1344 (choose option 3)</p>
  <p class="margin-bottom-30 small"><a href="https://www.relayuk.bt.com/">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 055 6688</p>
  <p class="margin-bottom-30 small"><a href="https://dwpesaclaim.signvideo.net/">Video relay service</a> for British Sign Language (BSL) users. <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY" class="govuk-link" rel="noreferrer noopener" target="_blank">Check you can use the video relay service (opens in new tab)</a>.</p>
  <p class="margin-bottom-30 small">Welsh language telephone: 0800 328 1744</p>
  <p class="margin-bottom-30 small">Monday to Friday, 8am to 6pm</p>
  <p class="margin-bottom-30 small"><a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target="_blank">Find out about call charges (opens in new tab)</a>.</p>	


  </div>



    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
