{% extends "layout.html" %}

{% block pageTitle %}
 Not eligible because of State Pension age - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ super() }}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Based on your answers, you&rsquo;re not eligible for New Style ESA</h1>
  </legend>

  <p>You must be under State Pension age to claim New Style ESA.</p>
  <p><a href="https://www.gov.uk/plan-for-retirement">Check what pension and other financial support you can get</a> if you&rsquo;re over State Pension age.</p>


  </div>


    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
