{% extends "layout.html" %}

{% block pageTitle %}
 Pension or annuity payments - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}







<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-l">Pension or annuity</span>
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l">Is this pension or annuity inherited?</label></h1>
    <div class="govuk-hint">This would usually be from someone who has died. We will use this information to work out the amount of New Style ESA you might be entitled to.</div>



    <form method="post" action="/prototype-experimental/pension/pension-2/pension-add-another">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
       
          
        <div class="govuk-radios govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="pension-inherited-1" name="pension2-inherited" type="radio" value="Yes">
            <label class="govuk-label govuk-radios__label" for="pension-inherited-1">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="pension-inherited-2" name="pension2-inherited" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="pension-inherited-2">
              No
            </label>
          </div>
          
        </div>
      </fieldset>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

