{% extends "layout.html" %}

{% block pageTitle %}
 Pension or annuity payments - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Pension or annuity</span>
      How often is your pension or annuity paid?
    </h1>


    <form id="form" method="post" action="/prototype-experimental/pension/pension-2/pension-reference">

    





      <div class="govuk-form-group">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="current-pension-paid" name="current-pension-paid" type="radio" value="Weekly" data-aria-controls="conditional-current-pension-paid" {{ checked("current-pension-paid", "Every week") }}>
            <label class="govuk-label govuk-radios__label" for="current-pension-paid">
              Every week
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-current-pension-paid">
            <div class="govuk-form-group">
              <label class="govuk-label" for="current-pension-paid-weekly">
                <strong>What is your gross pension or annuity?<br></strong>
                This is the total amount before tax is taken off.<br>
                You can find this on your pension statement.
              </label>
              <div id="current-pension-paid-weekly-hint" class="govuk-hint">
                For example, £128.37
              </div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="current-pension-paid-weekly-amount" name="current-pension-paid-weekly-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['current-pension-paid-weekly-amount'] }}">
              </div>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="current-pension-paid-2" name="current-pension-paid" type="radio" value="Every 2 weeks" data-aria-controls="conditional-current-pension-paid-2" {{ checked("current-pension-paid", "Every 2 weeks") }}>
            <label class="govuk-label govuk-radios__label" for="current-pension-paid">
              Every 2 weeks
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-current-pension-paid-2">
            <div class="govuk-form-group">
              <label class="govuk-label" for="current-pension-paid-fortnightly">
                <strong>What is your gross pension or annuity?<br></strong>
                This is the total amount before tax is taken off.<br>
                You can find this on your pension statement.
              </label>
              <div id="current-pension-paid-fortnightly-hint" class="govuk-hint">
                For example, £128.37
              </div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="current-pension-paid-fortnightly-amount" name="current-pension-paid-fortnightly-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['current-pension-paid-fortnightly-amount'] }}">
              </div>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="current-pension-paid-3" name="current-pension-paid" type="radio" value="Every 4 weeks" data-aria-controls="conditional-current-pension-paid-3" {{ checked("current-pension-paid", "Every 4 weeks") }}>
            <label class="govuk-label govuk-radios__label" for="current-pension-paid">
              Every 4 weeks
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-current-pension-paid-3">
            <div class="govuk-form-group">
              <label class="govuk-label" for="current-pension-paid-4weeks">
                <strong>What is your gross pension or annuity?<br></strong>
                This is the total amount before tax is taken off.<br>
                You can find this on your pension statement.
              </label>
              <div id="current-pension-paid-4weeks-hint" class="govuk-hint">
                For example, £128.37
              </div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="current-pension-paid-4weeks-amount" name="current-pension-paid-4weeks-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['current-pension-paid-4weeks-amount'] }}">
              </div>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="current-pension-paid-4" name="current-pension-paid" type="radio" value="Every month" data-aria-controls="conditional-current-pension-paid-4" {{ checked("current-pension-paid", "Every month") }}>
            <label class="govuk-label govuk-radios__label" for="current-pension-paid">
              Every month
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-current-pension-paid-4">
            <div class="govuk-form-group">
              <label class="govuk-label" for="current-pension-paid-monthly">
                <strong>What is your gross pension or annuity?<br></strong>
                This is the total amount before tax is taken off.<br>
                You can find this on your pension statement.
              </label>
              <div id="current-pension-paid-monthly-hint" class="govuk-hint">
                For example, £128.37
              </div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="current-pension-paid-monthly-amount" name="current-pension-paid-monthly-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['current-pension-paid-monthly-amount'] }}">
              </div>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="current-pension-paid-5" name="current-pension-paid" type="radio" value="Every 3 months" data-aria-controls="conditional-current-pension-paid-5" {{ checked("current-pension-paid", "Every 3 months") }}>
            <label class="govuk-label govuk-radios__label" for="current-pension-paid">
              Every 3 months
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-current-pension-paid-5">
            <div class="govuk-form-group">
              <label class="govuk-label" for="current-pension-paid-3monthly">
                <strong>What is your gross pension or annuity?<br></strong>
                This is the total amount before tax is taken off.<br>
                You can find this on your pension statement.
              </label>
              <div id="current-pension-paid-3monthly-hint" class="govuk-hint">
                For example, £128.37
              </div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="current-pension-paid-3monthly-amount" name="current-pension-paid-3monthly-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['current-pension-paid-3monthly-amount'] }}">
              </div>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="current-pension-paid-6" name="current-pension-paid" type="radio" value="Twice a year" data-aria-controls="conditional-current-pension-paid-6" {{ checked("current-pension-paid", "Twice a year") }}>
            <label class="govuk-label govuk-radios__label" for="current-pension-paid">
              Twice a year
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-current-pension-paid-6">
            <div class="govuk-form-group">
              <label class="govuk-label" for="current-pension-paid-twiceyearly">
                <strong>What is your gross pension or annuity?<br></strong>
                This is the total amount before tax is taken off.<br>
                You can find this on your pension statement.
              </label>
              <div id="current-pension-paid-twiceyearly-hint" class="govuk-hint">
                For example, £128.37
              </div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="current-pension-paid-twiceyearly-amount" name="current-pension-paid-twiceyearly-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['current-pension-paid-twiceyearly-amount'] }}">
              </div>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="current-pension-paid-7" name="current-pension-paid" type="radio" value="Once a year" data-aria-controls="conditional-current-pension-paid-7" {{ checked("current-pension-paid", "Once a year") }}>
            <label class="govuk-label govuk-radios__label" for="current-pension-paid">
              Once a year
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-current-pension-paid-7">
            <div class="govuk-form-group">
              <label class="govuk-label" for="current-pension-paid-yearly">
                <strong>What is your gross pension or annuity?<br></strong>
                This is the total amount before tax is taken off.<br>
                You can find this on your pension statement.
              </label>
              <div id="current-pension-paid-yearly-hint" class="govuk-hint">
                For example, £128.37
              </div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="current-pension-paid-yearly-amount" name="current-pension-paid-yearly-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['current-pension-paid-yearly-amount'] }}">
              </div>
            </div>
          </div>
        </div>
    </div>


















    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

