{% extends "layout.html" %}

{% block pageTitle %}
 Apply if you've had a Universal Credit statement - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new window)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
        You can apply for New Style ESA if you’ve had a Universal Credit statement</h1>
  </legend>

  <p>If you've had a Universal Credit statement, you can apply for New Style ESA. This is called a dual claim.</p>
  <p>If you've applied for Universal Credit, but not yet had a statement, do not apply for New Style ESA yet. Wait for your first Universal Credit statement. You can check if it's there by signing in to your Universal Credit account. Once your statement is ready, you can come back and apply for New Style ESA.</p>
  
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          What do you want to do?</h2>
      </legend>

      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="apply-for-uc-1" name="apply-for-uc" type="radio" value="yes~/apply/v13/coronavirus-eligibility" data-aria-controls="yes-cond">
          <label class="govuk-label govuk-radios__label" for="apply-for-uc-1">
            Continue to apply for New Style ESA because I've had a statement from Universal Credit
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="apply-for-uc-2" name="apply-for-uc" type="radio" value="no~https://www.gov.uk/sign-in-universal-credit/">
          <label class="govuk-label govuk-radios__label" for="apply-for-uc-2">
            Sign in to my Universal Credit account to check for a statement
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <input type="submit" class="govuk-button" value="Continue" id="submit">
  

    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

