{% extends "layout.html" %}

{% block pageTitle %}
 Give feedback - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new window)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="feedback-sent">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Give feedback
    </h1>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Overall, how did you feel about the service you received today?
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    Very satisfied
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    Satisfied
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                    Neither satisfied or dissatisfied
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                    Dissatisfied
                  </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                    <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                      Very dissatisfied
                    </label>
                  </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              How could we improve this service?            
            </legend>
      
            <p>
              Do not include any personal or financial information, for example your National Insurance or credit card numbers.
            </p>
            <p>
            The feedback you provide is anonymous and not part of your application.
            </p>
            <div class="govuk-inset-text">
              We will not respond to your feedback or use it when we process your claim.
            </div>
            {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

            {{ govukCharacterCount({
              name: "with-hint",
              id: "with-hint",
              maxlength: 1200,
              label: {
                text: ""
              },
              hint: {
                text: ""
              }
            }) }}          
            </div>

    <input type="submit" class="govuk-button" value="Send feedback" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
