{% extends "layout.html" %}

{% block pageTitle %}
 Earnings - {{ data['employer-details'] | split(',') | last | default("Asda")}} - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new window)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="work-supported">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" >
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Earnings
            </h1>
          </legend>

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                How often are you paid by {{ data['employer-details'] | split(',') | last | default("Asda")}}?
              </h2>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-often-paid-1" name="how-often-paid"" type="radio" value="daily">
                <label class="govuk-label govuk-radios__label" for="how-often-paid-1">
                  Daily
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-often-paid-2" name="how-often-paid" type="radio" value="weekly">
                <label class="govuk-label govuk-radios__label" for="how-often-paid-2">
                  Weekly
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-often-paid-3" name="how-often-paid" type="radio" value="2-weekly">
                <label class="govuk-label govuk-radios__label" for="how-often-paid-3">
                  Every 2 weeks
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-often-paid-4" name="how-often-paid" type="radio" value="4-weekly">
                <label class="govuk-label govuk-radios__label" for="how-often-paid-4">
                  Every 4 weeks
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-often-paid-5" name="how-often-paid" type="radio" value="monthly">
                <label class="govuk-label govuk-radios__label" for="how-often-paid-5">
                  Monthly
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-often-paid-6" name="how-often-paid" type="radio" value="quarterly">
                <label class="govuk-label govuk-radios__label" for="how-often-paid-6">
                  Quarterly
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-often-paid-7" name="how-often-paid" type="radio" value="6-monthly">
                <label class="govuk-label govuk-radios__label" for="how-often-paid-7">
                  Every 6 months
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-often-paid-8" name="how-often-paid" type="radio" value="annually">
                <label class="govuk-label govuk-radios__label" for="how-often-paid-4">
                  Annually
                </label>
              </div>

            </div> <!-- govuk-radios -->


            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-padding-top-6">
              <h2 class="govuk-fieldset__heading">
                How much was your last payment from {{ data['employer-details'] | split(',') | last | default("Asda")}}?
              </h2>
            </legend>
            <div class="govuk-currency-input">
                <label class="govuk-label" for="event-name">
                   This is the exact amount that was paid into your bank account.
                </label>
                <div class="govuk-currency-input__inner">
                  <span class="govuk-currency-input__inner__unit govuk-body">£</span>
                  <input class="govuk-!-width-two-thirds govuk-currency-input__inner__input govuk-input" aria-label="Enter amount in pounds" name="current-employment--weekly-net" data-non-numeric="" type="number" id="current-employment--weekly-net" pattern="[0-9]\d*(\.\d+)?" value="">
                </div>
            </div> <!-- govuk-currency-input -->




        </fieldset>
      </div> <!-- govuk-form-group -->

      <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
