{% extends "layout.html" %}

{% block pageTitle %}
What size large print do you need? - Apply for New Style Employment and Support
Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us
      to improve it.
    </span>
  </p>
</div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which font size do you need?</h1>
          </legend>


    
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="accessible-format-1" name="accessible-format" type="radio" value="yes~/apply/v18/alt-formats-2/address" data-aria-controls="yes-cond">
              <label class="govuk-label govuk-radios__label" for="accessible-format-1">
                Font size 16
              </label>
              
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="accessible-format-2" name="accessible-format" type="radio" value="no~/apply/v18/alt-formats-2/address">
              <label class="govuk-label govuk-radios__label" for="accessible-format-2">
                Font size X 
              </label>
            </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="accessible-format-2" name="accessible-format" type="radio" value="no~/apply/v18/alt-formats-2/what-font-size">
            <label class="govuk-label govuk-radios__label" for="accessible-format-2">
              Something else
            </label>
            <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
              We'll ask you what size on the next page
            </div>
          </div>

        <!-- <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="accessible-format-2" name="accessible-format" type="radio" value="no~/apply/v18/alt-formats-2/alt-format-contact">
          <label class="govuk-label govuk-radios__label" for="accessible-format-2">
            I don't know
          </label>
        </div>
      </div> -->

      </fieldset>
      </div>

      <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}