{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      Declaration
    </h1>
  </legend>

  <div class="govuk-form-group">

    <p>By sending this application you confirm that:
    <ul class="govuk-list govuk-list--bullet">
      <li>the information you've given is correct and complete as far as you know</li>
      <li>you&rsquo;ll report any changes in your circumstances</li>
      <li>you&rsquo;ll pay back any money you&rsquo;re overpaid if you&rsquo;re asked to</li>
    </ul>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You could be prosecuted or have to pay a penalty if you deliberately give the wrong or incomplete information or do not report changes.
      </strong>
    </div>

  </div>

    <a href="done" class="govuk-button">I understand, send my application</a>

    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
