{% extends "layout.html" %}

{% block pageTitle %}
What do you need instead of a phone call? - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
      <h1 class="govuk-heading-l">What do you need instead of a phone call?</h1>

      <p>We usually call you if we have any questions about your application. </p>


      <form action="phone-contact-preference" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukRadios({
          idPrefix: "phone-contact-preference",
          name: "phoneContactPreference",
          fieldset: {
            legend: {
                classes: "govuk-fieldset__legend--l"
              }
            },
           
          items: [
         

          {
            value: "relayUk",
            text: "Relay UK"
          },

            {
              value: "textphone",
              text: "Textphone"
            },
            {
              value: "emailPhone",
              text: "Email as a reasonable adjustment"
            },
           
           
            {
              divider: "or"
            },
            {
              value: "none",
              text: "You can contact me by phone",
              behaviour: "exclusive"
            }
           
          ]
        }) }}
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}