{% extends "layouts/main.html" %}

{% block pageTitle %}
   What type of audio do you need? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
     text: "Prototype"
  },
  html: 'This is a prototype. No data is saved or stored.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="audio" method="post" >

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "audio",
          fieldset: {
            legend: {
              text: "What type of audio do you need?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },

          items: [

            {
              value: "cd",
              text: "CD"
            },
            {
              value: "mp3",
              text: "MP3"
            },
            {
              value: "cassette",
              text: "Cassette Tape"
            },
            {
              value: "dvd",
              text: "DVD"
            }
          ]
        }) }}
        {{ govukButton({
              text: "Continue",
              href: "reasonable-adjustment?checkanswers"
          }) }}

      </form>
    </div>
  </div>


{% endblock %}
