{% extends "layouts/main.html" %}

{% block pageTitle %}
Version 1.0: Reasonable adjustments – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Version 1.0: Reasonable adjustments</h1>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Problem statement
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">
            Currently, we don't provide the opportunity for citizen who apply for NSESA to tell us whether they have reasonable adjustments needs. 
            This prevents us from meeting legal requirements to accommodate users with disabilities or other accessibility needs. 
            As a result, some users of the digital service may face barriers in completing their application after submitting their claim or accessing the support they need, which could lead to frustration, exclusion and non-compliance with accessibility laws.
          </p>
      </details>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Hypothesis
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">
            We believe that by adding a clear, accessible way for users to indicate their reasonable adjustment needs as part of the online application for NSESA, 
            we will enable more users to complete their application successfully up to the decision state, 
            which will result in a more inclusive service, increased user satisfaction and compliance with legal accessibility requirements.
          </p>
      </details>

         <h2 class="govuk-heading-m">User journey:</h2>
         <p class="govuk-body">
          <a href="/design-iterations/wt-5682-ra/guard">Alternative formats and reasonable adjustments journey</a>
        </p>
      
      <h2 class="govuk-heading-m">Individual screens:</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/design-iterations/wt-5682-ra/reasonable-adjustment">Reasonable adjustments question page</a></li>
        <li><a href="/design-iterations/wt-5682-ra/af-check-answers?alt-formats=yes">Check your answers sample page</a></li>
      </ul>


    </div>
  </div>

{% endblock %}
