{% extends "layout.html" %}

{% block pageTitle %}
 You may be eligible for New Style ESA - Apply for New Style Employment and Support Allowance - GOV.UK 
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Based on your answers, you may be eligible for New Style ESA</h1>
  </legend>

  <p>This is the main application form. It&rsquo;s the first part of your claim. After you send it, we will give you more information on what happens next. You will be able to tell us more about your situation and how it affects you later in the claim process.</p>

  <div class="govuk-inset-text">
    You will not be able to save your answers and come back to the form later. But you’ll get a chance to check and update your answers before you send them.
  </div>

  <p class="govuk-body">We will treat your personal information carefully. We may use it for any of our purposes. To learn about your information rights and how we use information, see our <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter" class="govuk-link" rel="noreferrer noopener" target="_blank">personal information charter (opens in new tab)</a>.</p>


  <p><a href="condition" class="govuk-button">Start now</a></p>

  </div>


    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
