{% extends "layout-agent.html" %}

{% block content %}

<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#passport-issued-day">Enter a National Insurance number in the correct format</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<h1 class="govuk-heading-l govuk-!-margin-bottom-4">
  Find a claim
</h1>

<div class="govuk-form-group govuk-form-group--error">
  <label class="govuk-label" for="national-insurance-number">
    Enter the claimant's National Insurance number
  </label>
  <p id="national-insurance-number-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Enter a National Insurance number in the correct format
  </p>
  <input class="govuk-input govuk-input--error" id="national-insurance-number" name="national-insurance-number" type="text" aria-describedby="national-insurance-number-hint national-insurance-number-error">
</div>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

{% endblock %}