{% extends "layout-agent.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <form id="form" method="post" action="agent-table-alternative">
  
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        Find a claim
      </h1>
      
      <div class="govuk-form-group">
        <div id="national-insurance-number-hint" class="govuk-hint">
          Enter the claimant's national insurance number
        </div>
        <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="national-insurance-number" name="national-insurance-number" type="text" spellcheck="false" aria-describedby="national-insurance-number-hint">
      </div>
  
      <input type="submit" class="govuk-button" value="Continue" id="submit">
  
      </form>
  
    </div><!-- govuk-grid-column-two-thirds -->
  </div><!-- govuk-grid-row -->

{% endblock %}