{% extends "layout.html" %}

{% block pageTitle %}
Sorry, the service is unavailable - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

<main id="content" class="container">
  <div class="blue-border-bottom"></div>
  <div class="grid-row margin-bottom-60">
      <div class="column-two-thirds">
          <h1 class="govuk-fieldset__legend govuk-fieldset__legend--xl">Sorry, the service is unavailable</h1>

          

          <p class="margin-bottom-30 small">You will be able to use the service later.</p>
  
              <h2 class="govuk-fieldset__legend--m">Other ways to apply</h2>
              <p class="margin-bottom-30 small">Call the Universal Credit helpline to apply for New Style Employment and Support Allowance (ESA).</p>
              
              <p class="small">Telephone: 0800 328 5644 (choose option 2)</p>
              <p class="margin-bottom-30 small">Textphone: 0800 328 1344 (choose option 2)</p>
              <p class="margin-bottom-30 small"><a href="https://www.relayuk.bt.com/">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 328 5644</p>
              <p class="margin-bottom-30 small"><a href="https://dwpesaclaim.signvideo.net/">Video relay service</a> for British Sign Language (BSL) users. <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">Check you can use the service</a>.</p>
              <p class="margin-bottom-30 small">Welsh language telephone: 0800 328 1744</p>
              <p class="margin-bottom-30 small">Monday to Friday, 9.30am to 3.30pm</p>
              <p class="margin-bottom-30 small"><a href="https://www.gov.uk/call-charges">Find out about call charges</a>.</p>	
              
              <div class="govuk-inset-text">
                This page is also available <a href=akami-index-cy.html>in Welsh (Cymraeg)</a>.
              </div>

               

    </div>

      <div class="column-one-third">
          <!--
  <div class="blue-border-bottom" style="margin-top:40px;"></div>
          <h2 class="small">Check if you could apply for a New Style Employment and Support Allowance Special Payment helpline</h2>
          <p class="font-small gds-grey">Telephone 0000 000 0000 Textphone 0000 000 0000</p>
          <p class="font-small gds-grey">Monday to Friday, Xam to X.XXpm.</p>
    -->
      </div>
  </div>
</main>

{% endblock %}