{% extends "layout.html" %}

{% block pageTitle %}
Mae’n ddrwg gennym, nid yw’r gwasanaeth ar gael - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

<main id="content" class="container">
  <div class="blue-border-bottom"></div>
  <div class="grid-row margin-bottom-60">
      <div class="column-two-thirds">
          <h1 class="govuk-fieldset__legend govuk-fieldset__legend--xl">Mae’n ddrwg gennym, nid yw’r gwasanaeth ar gael</h1>

          
          
          <p class="margin-bottom-30 small">Byddwch yn gallu defnyddio’r gwasanaeth yn nes ymlaen.</p>
  
              <h4 class="govuk-fieldset__legend--m">Ffyrdd eraill i wneud cais</h4>
              <p class="margin-bottom-30 small">Ffoniwch linell gymorth Credyd Cynhwysol i wneud cais am Lwfans Cyflogaeth a Chymorth Dull Newydd (ESA).</p>
              
              <p class="small">Ffôn: 0800 328 1744</p>
              <p class="margin-bottom-30 small">Ffôn testun: 0800 328 1344</p>
              <p class="margin-bottom-30 small"><a href="https://www.relayuk.bt.com/">Relay UK</a> (os na allwch glywed neu siarad dros y ffôn): 18001 yna 0800 328 5644</p>
              <p class="margin-bottom-30 small"><a href="https://dwpesaclaim.signvideo.net/">Video relay service</a> am ddefnyddwyr Iaith Arwyddion Prydain (BSL). <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">Gwiriwch eich bod yn gallu defnyddio’r gwasanaeth</a>.</p>
              <p class="margin-bottom-30 small">Llinell Saesneg : 0800 328 5644 (dewiswch opsiwn 2)</p>
              <p class="margin-bottom-30 small">Dydd Llun i ddydd Gwener, 9.30 am i 3.30pm</p>
              <p class="margin-bottom-30 small"><a href="https://www.gov.uk/call-charges">Darganfyddwch am gostau galwadau</a>.</p>

              <div class="govuk-inset-text">
                Mae’r dudalen yma hefyd ar gael <a href=akami-index-en>yn Saesneg (English)</a>.
              </div>

  

    </div>

      <div class="column-one-third">
          <!--
  <div class="blue-border-bottom" style="margin-top:40px;"></div>
          <h2 class="small">Check if you could apply for a New Style Employment and Support Allowance Special Payment helpline</h2>
          <p class="font-small gds-grey">Telephone 0000 000 0000 Textphone 0000 000 0000</p>
          <p class="font-small gds-grey">Monday to Friday, Xam to X.XXpm.</p>
    -->
      </div>
  </div>
</main>

{% endblock %}