{% extends "layout.html" %}

{% block pageTitle %}
Session timeout - Apply for New Style Employment and Support Allowance - GOV.UK - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

<html lang="en">

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
    </span>
  </p>
</div>
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<html lang="cy">


    <h1 class="govuk-heading-l">Mae’n ddrwg gennym, bydd angen i chi ddechrau eto</h1>

    <p>Mae’ch sesiwn wedi dod i ben oherwydd nad ydych wedi gwneud unrhyw beth ar y gwasanaeth am 60 munud.</p>

    <p>Rydym yn gwneud hyn er eich diogelwch. Nid ydym wedi arbed unrhyw wybodaeth bersonol rydych wedi’i roi</p>

    <div class="govuk-inset-text">
      Mae’r dudalen yma hefyd ar gael <a href="session-timeout-en.html">yn Saesneg (English)</a>.
    </div>
  
    <p><a href="eligibility-start" class="govuk-button">Dechrau eich cais eto</a></p>

    </html>


  
  </div>

</div>
{% endblock %}
