{% extends "layout.html" %}

{% block pageTitle %}
Session timeout - Apply for New Style Employment and Support Allowance - GOV.UK - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

<html lang="en">

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
    </span>
  </p>
</div>
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Sorry, you’ll need to start again</h1>
  
    <p>Your session has ended because you have not done anything on the service for 60 minutes.</p>

    <p>We do this for your security. We have not saved any personal information you entered.</p>

    <div class="govuk-inset-text">
      This page is also available <a href="session-timeout-cy">in Welsh (Cymraeg)</a>.
    </div>

    <p><a href="eligibility-start" class="govuk-button">Start your application again</a></p>

  
</div>

</div>
{% endblock %}
