{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="claimdate">

      <fieldset class="govuk-fieldset govuk-!-margin-top-6">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
            Where do you want to be paid?
            </h1>
          </legend>

          <details class="govuk-details" role="group">
            <summary class="govuk-details__summary" role="button" aria-controls="details-content-73c485f0-0921-4c30-9f01-a0d4135ed3d9" aria-expanded="true">
              <span class="govuk-details__summary-text">
                What to do if you don't have a bank account
              </span>
            </summary>
            <div class="govuk-details__text" id="details-content-73c485f0-0921-4c30-9f01-a0d4135ed3d9" aria-hidden="false">
              <p>We can collect this information from you during your initial appointment. If you don’t personally have a bank account, we can use an account of a trusted friend or family member.</p>
              <p><a href="claimdate">Continue without providing bank details</a></p>
            </div>
          </details>

          <div class="govuk-form-group">
            <label class="govuk-label" for="pay-account-holder">
              Name of account holder
            </label>
            <input class="govuk-input govuk-input--width-20" id="pay-account-holder" name="pay-account-holder" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="pay-account-holder">
              Account number
            </label>
            <input class="govuk-input govuk-input--width-10" id="pay-account-holder" name="pay-account-holder" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="pay-account-holder">
              Sort code
            </label>
            <input class="govuk-input govuk-input--width-10" id="pay-account-holder" name="pay-account-holder" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="pay-reference-number">
              Building society roll or reference number (optional)
            </label>
            <span id="pay-reference-number-hint" class="govuk-hint">
              If your building society uses a roll or reference number, you will find it on your passbook.
            </span>
            <input class="govuk-input govuk-input--width-20" id="pay-reference-number" name="pay-reference-number" type="number" aria-describedby="pay-reference-number-hint" maxlength="18">
          </div>

        </fieldset>

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
