{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="work">

    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" >
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Are you going into hospital to stay as an inpatient in the next 3 months?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-1">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                Yes, I'm going into hospital in the next 3 months
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="contact-by-email">
                  Hospital name
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="contact-by-email">
                  Ward name or number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email">
              </div>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
                  <label class="govuk-heading-s">
                    Admission date
                  </label>
                  <div class="govuk-date-input" id="dob">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="dob-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="dob-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="dob-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                No, I'm not going into hospital in the next 3 months
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-3" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-3">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                I don't know, I'm waiting to find out
              </label>
            </div>

          </div>
        </div>

        </fieldset>
        <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- work -->
      </div>



    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
