<div style="border-top: 2px solid #005ea5;">

  <h2 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2"> Related content </h2>
  <ul class="govuk-list govuk-body-s">
    <li><a href="">Benefits calculators</a></li>
    <li><a href="">Financial help if you're disabled</a></li>
    <li><a href="">Jobseeker's Allowance (JSA)</a></li>
    <li><a href="">Universal Credit</a></li>
    <li><a href="">Statutory Sick Pay (SSP) </a></li>
  </ul>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-7">

  <h3 class="govuk-body-s govuk-!-margin-top-3 govuk-!-margin-bottom-2"> Explore the topic </h3>
  <ul class="govuk-list govuk-body-s">
    <li><a href="">Carers and disability benefits</a></li>
    <li><a href="">Jobseeker's Allowance and low income benefits</a></li>
    <li><a href="">Benefits and financial help</a></li>
  </ul>

</div>
