{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="consent">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Did you pay more than half of the premiums for this policy yourself?
          </h1>
        </legend>

        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-1" name="hospital" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changed-name-1">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="hospital" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- consent -->

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

<!-- {% block pageScripts %} -->
<!--
  Using jQuery to branch the page flow based on which radio buttons are checked.
-->
<!-- <script type="text/javascript">
  $(document).on('ready',function()
  {
    // target the #form element
    // attached an event listener that runs
    // a function when the form is submitted
    $('#form').on('submit', function(e)
    {
      // depending on the value="" of the <input>
      // that's been checked, change the action=""
      // of the <form> and then allow it to submit.
      switch($('input[name="hospital"]:checked').val())
      {
        case 'yes':
          $('#form').attr('action','work');
          break;
        case 'no':
          $('#form').attr('action','carehome');
          break;
        // if nothing is ticked don't submit the form.
        default: return false; break;
      }
      // returning 'true' allows the form to submit
      // after we're finished with the above.
      return true;
    });
  });
</script>
{% endblock %} -->
