{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="insurance">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Pension details
    </h1>

    <div class="govuk-form-group">
      <label class="govuk-label" for="surgery">
        Pension provider
      </label>
      <input class="govuk-input govuk-!-width-one-half" id="surgery" name="surgery" type="text">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="surgery">
        Pension reference number
      </label>
      <input class="govuk-input govuk-!-width-one-half" id="surgery" name="surgery" type="text">
    </div>
    <p>
      <a href="#" class="govuk-button app-button--grey">Add another</a>
    </p> 
    <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- fitnote -->

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
