{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-top-9">Apply for New Style Employment and Support Allowance (ESA)</h1>
      <p>Before you apply make sure you have:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your National Insurance number</li>
        <li>your bank or building society details</li>
        <li>your GP surgery name and address</li>
        <li>details of any current work or voluntary work</li>
        <li>details of any workplace pensions you're receiving</li>
        <li>details of any permanent health insurance or employment income protection policies</li>
      </ul>

      <a href="condition" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>

      <h2 class="govuk-heading-m">After you've applied</h2>
      <p>After you submit your application you’ll need to make an appointment to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>prove your identity</li>
          <li>agree and sign a 'claimant commitment' which is a record of the responsibilities you accept in return for receiving ESA</li>
        </ul>
      <p>You'll be told how to make the appointment at the end of this application.</p>

      <div class="govuk-inset-text">
        You won’t get Employment Support Allowance if you don't make an appointment.
      </div>


    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
