{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="contact-preference">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      What is your telephone number?
    </h1>
    <span id="national-insurance-number-hint" class="govuk-hint">
      The Department for Work and Pensions will contact you by text message if you give a mobile number.
If not, they will contact you on a landline.
    </span>

    <div class="govuk-form-group">
  <label class="govuk-label" for="telephone-number">
    Telephone number
  </label>
  <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel">
</div>
 <!-- form group -->
<div>
  <input type="submit" class="govuk-button" value="Continue" id="submit">
</div>
</form>
</div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
