{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="work-hours">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
  Voluntary work details
    </h1>
  </legend>
    <span id="dob-hint" class="govuk-hint">
    You can add more than one role if you need to.</span>
    <div class="govuk-form-group">
    <label class="govuk-label" for="surgery">
    Role
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="surgery" name="surgery" type="text">
    </div>
    <div class="govuk-form-group">
    <label class="govuk-label" for="surgery">
    Organisation name
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="surgery" name="surgery" type="text">
    </div>
    <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-1">
    Organisation address
    <span class="govuk-visually-hidden">line 1 of 2</span>
    </label>
    <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
    </div>
    <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-2">
    <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
    </label>
    <input class="govuk-input" id="address-line-2" name="address-line-2" type="text">
    </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-town">
      Town or city
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-county">
      County
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Postcode
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
  </div>
    <p>
      <a href="#" class="govuk-button app-button--grey">Add another</a>
    </p>

    <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- fitnote -->

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
