{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Has the number of hours you work a week changed as a result of your condition?
    </h1>

    <div class="govuk-form-group">
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="terminal-1" name="terminal" type="radio" value="yes" data-aria-controls="yes-changed">
          <label class="govuk-label govuk-radios__label" for="terminal-1">
            Yes
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="yes-changed">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-email">
              How many hours a week did you work before they changed?
            </label>
            <p class="govuk-!-margin-0"><input class="govuk-input govuk-input--width-2" id="contact-by-email" name="contact-by-email" type="email">&nbsp;&nbsp;hours a week</p>
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="terminal-2" name="terminal" type="radio" value="no" aria-controls="no-reveal">
          <label class="govuk-label govuk-radios__label" for="terminal-2">
            No
          </label>
        </div>
      </div>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit">

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
