{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Application complete
      </h1>
      <div class="govuk-panel__body">
        Your reference is your
        <br><strong>National Insurance number</strong>
      </div>
    </div>

    <h3 class="govuk-heading-m">Things to do now</h3>

        </p>
        <p class="govuk-body">
        If you have them, you'll need to provide your:
        <ul class="govuk-list govuk-list--bullet">
          <li>fit note</li>
          <li>SSP1 form</li>
          <li>P45</li>
        </ul>
        </p>


    <h3 class="govuk-heading-m">What happens next</h3>

        <p class="govuk-body">
        You'll get a letter in the next x weeks. It will either:
        <ul class="govuk-list govuk-list--bullet">
          <li>tell you if you'll get ESA and how much</li>
          <li>ask for more information</li>
        </ul>
        </p>


        <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
