{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}

{% endblock %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="/country-answer" method="post">

{{ govukRadios({
  name: "country",
  value: data['country'],
  fieldset: {
    legend: {
      text: "Where do you live?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "England",
      text: "England"
    },
    {
      value: "Scotland",
      text: "Scotland"
    },
    {
      value: "Wales",
      text: "Wales"
    },
    {
      value: "Northern Ireland",
      text: "Northern Ireland"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}

