{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      Use your Universal Credit account to apply</h1>
  </legend>

  <p>You can apply for New Style ESA as part of a dual claim with Universal Credit.</p>
  <p><a href="https://www.gov.uk/sign-in-universal-credit">Sign in to your Universal Credit account</a> and add a note to your journal to tell your case manager you want to apply for a dual claim to New Style ESA.</p>


    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
