{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
        Based on your answers,  you're not eligible for New Style ESA</h1>
  </legend>

  <p>If you're receiving {{ data['statutory-pay'] }}, you can apply for Universal Credit. <a href="https://www.gov.uk/how-to-claim-universal-credit">Check if you're eligible for Universal Credit</a>.</p>

  <p>Or you can apply for New Style ESA once you enter your last 3 months of {{ data['statutory-pay'] }}.</p>

  </div>


    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
