
{% extends "layout.html" %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="red">Content updates to make</p>
    <ul class="govuk-list govuk-list--bullet red">
      <li>You can check and change your answers</li>
      <li>Break up before you start</li>
      <li>Introduce the list of things to expect</li>
      <li>Increase the prominence of the save warning on before you start</li>
      <li>Remove reference to work capability assessment</li>
      <li>Make sure the appointment message refers to attending an appointment, and not making one.</li>
      <li>Message about private beta being invite only?</li>
    </ul>

    <h1 class="govuk-heading-xl">Apply for New Style Employment and Support Allowance (New Style ESA)</h1>
<p>Use this service if you need financial support because you are off work with a health condition, injury or disability.</p>
    
    <h2 class="govuk-heading-m">What to expect</h2>
  <p>The online form is divided into 2 parts.</p>
  <p>First, you'll be asked some questions to find out if you're eligible for New Style ESA. Depending on your answers, there might be a different benefit that's more appropriate for you.</p>
  <p>If New Style ESA is the right benefit for you, you'll go into the main application form. There you'll be asked questions about:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>your health</li>
    <li>any paid work</li>
    <li>any voluntary work</li>
    <li>any statutory payments</li>
  </ul>
<div class="govuk-inset-text">
<p>You do not need to send any medical evidence now. The Department for Work and Pensions (DWP) will contact you if they need you to get it in the future.</p>
</div>

    <a href="before-you-start" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-6 govuk-!-margin-bottom-8">Start now</a>

</div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
