{% extends "layout.html" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <br /><h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        Sorry, there is a problem with the service
    </h1>

      
            <p>
                We have not saved your answers. You will have to start again.
            </p>
            <p>
                Go to the <a href="../eligibility-start">Apply for New Style ESA service start page</a>.
            </p>


  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
