{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="declaration">

      <h1 class="govuk-heading-l">Check your answers: voluntary work</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Doing voluntary work
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="voluntary-work">
              Change<span class="govuk-visually-hidden"> conditions</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Voluntary work details
          </dt>
          <dd class="govuk-summary-list__value">
            Oxfam<br>
            72 Guild street<br>
            London<br>
            SF23 6FH<br>
            020 7946 0809<br>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of voluntary work
          </dt>
          <dd class="govuk-summary-list__value">
            Spend some time helping on the tills and washing clothes before they go on sale.
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change<span class="govuk-visually-hidden"> life expectancy</span>
            </a>
          </dd>
        </div>
       <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hours you volunteer each week
          </dt>
          <dd class="govuk-summary-list__value">
            1
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Expenses paid for this voluntary work
           </dt>
           <dd class="govuk-summary-list__value">
             None
           </dd>
           <dd class="govuk-summary-list__actions">
             <a href="#">
               Change
             </a>
           </dd>
        </div>
      </dl>

      <a href="../list?voluntarywork=completed" class="govuk-button">Confirm and continue</a>

    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->

{% endblock %}