{% extends "layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Before you start</h1>
  <div class="govuk-inset-text">
    <p>You will not be able to save your answers and come back to the form later. But you’ll get a chance to check and update your answers before you send it.</p>
  </div>
    <p>Make sure you have your:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>National Insurance number</li>
      <li>bank or building society account details</li>
      <li>doctor's surgery name and address</li>
    </ul>

    <p>You’ll also need details of the following, if they apply to you:
     <ul class="govuk-list govuk-list--bullet">
      <li>current or recent work</li>
      <li>the date any Statutory Sick Pay ended or will end</li>
     </ul>

     <p>If you do not have a bank account, you can use the account of a trusted family member or friend. Find out <a href="https://www.citizensadvice.org.uk/debt-and-money/banking/getting-a-bank-account/">how to get a bank account</a> if you want to set one up.</p>


    <p><a href="eligibility-start.html" class="govuk-button">Continue</a></p>

  </div>

</div>
{% endblock %}
