{% extends "layout.html" %}

{% block pageTitle %}
Sharing your information - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="voluntary-work">

        <h1 class="govuk-heading-l">Sharing your information</h1>

        <p>We may need to contact your doctor about the health conditions you’ve told us about.</p>
        <p>If you say 'No', we may not have all the information we need when we make a decision about your claim.</p>
      

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Is it OK for your doctor to tell us about your health conditions?
          </legend>

          <div id="consent" class="govuk-hint">
            You can change your mind later. If you do, we will not ask your doctor to share any more information with us.          </div>

          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="consent" name="consent" type="radio" value="Yes" aria-describedby="sign-in-1-item-hint">
              <label class="govuk-label govuk-radios__label" for="sign-in-1">
              Yes, my doctor can discuss my health
            </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="consent" name="consent" type="radio" value="No" aria-describedby="sign-in-2-item-hint" style="color: #111">
              <label class="govuk-label govuk-radios__label" for="sign-in-2">
              No, my doctor cannot discuss my health
            </label>
            </div>

          </div>


        </fieldset>
      </div><!-- govuk-form-group -->
        <input type="submit" class="govuk-button" value="I have read and understood" id="submit">
            {% include "includes/get-help.html" %}

</form>

    </div><!-- govuk-grid-column-two-thirds -->
  </div><!-- govuk-grid-row -->
{% endblock %}
