{% extends "layout.html" %}

{% block pageTitle %}
Helping someone apply for New Style ESA - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="eligibility-start">

    <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Helping someone apply for New Style ESA</h1>
  </legend>
</fieldset>

  
<p class="govuk-body">You can help someone apply for New Style ESA if:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the applicant is giving you the answers</li>
  <li>the applicant can be contacted about the claim</li>
</ul>

<p class="govuk-body">Complete the application as if you are the applicant. Do not enter your own details.</p>

<p class="govuk-body">If you’re an appointee, deputy, belong to a Corporate Acting Body or have power of attorney use the <a href="cannot-apply-online.html">telephone application</a>.</p>

<input type="submit" class="govuk-button" value="Continue" id="submit">


</form>
    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
