{% extends "layout.html" %}

{% block pageTitle %}
 Late claim - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="">

    <h1 class="govuk-heading-l">Your claim start date is more than 3 months ago</h1>

    <p>You can only get New Style ESA for up to 3 months in the past, unless:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you or someone else has already told us you want to make a claim</li>
      <li>your employer took more than 3 months to tell you you’re not entitled to Statutory Sick Pay</li>
    </ul>

      <p>We may need to contact you.</p>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="statutory-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Are you sure you want to claim from {{data['claim-day']}} {{data['claim-month'] | toMonth }} {{data['claim-year']}}?
          </h2>
        </legend>


        <div class="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sap" name="statutory-pay" type="radio" value='yes~/apply/v17/claim-end-date'>
                <label class="govuk-label govuk-radios__label" for="sap">
                  Yes
                </label>
              </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sap" name="statutory-pay" type="radio" value='no~/apply/v17/claimdate'>
            <label class="govuk-label govuk-radios__label" for="sap">
              No
            </label>
          </div>
          
        </div>
      </fieldset>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit">

          {% include "includes/get-help.html" %}

</form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

