{% extends "layout.html" %}

{% block pageTitle %}
 Recent Statutory Sick Pay - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="statutory-pay-end">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Have you had any Statutory Sick Pay in the 13 weeks before the date you want to claim from?
          </h1>
        </legend>

        {% if (data['coronavirus'] == "no") and (data['terminal-illness'] == "No") %}
        <p>Send us your SSP1 if you have one. This shows when your Statutory Sick Pay (SSP) ends or why you cannot get SSP.</p>
        {% endif %}

        

        

        

        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="statutory-pay-1" name="statutory-pay-recent" type="radio" value='yes~/apply/v17/statutory-pay-end'>
            <label class="govuk-label govuk-radios__label" for="statutory-pay-1">
             Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="statutory-pay-2" name="statutory-pay-recent" type="radio" value='no~/apply/v17/statutory-pay-other'>
            <label class="govuk-label govuk-radios__label" for="statutory-pay-2">
            No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

      

    <input type="submit" class="govuk-button" value="Continue" id="submit">

          {% include "includes/get-help.html" %}

</form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

