{% extends "layout.html" %}

{% block pageTitle %}
What other alternative formats do you need? - Apply for New Style Employment and Support
Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us
      to improve it.
    </span>
  </p>
</div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="">


    <!-- Functionality not in prototype if someone selects large print and colour paper, but it should take you to large print page first, then coloured paper, then address -->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="self-emp-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What other alternative formats do you need?
            </h1>
          </legend>
          
          <span id="waste-hint" class="govuk-hint">
            Select all that apply.
          </span>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-list-1" name="alt-format-list" type="checkbox" value="Braille grade 1">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-list-1">
                Braille grade 1
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-list-2" name="alt-format-list" type="checkbox" value="Braille grade 2">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-list-2">
                Braille grade 2
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-list-3" name="alt-format-list" type="checkbox" value="CD">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-list-3">
                CD
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-list-4" name="alt-format-list" type="checkbox" value="MP3">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-list-4">
                MP3
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-list-5" name="alt-format-list" type="checkbox" value="Relay UK">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-list-5">
                Relay UK
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Not available in Welsh.
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-list-6" name="alt-format-list" type="checkbox" value="Textphone">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-list-6">
                Textphone
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-list-7" name="alt-format-list" type="checkbox" value="Type talk">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-list-7">
                Type talk
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-list-8" name="alt-format-list" type="checkbox" value="Video Relay Service">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-list-8">
                Video Relay Service
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Not available in Welsh.
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-list-9" name="alt-format-list" type="checkbox" value="Web accessible PDF">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-list-9">
                Web accessible PDF
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Sent by email. We'll ask for your email address later.
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-list-10" name="alt-format-list" type="checkbox" value="Word document">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-list-10">
                Word document
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Sent by email. We'll ask for your email address later.
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alt-format-list-11" name="alt-format-list" type="checkbox" value="another-format" data-aria-controls="alt-format-list-other">
              <label class="govuk-label govuk-checkboxes__label" for="alt-format-list-11">
                Another format
              </label>
            </div>
            </div>
            </fieldset>
            </div>


          <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}