{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Cancel your application
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">Application cancelled</h1>

      <p>Your information has been deleted.</p>

      <p>You can <a href="/apply/v9/before-you-start">start a new application</a>.</p>

    </div>
  </div>

{% endblock %}