{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check your answers: health</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Conditions
        </dt>
        <dd class="govuk-summary-list__value">
          Abdominal pain<br>
          Started June 2013<br>
          <br>
          Broken leg<br>
          Started 20 November 2018
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="condition">
            Change<span class="govuk-visually-hidden"> conditions</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Doctor's details
        </dt>
        <dd class="govuk-summary-list__value">
          Dr Sarah Philips<br>
          72 Guild street<br>
          London<br>
          SF23 6FH<br>
          020 7946 0809<br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change<span class="govuk-visually-hidden"> licence period</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Life expectancy
        </dt>
        <dd class="govuk-summary-list__value">
          Could be less than 6 months
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change<span class="govuk-visually-hidden"> life expectancy</span>
          </a>
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Doctor has sent DS1500 form
        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           Currently in hospital
         </dt>
         <dd class="govuk-summary-list__value">
           Yes
         </dd>
         <dd class="govuk-summary-list__actions">
           <a href="#">
             Change
           </a>
         </dd>
       </div>
       <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hospital details
          </dt>
          <dd class="govuk-summary-list__value">
            Ear, nose and throat ward<br>
            Hallamshire Hospital<br>
            Glossop Road<br>
            Sheffield<br>
            S10 2JF<br>
            <br>
            Admitted on 19 December 2018<br>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Doctor can share details with DWP
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
            </a>
          </dd>
        </div>
    </dl>

    <a href="../list?yourhealth=completed" class="govuk-button">Confirm and continue</a>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
