{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6" style="padding: 0">
    <h1 class="govuk-panel__large" style="font-size: 30px;">
      You&rsquo;ve completed the first part of your&nbsp;application
    </h1>
  </div>

  </div> <!-- govuk.grid-column-full -->

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Things to do now</h2>
      <h3 class="govuk-heading-m">1. Make an appointment</h3>
      <p>Call 0800 328 5644 and make an appointment to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>prove your identity</li>
          <li>agree what you’ll do in return for getting Employment and Support Allowance</li>
        </ul>
        <p>Lines are open Monday to Friday, 8am to 6pm and closed on public holidays.</p>
        <h3 class="govuk-heading-m">2. Prepare evidence to support your application</h3>
        <p class="govuk-body">
        You&rsquo;ll need to bring the following if you have them:
        <ul class="govuk-list govuk-list--bullet">
          <li>proof of identity</li>
          <li>fit notes (you might know these as ‘sick notes’)</li>
          <li>an SSP1 form from your employer, confirming when your Statutory Sick Pay ends</li>
          <li>P45 form</li>
          <li>wage slips for the last 2 months</li>
          <li>most recent pension statement</li>
          <li>most recent permanent health insurance statement</li>
        </ul>
        </p>

        <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>

  </div><!-- govuk-grid-column-two-thirds -->

{#   <div class="govuk-grid-column-one-third">
    <div id="ad-helpline">
      <h3 class="govuk-heading-m">Contact DWP</h3>
      <p class="govuk-heading-s">Telephone</p>
      <p>0800 328 5644</p>
      <p>Monday to Friday, 8am to 6pm</p>
      <p>Closed public holidays</p>
    </div>
  </div><!-- govuk-grid-column-one-third --> #}

</div><!-- govuk-grid-row -->
{% endblock %}
