{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6" style="padding: 0">
      <h1 class="govuk-panel__large" style="font-size: 30px;">
        You&rsquo;ve completed the first part of your&nbsp;application
      </h1>
    </div>

  </div> <!-- govuk.grid-column-full -->

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">What happens now</h2>
    <p>Someone from your local jobcentre will contact you to arrange an appointment, if they have not already.</p>
    <p>At your appointment you will be asked to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>prove your identity</li>
      <li>agree what you need to do in return for getting 'new style' Employment and Support Allowance.</li>
      <li>give any evidence to support your application</li>
    </ul>
      <h2 class="govuk-heading-m">Things to bring to your appointment</h2>
      <p class="govuk-body">
      You&rsquo;ll need to bring the following to your appointment:
      <ul class="govuk-list govuk-list--bullet">
        <li>3 identity documents</li>
        <li>fit notes (you might know these as sick notes)</li>
        <li>SSP1 form (this confirms when your Statutory Sick Pay ends)</li>
        <li>P45 form</li>
        <li>your 5 most recent weekly pay slips from Co-op</li>
        <li>your 2 most recent monthly pay slips from Boots</li>
        <li>proof of any pensions</li>
        <li>proof of any permanent health insurance</li>
      </ul>
      </p>
      <p>You might be asked for additional pay slips if your earnings vary.</p>
      <h2 class="govuk-heading-m">What you need to prove your identity</h3>
      <p>You need to bring 3 identity documents with you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your current passport, driving licence or bank card</li>
        <li>2 documents that prove your name and address, such as a utility bill, bank statement, hospital letter or birth certificate</li>
      </ul>
      <!--<details class="govuk-details">
      <summary class="govuk-details__summary">
       <span class="govuk-details__summary-text">
    List of primary and secondary identity documents
    </span>
  </summary>
    <div class="govuk-details__text">
    <h4>Primary identity documents</h4>
    <p>You need to bring <strong>one</strong> of the following:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>UK passport</li>
      <li>EEA passport</li>
      <li>UK photo driving licence</li>
      <li>UK paper driving licence</li>
      <li>national identity card</li>
      <li>residence permit or card</li>
      <li>immigration status document</li>
      <li>registration or naturalisation certificate</li>
  </ul>
  <h4>Secondary identity documents</h4>
  <p>You need to bring <strong>two</strong> of the following:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>birth certificate</li>
    <li>recent bank or building society statement</li>
    <li>debit or charge card</li>
    <li>NHS medical card</li>
    <li>expired passport</li>
    <li>expired full or provisional driving licence</li>
    <li>local authority rent card</li>
    <li>marriage or civil partnership certificate</li>
    <li>registration or naturalisation certificate</li>
    <li>tenancy agreement</li>
  </ul>
  </div>
  </details>-->

  <h2 class="govuk-heading-m">If you need to change your appointment</h2>
  <p>Call 0800 328 5644 if you need to change your appointment.</p>
  <p>Lines are open Monday to Friday, 8am to 6pm and closed on public holidays.</p>

      <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>

  </div><!-- govuk-grid-column-two-thirds -->

  <!--{#   <div class="govuk-grid-column-one-third">
  <div id="ad-helpline">
    <h3 class="govuk-heading-m">Contact DWP</h3>
    <p class="govuk-heading-s">Telephone</p>
    <p>0800 169 0154</p>
    <p>Monday to Friday, 8am to 6pm</p>
    <p>Closed public holidays</p>
  </div>
  </div><! govuk-grid-column-one-third #}-->

  </div><!-- govuk-grid-row -->
  {% endblock %}
