{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="pension-start">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-l">Part 4 of 6: Pensions and insurance</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
          Pension or annuity details
        </h1>
      </legend>

      <span id="special-rules-hint" class="govuk-hint">
      If you have more than one pension or annuity, you will be asked about them later in this form.
    </span>
    <input type="hidden" value="" name="pension-provider" id="pension-provider-hidden"/>


        <div class="govuk-form-group">
          <label class="govuk-label" for="pension-provider-name">
            Pension or annuity provider
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="pension-provider-name" name="pension-provider-1" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="pension-reference-number">
            Pension or annuity reference number
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="pension-reference-number" name="pension-reference-number" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="pension-telephone-number">
            Pension or annuity provider telephone number
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="pension-telephone-number" name="pension-telephone-number" type="text">
        </div>

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h2 class="govuk-fieldset__heading">
              Pension provider address
            </h2>
          </legend>

          <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-1">
              Building and street
              <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-2">
              <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
            </label>
            <input class="govuk-input" id="address-line-2" name="address-line-2" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-town">
              Town or city
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="address-postcode">
              Postcode
            </label>
            <span id="event-name-hint" class="govuk-hint">
              If the address is outside the UK and does not have a postcode you can enter the province, state or department.
            </span>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-postcode" name="address-postcode" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="address-postcode">
              Country (if outside the UK)
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-postcode" name="address-postcode" type="text">
          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-line-1">
                Building and street
                <span class="govuk-visually-hidden">line 1 of 2</span>
              </label>
              <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="address-line-2">
                <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
              </label>
              <input class="govuk-input" id="address-line-2" name="address-line-2" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="address-town">
                Town or city
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="address-postcode">
                Postcode
              </label>
              <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
            </div>

          </div>{# /govuk-radios__conditional #}

       </fieldset>
    <!-- <div class="form-group">
      <button id="add-button" class="govuk-button button-add-another-vertical" onclick="javascript:return false">Add another</button>
    </div> -->

    <input type="submit" class="govuk-button" value="Continue" id="formbutton">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->


{% endblock %}


{% block pageScripts %}
<!--
  Using jQuery to branch the page flow based on which radio buttons are checked.
-->
<script type="text/javascript">
  $(document).on('ready',function()
  {

    // grab the existing data from the session (if it is there)
    var session_data = "{{ data['pension-provider'] }}" ;
    // put it in log
    console.log(session_data);


    // whemn button is clicked
    $('#formbutton').on('click',function(e)
    {
      // don't submit the form
      e.preventDefault();
      // grab what was typed into the name box.
      var name = $('#pension-provider-name').val();
      // add that to the existing session data
      var new_session_data = (session_data) ? session_data + ',' + name : name;
      // put this new data back into the form (hidden)
      $('#pension-provider-hidden').val(new_session_data);
      // submit the form as usual
      $("#form").submit();
    })
  });
</script>



{% endblock %}
