{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="payfrequency">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">Part 2 of 6: Work</span>
          <h1 class="govuk-fieldset__heading">
            Do you work the same number of hours each week at {{ data['employer-details'] | split(',') | last }}?
          </h1>
        </legend>
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-1" name="work-hours" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional-1">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">
        <div class="inline-form-group">


<div class="govuk-form-group">
  <label class="govuk-label" for="hours-worked-a-week">
   Hours you work each week
 </label>


 <input class="govuk-input govuk-input--width-3" id="hours-worked-a-week" name="ceHoursWorkedAWeek" type="text">
</div>
        </div>

      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-2" name="work-hours" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

{% block pageScripts %}
<!--
  Using jQuery to branch the page flow based on which radio buttons are checked.
-->

<script type="text/javascript">
  $(document).on('ready',function()
  {
    // target the #form element
    // attached an event listener that runs
    // a function when the form is submitted
    $('#form').on('submit', function(e)
    {
      // depending on the value="" of the <input>
      // that's been checked, change the action=""
      // of the <form> and then allow it to submit.
      switch($('input[name="work-hours"]:checked').val())
      {
        case 'yes':
          $('#form').attr('action','payfrequency');
          break;
        case 'no':
          $('#form').attr('action','pay-varies-frequency');
          break;
        // if nothing is ticked don't submit the form.
        default: return false; break;
      }
      // returning 'true' allows the form to submit
      // after we're finished with the above.
      return true;
    });
  });
</script>
{% endblock %}
