{% extends "layouts/main.html" %}

{% block pageTitle %}
  Accessibilty needs – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Accessibilty needs
      </h1>
      <p class="govuk-body">
       DWP can make reasonable adjustments for you in relation to your claim.
      </p>
      <p class="govuk-body">They can include:</p>
        <ul class="govuk-list govuk-list--bullet govuk-body govuk-!-padding-bottom-4">
          <li>replacing a telephone call, for example with using Relay UK or textphone</li>
          <li>replacing our standard letters, for example with large print, or braille</li>
          <li>if you come into a jobcentre, for example ensuring a quiet room or step-free access</li>
        </ul>

      <form class="form" action="/path/of/next/page" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Do you have any of these accessibilty needs?
              </h1>
            </legend>
            <div id="countries-hint" class="govuk-hint">
              Select all that apply
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
                <label class="govuk-label govuk-checkboxes__label" for="nationality">
                  Phone call in an accessible format
                </label>
                <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                  For example, Relay UK or textphone
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
                <label class="govuk-label govuk-checkboxes__label" for="nationality">
                 Letter in an accessible format
                </label>
                <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                  For example, braille, large print or audio CD
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
                <label class="govuk-label govuk-checkboxes__label" for="nationality">
                 I need another reasonable adjustment
                </label>
                <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                  For example, step-free access, or a quiet room for face-to-face meetings
                </div>
              </div>
              <div class="govuk-checkboxes__divider">or</div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="countries-5" name="countries" type="checkbox" value="none" data-behaviour="exclusive">
                <label class="govuk-label govuk-checkboxes__label" for="countries-5">
                  No, I don't have any accessibilty needs
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
