{% extends "layouts/main.html" %}

{% block pageTitle %}
Version 1: Alternative formats – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Version 2: Alternative formats</h1>

      {{ govukDetails({
        summaryText: "Hypothesis",
        text: "We believe that presenting alternative contact options for people who cannot access our standard methods for letters and telephone, will remove barriers to people telling us what they need."
      }) }}

         <h2 class="govuk-heading-m">Designs to test:</h1>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/design-iterations/wt-alt-formats-2/before/who-is-applying">Alternative formats journey</a></li>
        <li><a href="/design-iterations/wt-alt-formats-2/af-check-answers">Check your answers (sample page)</a></li>
      </ul>


    </div>
  </div>

{% endblock %}
