{% extends "layouts/main.html" %}

{% block pageTitle %}
Where can we send letters about your claim? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
     text: "Prototype"
  },
  html: 'This is a prototype. No data is saved or stored.'
}) }}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
  
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/design-iterations/wt-alt-formats-3/before/telephone" method="post" novalidate>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Where can we send letters about your claim?
          </h1>
        </legend>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Building and street
            <span class="govuk-visually-hidden">line 1 of 2</span>
          </label>
          <input class="govuk-input" id="address-line-1" name="alt-address-line-1" type="text" autocomplete="address-line1">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
          </label>
          <input class="govuk-input" id="address-line-2" name="alt-address-line-2" type="text" autocomplete="address-line2">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="alt-address-town" type="text" autocomplete="address-level2">
        </div>

        

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="alt-address-postcode" type="text" autocomplete="postal-code">
        </div>
      </fieldset>

      <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
