
{% extends "layout.html" %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">Apply for New Style Employment and Support Allowance (New Style ESA)</h1>
<p>Use this service if you need financial support because you’re off work with a health condition, injury or disability.</p>
    <h2 class ="govuk-heading-m">Check if you’re eligible</h2>
    <p>You might be eligible if you:</p>
      <ul class="govuk-list govuk-list--bullet">
       <li>have paid or been credited with National Insurance in the last 2 or 3 tax years</li>
       <li>do not get Statutory Sick Pay, or it’s due to end in the next 3 months</li>
       <li>are under <a href="https://www.gov.uk/check-state-pension">State Pension age</a></li>
      </ul>
     <p>If you’re not sure how much National Insurance you’ve paid, you can <a href="https://www.gov.uk/check-national-insurance-record">check your National Insurance record online</a>. You will need to set up or sign in to an online account to check.</p>


    <h2 class="govuk-heading-m">What to expect</h3>
  <p>The online form is the first stage of your application.</p>
</p>
  <p>You will be asked questions about:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>your health</li>
    <li>any paid work</li>
    <li>any voluntary work</li>
    <li>any statutory payments</li>
  </ul>
<div class="govuk-inset-text">
<p>You may need to send us medical evidence to support your claim. This might be a fit note (also known as a sick note) from your doctor.</p>
<p>There are instructions for this at the end of the application.</p>
</div>

    <a href="done" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-6 govuk-!-margin-bottom-8">Start now</a>

</div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
