 {% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="declaration">

      <h1 class="govuk-heading-l">Check your answers: statutory pay</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Getting Statutory Sick Pay
             </dt>
             <dd class="govuk-summary-list__value">
               Yes
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="statutory-pay">
                 Change
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Sick Pay ends
             </dt>
             <dd class="govuk-summary-list__value">
               18 January 2019
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Other statutory payments
             </dt>
             <dd class="govuk-summary-list__value">
               Statutory Maternity Pay
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               When you will be fit for work
             </dt>
             <dd class="govuk-summary-list__value">
               18 March 2019
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
        </dl>

        <a href="../list?ssp=completed" class="govuk-button">Confirm and continue</a>


</div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
