{% extends "layout.html" %}

{% block pageTitle %}
Are you currently employed or self-employed, even if you’re unable to work at the moment? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ super() }}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="work">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Are you currently employed or self-employed, even if you’re unable to work at the moment?
    </h1>
    <p>
     Select yes if you’re on a zero hours contract.
    </p>
    <div class="govuk-form-group">
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="work-1" name="work" type="radio" value="Yes">
          <label class="govuk-label govuk-radios__label" for="work-1">
            Yes, I’m employed or self-employed
          </label>
        </div>
        <!-- If user answers yes to getting SSP in eligibility, then ask when it ends -->
        {% if (data['statutory-pay'] == "yes") %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="work-3" name="work" type="radio" value="No" aria-controls="no-reveal">
          <label class="govuk-label govuk-radios__label" for="work-3">
            No, I’m unemployed
          </label>
        </div>
        <!-- If user answers no to getting SSP in eligibity, then ask if they've had it in last 12 weeks -->
        {% else %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="work-3" name="work" type="radio" value="No" aria-controls="no-reveal">
          <label class="govuk-label govuk-radios__label" for="work-3">
            No, I’m unemployed
          </label>
        </div>
        {% endif %}

      </div>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

