{% extends "layout.html" %}

{% block pageTitle %}
 Accessibility statement - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new window)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Accessibility statement for Apply for New Style ESA
    </h1>
  </legend>

  <div class="govuk-form-group">

  <br />
  <p class="govuk-body">
    This service is part of the wider GOV.UK website. There&rsquo;s a separate 
    <a class="govuk-link" href="https://www.gov.uk/help/accessibility">accessibility statement 
    for the main GOV.UK website.</a>
  </p>
  <p class="govuk-body">
    This page only contains information about the Apply for New Style Employment and Support 
    Allowance (ESA) service, available at <a href="https://www.apply-new-style-employment-support-allowance.dwp.gov.uk/">https://www.apply-new-style-employment-support-allowance.dwp.gov.uk</a>
  </p>
  <h2 class="govuk-heading-m">
    Using this service
  </h2>
  <p class="govuk-body">
    This service is run by the Department for Work and Pensions. We want as 
    many people as possible to be able to use this service. For example, 
    that means you should be able to:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      change colours, contrast levels and fonts
    </li>
    <li>
      zoom in up to 300% without the text spilling off the screen
    </li>
    <li>
      get from the start of the service to the end using just a keyboard
    </li>
    <li>
      get from the start of the service to the end using speech recognition 
      software
    </li>
    <li>
      listen to the service using a screen reader
    </li>
  </ul>
  <p class="govuk-body">
    We&rsquo;ve also made the text in the service as simple as possible to understand.
  </p>
  <p class="govuk-body">
    <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> 
    has advice on making your device easier to use if you have a disability.
  </p>
  <h2 class="govuk-heading-m">
    How accessible this service is
  </h2>
  <p class="govuk-body">
    The service is using common styles, patterns and components from the 
    GOV.UK Design System which are widely regarded as accessible.
  </p>
  <p class="govuk-body">
    Some people may find parts of this service difficult to use:
  </p>
  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>
      at one point we ask you to list your conditions using a JavaScript 
      solution that allows you to keep adding additional fields. This can be 
      tricky. However, with JavaScript turned off the service will default 
      to a large amount of blank fields which some people might find easier to 
      fill out
    </li>
    <li>if you say “new tab” to some voice control software, it opens the feedback link instead of opening a new tab
    </li>
    <li>on the bank details page, the fields do not allow white space. This causes an error if you use voice control software and pause when reading out your account number
    </li>
    <li>error messages are sometimes not read out in JAWS versions 18 and 19</li>
    <li>	headings are sometimes not read out in JAWS versions 18 and 19 and ZoomText. This is a known issue with Freedom Scientific software. Read <a class="govuk-link" href="https://github.com/FreedomScientific/VFO-standards-support/issues/100">more about the issue with headings on GitHub</a>
    </li>
    <li>text is sometimes repeated by ZoomText&rsquo;s DocReader and SpeakIt tools
    </li>
    <li>reading zones sometimes move around the page when scrolling with ZoomText. This might cause a problem with the consent question pages, as well as the ‘check your answers’ and ‘what happens next’ pages, where there is lots of text
    </li>
  
  </ul>
  <h2 class="govuk-heading-m">
    What to do if you have difficulty using this service
  </h2>
  <p class="govuk-body">
    If you have difficulty using this service, contact us by email: <a href="mailto:applyfornewstyleesa.accessibility@dwp.gsi.gov.uk">applyfornewstyleesa.accessibility@dwp.gsi.gov.uk</a>
  </p>
  <p class="govuk-body">
    As part of providing this service, we may need to send you messages or 
    documents. We&rsquo;ll ask you how you want us to send messages or documents 
    to you, but contact us if you need them in a different format. For 
    example large print, audio recording or braille.
  </p>
  <h2 class="govuk-heading-m">
    Reporting accessibility problems with this service
  </h2>
  <p class="govuk-body">
    We&rsquo;re always looking to improve the accessibility of this service. 
    If you find any problems that are not listed on this page or think we&rsquo;re 
    not meeting accessibility requirements, contact us by email: <a href="mailto:applyfornewstyleesa.accessibility@dwp.gsi.gov.uk">applyfornewstyleesa.accessibility@dwp.gsi.gov.uk</a>
  </p>
  <h2 class="govuk-heading-m">
    Enforcement procedure
  </h2>
  <p class="govuk-body">
    The Equality and Human Rights Commission (EHRC) is responsible for 
    enforcing the Public Sector Bodies (Websites and Mobile Applications) 
    (No. 2) Accessibility Regulations 2018 (the &lsquo;accessibility regulations&rsquo;). 
    If you&rsquo;re not happy with how we respond to your complaint, 
    <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">
      contact the Equality Advisory and Support Service (EASS).
    </a>
  </p>
  <h2 class="govuk-heading-m">
    Technical information about this service&rsquo;s accessibility
  </h2>
  <p class="govuk-body">
    The Department for Work and Pensions is committed to making this service 
    accessible, in accordance with the Public Sector Bodies (Websites and 
    Mobile Applications) (No. 2) Accessibility Regulations 2018.
  </p>
  <p class="govuk-body">
    This service is fully compliant with the Web Content Accessibility 
    Guidelines version 2.1 AA standard.
  </p>
  <h2 class="govuk-heading-m">
    How we tested this service
  </h2>
  <p class="govuk-body">
    The service was last tested on 28 May 2020 and was checked for compliance with WCAG 2.1 AA. The tests were carried out by the Department for Work and Pensions.
  </p>
  <p class="govuk-body">
    The service was tested using both automated and manual testing.
  </p>
  <h2 class="govuk-heading-m">
    What we&rsquo;re doing to improve accessibility
  </h2>
  <p class="govuk-body">
    We conducted manual testing of the service using assistive technologies such as JAWS and Dragon. This has identified issues, mentioned in the ‘using this service’ section above, that we’re working to fix.
  </p>
  <p class="govuk-body">
    We will continue to iterate the design of the service, replacing the 
    JavaScript solution for adding conditions to make it more usable.
  </p>
  <p class="govuk-body">
    This page was prepared on 14 April 2020 and last updated on 3 August 2020.
  </p>

</div><!-- form group-->

</fieldset>


      </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}