{% extends "layouts/main.html" %}

{% block pageTitle %}
Is there another number you can be contacted on? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   
    <form id="form" method="post" action="/design-iterations/wt-alt-formats-1/before/email">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}
      
      {% set landlineHtml %}
      {{ govukInput({
        id: "other-number",
        name: "other-number",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-!-width-one-third",
        label: {
          text: "Telephone number"
        }
      }) }}
      {% endset -%}
      
      {{ govukRadios({
        idPrefix: "how-contacted-conditional",
        name: "other-phone",
        fieldset: {
          legend: {
            text: "Is there another number you can be contacted on?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "We’ll use this number to contact you about your claim."
        },
        items: [
          {
            value: "yes-landline",
            text: "Yes",
            conditional: {
              html: landlineHtml
            }
          },
          {
            value: "no-landline",
            text: "No"
          }
        ]
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}

</form>
</div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->


{% endblock %}
