{% extends "layouts/main.html" %}

{% block pageTitle %}
You may be eligible for New Style ESA – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Based on your answers, you may be eligible for New Style ESA</h1>

  <div class="govuk-inset-text">
    You will not be able to save your answers and come back to the form later. But you’ll get a chance to check and update your answers before you send them.
  </div>
  <div class="govuk-inset-text">
    There is no time limit for filling in the application. But if you stay on the same page for 60 minutes, it will time out and you’ll have to start again.
  </div>

  <p class="govuk-body">We will treat your personal information carefully. We may use it for any of our purposes. To learn about your information rights and how we use information, see our <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter" class="govuk-link" rel="noreferrer noopener" target="_blank">personal information charter (opens in new tab)</a>.</p>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
       I need help doing things online
      </span>
    </summary>
    <div class="govuk-details__text">
      <p>The following links open in a new tab</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Telephone: 0800 055 6688 (choose option 3)</li>
        <li>Textphone: 0800 328 1344 (choose option 3)</li>
      
        <li> <a href="https://www.relayuk.bt.com/" class="govuk-link" rel="noreferrer noopener" target="_blank">Relay UK</a> if you cannot hear or speak on the phone: 18001 then 0800 055 6688</li>
        <li>British Sign Language (BSL) <a href="https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl" class="govuk-link" rel="noreferrer noopener" target="_blank">video relay service </a> if you’re on a computer - find out how to <a href="https://www.youtube.com/watch?v=vZJc6OKmAUA" class="govuk-link" rel="noreferrer noopener" target="_blank">use the service on a mobile or tablet</a></li>
        <li>Welsh language: 0800 328 1744</li>
        <p>Monday to Friday, 8am to 6pm (except public holidays)</p></ul>
      <p><a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target="_blank">Find out about call charges</a></p>
    </div>
  </details>
{{ govukButton({
  text: "Start now",
  href: "name"
}) }}


    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
