{% extends "layouts/main.html" %}

{% block pageTitle %}
Have you been employed and paid National Insurance over the last 2 to 3 years? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
     text: "Prototype"
  },
  html: 'This is a prototype. No data is saved or stored.'
}) }}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="national-insurance">

   <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Have you been employed and paid National Insurance over the last 2 to 3 years?</h1>
        </legend>

        <p>You may be eligible if you&rsquo;ve paid enough <a href="https://www.gov.uk/national-insurance">National Insurance contributions (opens in new tab)</a>, usually over the last 2 to 3 years. <a href="https://www.gov.uk/national-insurance-credits">National Insurance credits (opens in new tab)</a> can also count.</p>
        
        <p>If you&rsquo;re not sure, you can still apply for New Style ESA.</p>

        

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="ni-cons" name="ni-cons" type="radio" value='yes-paid'>
            <label class="govuk-label govuk-radios__label" for="ni-cons">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="ni-cons-2" name="ni-cons" type="radio" value='no-not-paid'>
            <label class="govuk-label govuk-radios__label" for="ni-cons-2">
              No
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="ni-cons-3" name="ni-cons" type="radio" value="not-sure-paid">
            <label class="govuk-label govuk-radios__label" for="ni-cons-3">
              I&rsquo;m not sure
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}


