{% extends "layouts/main.html" %}

{% block pageTitle %}
Does your Statutory Sick Pay end in the next 3 months? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
     text: "Prototype"
  },
  html: 'This is a prototype. No data is saved or stored.'
}) }}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 <form action="statutory-pay-date" method="post" novalidate>
   <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="statutory-pay-date-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
           Does your Statutory Sick Pay end in the next 3 months?</h1>
        </legend>
         <div id="statutory-pay-date-hint" class="govuk-body">
          <p class="govuk-body">You can find this date on your SSP1 form.</p>
          <p class="govuk-body">If you do not have an SSP1 form, you can get this information from your employer.</p>
         </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="statutory-pay-date-1" name="statutory-pay-date" type="radio" value='yes-statutory-pay-date'>
            <label class="govuk-label govuk-radios__label" for="statutory-pay-date-1">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="statutory-pay-date-2" name="statutory-pay-date" type="radio" value='no-statutory-pay-date'>
            <label class="govuk-label govuk-radios__label" for="statutory-pay-date-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
{{ govukButton({
          text: "Continue"
        }) }}

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->

{% endblock %}


