{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you under State Pension age? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
     text: "Prototype"
  },
  html: 'This is a prototype. No data is saved or stored.'
}) }}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
  
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 <form action="state-pension" method="post" novalidate>
   <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="state-pension-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Are you under State Pension age?</h1>
        </legend>
         <div id="state-pension-hint" class="govuk-body">
          If you&rsquo;re unsure, you can <a href="https://www.gov.uk/state-pension-age" class="govuk-link" rel="noreferrer noopener" target="_blank">check your State Pension age (opens in new tab)</a>.
         </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="state-pension-1" name="state-pension" type="radio" value='yes-under'>
            <label class="govuk-label govuk-radios__label" for="state-pension-1">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="state-pension-2" name="state-pension" type="radio" value='no-over'>
            <label class="govuk-label govuk-radios__label" for="state-pension-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
{{ govukButton({
          text: "Continue"
        }) }}

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}


