{% extends "layout.html" %}

{% block pageTitle %}
Do you volunteer for the same number of hours each week at {{ data['volunteer-details-1'] | split(',') | last | default("Oxfam")}}? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ super() }}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="voluntary-hours">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Do you volunteer for the same number of hours each week at {{ data['volunteer-details-1'] | split(',') | last | default("Oxfam")}}?
          </h1>
        </legend>
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-1" name="voluntary-work-hours" type="radio" value='yes' data-aria-controls="conditional-how-contacted-conditional-1">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">
        <div class="inline-form-group">

<div class="govuk-form-group">
  <label class="govuk-label" for="hours-worked-a-week">
   Hours you volunteer a week
 </label>
 <input class="govuk-input govuk-input--width-3" id="hours-worked-a-week" name="voluntary-hours" type="text">
</div>
        </div>

      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-2" name="voluntary-work-hours" type="radio" value='no' data-aria-controls="conditional-how-contacted-conditional-2">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
    </div>

    {{ govukButton({
      text: "Continue",
      href: "voluntary-work-another"
  }) }}

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
