{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check your answers: paid work</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
     <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Currently employed
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="work">
            Change
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Employment details
        </dt>
        <dd class="govuk-summary-list__value">
          Sales assistant<br>
          Boots<br>
          020 7946 0076<br>
          72 Guild Street<br>
          London<br>
          S10 4JF<br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Off sick from this work
        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Employment status
        </dt>
        <dd class="govuk-summary-list__value">
          Employee
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Hours worked a week
        </dt>
        <dd class="govuk-summary-list__value">
          7
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Pay
        </dt>
        <dd class="govuk-summary-list__value">
          £124 weekly
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Help from a professional support worker
        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Expenses
        </dt>
        <dd class="govuk-summary-list__value">
          Travel and subsistence
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Other employment details
        </dt>
        <dd class="govuk-summary-list__value">
          Operational coordinator<br>
          Co-op<br>
          020 7946 0076<br>
          72 Guild Street<br>
          London<br>
          S10 4JF<br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Off sick from this work
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last day at work
        </dt>
        <dd class="govuk-summary-list__value">
          17 December 2018
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
          </a>
        </dd>
      </div>
    </dl>
      
    <a href="../list?paidwork=completed" class="govuk-button">Confirm and continue</a>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
