{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="work-self-emp-sick">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What date did you last work at {{ data['employer-details'] | split(',') | last }}?
      </h1>
    </legend>
    <p>If you worked a night shift, use the date that your shift ended.</p>
    <span id="dob-hint" class="govuk-hint">
      For example, 31 9 2018
    </span>
    <div class="govuk-date-input" id="dob">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="last-dob-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="last-dob-day" name="last-dob-day" type="text" maxlength="2" pattern="[0-9]*">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="last-dob-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="last-dob-month" name="last-dob-month" type="text" maxlength="2" pattern="[0-9]*">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="last-dob-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="last-dob-year" name="last-dob-year" type="text" maxlength="4" pattern="[0-9]*">
        </div>
      </div>
    </div>
  </fieldset>

</div>

<input type="submit" class="govuk-button" value="Continue" id="submit">

{% include "apply/v9/work/_return-link.html" %}

</form>
</div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
