{% extends "layout.html" %}

{% block pageTitle %}
 Pension or annuity payments - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}




    <form method="post" action="/apply/v22/pension/pension-add-another">

  
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">You have added details for: </h2>
              <ul class="govuk-list govuk-heading-m">

                {% for item in data['pension-name'] | split(',') %}
                  <li>{{ item }}</li>
                {% endfor %}
               
            </ul>
          </legend>

          <span class="govuk-caption-l">Pension or annuity</span>
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l">Do you have another pension or annuity you currently receive?</label></h1>

       

          <div class="govuk-radios govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pension-another-1" name="pension-another" type="radio" value="Yes" data-aria-controls="yes-cond">
              <label class="govuk-label govuk-radios__label" for="pension-another-1">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pension-another-2" name="pension-another" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="pension-another-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>



    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

