{% extends "layouts/main.html" %}

{% block pageTitle %}
Version 3: Alternative formats – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Version 1.1: Overseas posting with the armed forces</h1>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            User need
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">As a NSESA claimant who is a spouse or civil partner of a member of the armed forces,</p>
          <p class="govuk-body">I want to be able to provide information about time spent abroad as a spouse or civil partner of the Armed Forces,</p>
            <p class="govuk-body">So that any qualifying National Insurance contributions can be taken into consideration when determining my NSESA eligibility status.</p>
        </div>
      </details>

         <h2 class="govuk-heading-m">Screens:</h2>
         <p class="govuk-body">
          <a href="/design-iterations/wt-5377-armed-forces/armed-forces?armedForcesSpouse">Armed forces question page</a>
        </p>
        <p class="govuk-body">
          <a href="/design-iterations/wt-5377-armed-forces/armed-forces-check-answers?armedForcesSpouse=yes">Check answers page with armed forces</a>
        </p>
      
    </div>
  </div>

{% endblock %}
