{% extends "layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new window)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="gpsurgery">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        What health conditions, illnesses, disabilities or injuries do you have?
      </h1>
      <span id="event-name-hint" class="govuk-hint">
        You can add up to 12 conditions if you need to. You can add them in any order.
      </span>
      <p class="govuk-hint js-hidden">Enter as many as you have<p>
      {% for i in range(0, 12) %}

        <div id="block-{{ i }}" class="{{ 'additional' if i != 0 }}">
          <div class="fallback bold-label">
            {{ govukInput({
              label: {
                text: "Your first condition"
              },
              id: "fallback",
              name: "fallback"
            }) }}
          </div>

          <div class="govuk-form-group hidden autocomplete bold-label">
            <label for="conditions-{{ i }}-name" class="govuk-label">Your first condition</label>
            <div id="conditions-{{ i }}"></div>
            {{ govukInput({
              label: {
                text: ""
              },
              id: "fallback",
              name: "fallback"
            }) }}
          </div>

          

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="conditions-0-started-hint" role="group">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <p class="govuk-fieldset__heading">When it first started</p>
              </legend>
              <p>If you don’t know the exact date, you can give an estimate.</p>
              <span id="conditions-0-started-hint" class="govuk-hint">For example, 30 3 1997</span>
              <div class="govuk-date-input" id="conditions-{{ i }}-started">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="conditions-{{ i }}-started-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="conditions-{{ i }}-started-day" name="conditions-{{ i }}-started-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="conditions-{{ i }}-started-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="conditions-{{ i }}-started-month" name="conditions-{{ i }}-started-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="conditions-{{ i }}-started-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="conditions-{{ i }}-started-year" name="conditions-{{ i }}-started-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
              </fieldset>
            </div><!-- govuk-form-group -->

          {% if i != 0 %}<p><a data-index="{{ i }}" href="#" class="govuk-link remove hidden">Remove</a></p>{% endif %}
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>

      {% endfor %}
      <p><a id="add-another" href="#" class="govuk-link hidden">Add another condition</a></p>
      <input type="submit" class="govuk-button" value="Continue" id="submit">
    </form>
  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
<style>
  .hidden {
    display: none;
  }
</style>
<script>
Array.prototype.slice.call(document.querySelectorAll('.hidden')).forEach(function(e) {
  e.classList.remove('hidden');
})
Array.prototype.slice.call(document.querySelectorAll('.fallback, .js-hidden, .additional')).forEach(function(e) {
  e.classList.add('hidden');
})

{% include '../../includes/conditions-canonical-list.js' %}

window.onload = function() {
  for (var i = 0; i < 12; i++) {
    accessibleAutocomplete({
      element: document.querySelector('#conditions-' + i),
      id: 'conditions-' + i + '-name',
      source: conditions,
      showNoOptionsFound: false
    })
  }
  var visible = 1;
  document.querySelector('#add-another').addEventListener('click', function(e){
    e.preventDefault();
    document.querySelector('#block-'+visible).classList.remove('hidden');
    visible++;
    this.blur();
    if(visible == 12) this.classList.add('hidden');
  });

  Array.prototype.slice.call(document.querySelectorAll('.remove')).forEach(function(r){
    r.addEventListener('click', function(e){
      e.preventDefault();
      visible--;
      this.blur();
      var values = $('.additional').map(function(a){
        return {
          name: $('#conditions-'+(a+1)+'-name').val(),
          started: $('#conditions-'+(a+1)+'-started').val()
        }
      })
      values.splice(this.getAttribute('data-index')-1, 1)
      for (var i = 1; i <= $('.additional').length; i++) {
        $('#conditions-'+(i)+'-name').val((values[i-1] ? values[i-1].name : ''));
        $('#conditions-'+(i)+'-started').val((values[i-1] ? values[i-1].started : ''));
        if(i > visible-1) document.querySelector('#block-'+i).classList.add('hidden');
      }
      values = [];
      document.querySelector('#add-another').classList.remove('hidden');
    });
  });
}
</script>
{% endblock %}
