{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6" style="padding: 0">
    <h1 class="govuk-panel__large" style="font-size: 32px; margin-bottom: 5px">
      Application sent
    </h1>
    <div class="govuk-panel__body" style="font-size: 28px;">Your reference number is your National Insurance number</div>
    <p></p>
  </div>

  </div> <!-- govuk.grid-column-full -->

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">What happens next</h2>

    <p class="govuk-body-l">There may be a delay in processing your application
      because of the coronavirus outbreak.</p>
    <p>Please do not contact the Department for Work and Pensions (DWP) for an update.</p>
    <p>You’ll receive a notification as soon as possible.</p>
    
    <h3 class="govuk-heading-m">Give us your feedback</h3>

        <p>
        The feedback you provide is anonymous and not part of your application.
        </p>
        <p>
          We will not respond to your feedback or use it when we process your claim.
        </p>

<p class="govuk-body"><a href="feedback.html" class="govuk-link" rel="noreferrer noopener" target="_blank">What did you think of this service?</a> (takes 30 seconds)</p>




</div><!-- govuk-grid-row -->
{% endblock %}
