{% extends "layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new window)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="insurance-detail">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Are you getting any money from permanent health insurance set up by an employer?
          </h1>
        </legend>

        <span id="phi-hint" class="govuk-hint">
        Permanent health insurance protects your income if you stop work due to an illness, injury or disability.
      </span>

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes" data-aria-controls="yes-cond">
            <label class="govuk-label govuk-radios__label" for="changed-name-1">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
              No
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="not-sure" name="changed-name" type="radio" value="notsure">
            <label class="govuk-label govuk-radios__label" for="not-sure">
              I’m not sure
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    $(document).on('ready',function()
    {
      // target the #form element
      // attached an event listener that runs
      // a function when the form is submitted
      $('#form').on('submit', function(e)
      {
        // depending on the value="" of the <input>
        // that's been checked, change the action=""
        // of the <form> and then allow it to submit.
      	switch($('input[name="changed-name"]:checked').val())
        {
      		case 'yes':
      	    $('#form').attr('action','bank');
      		  break;
          case 'no':
      	    $('#form').attr('action','bank');
      		  break;
            case 'notsure':
        	    $('#form').attr('action','bank');
        		  break;
          // if nothing is ticked don't submit the form.
          default: return false; break;
        }
        // returning 'true' allows the form to submit
        // after we're finished with the above.
        return true;
      });
    });
  </script>
{% endblock %}
