{% extends "layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new window)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="work-another">

      <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="self-emp-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            What is your employment status at {{ data['employer-details'] | split(',') | last }}?
          </h1>
        </legend>
        <span id="waste-hint" class="govuk-hint">
          Select all that apply.
        </span>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="self-emp-sick-1" name="employee" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="self-emp-sick-1">
              Employee
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="self-emp-sick-2" name="self-employed" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="self-emp-sick-2">
              Self-employed
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="self-emp-sick-3" name="sub-contract" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="self-emp-sick-3">
              Sub-contractor
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="self-emp-sick-4" name="company-director" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="self-emp-sick-4">
              Company director
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
