{% extends "layout.html" %}

{% block pageTitle %}
 Pension or annuity payments - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="/apply/v22/pension/pension">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-l">Pension or annuity</span>
            Are you getting regular payments from a pension or annuity?
          </h1>
        </legend>
        
            <p>You <strong>do not</strong> need to tell us about:</p>
            
              <ul class="govuk-list govuk-list--bullet">
                <li>money that you pay into a pension or annuity</li>
                <li>money that you pay into a pension or annuity</li>
              </ul>
          
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    I need more information
                  </span>
                </summary>
                <div class="govuk-details__text">
                
                  <p>You might be getting money from a pension or annuity if you:</p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>retired from your job because of ill health</li>
                  <li>inherited a pension or annuity from someone who died</li>
                  <li>reached normal minimum pension age (55 years old) and asked your pension or annuity provider to start paying you</li>
              </ul>

              <p>If you are getting money from a pension or annuity you need to tell us how much you get and where it comes from. We will use this information to work out the amount of New Style ESA you might be entitled to.</p>


                </div>
              </details>
          
        <div class="govuk-radios govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="pension-1" name="pension" type="radio" value='Yes' data-aria-controls="yes-cond">
            <label class="govuk-label govuk-radios__label" for="pension-1">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="pension-2" name="pension" type="radio" value='No'>
            <label class="govuk-label govuk-radios__label" for="pension-2">
              No
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="pension-3" name="pension" type="radio" value='I am not sure'>
            <label class="govuk-label govuk-radios__label" for="pension-3">
              I am not sure
            </label>
          </div>
          
        </div>
      </fieldset>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

