{% extends "layout.html" %}

{% block pageTitle %}
 Pension or annuity payments - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="/apply/v22/declaration">


      <h1 class="govuk-heading-l">
        Check your answers before sending your application
      </h1>

      <h2 class="govuk-heading-m">
        Pension or annuity
      </h2>
   


      <dl class="govuk-summary-list govuk-!-margin-bottom-9">





        {% if data['pension']=="No" %}
        <div class="govuk-summary-list__row">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Are you getting regular payments from a pension or annuity?</dt>
            <dd class="govuk-summary-list__value">{{ data['pension'] }}</dd>
            
            <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension">Change<span class="govuk-visually-hidden"> pension</span></a></dd>
          </div>

        {% endif %}

        {% if data['pension']=="I am not sure" %}
        <div class="govuk-summary-list__row">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Are you getting regular payments from a pension or annuity?</dt>
            <dd class="govuk-summary-list__value">{{ data['pension'] }}</dd>
            
            <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension">Change<span class="govuk-visually-hidden"> pension</span></a></dd>
          </div>

        {% endif %}












        {% if data['pension']=="Yes" %}

        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Are you getting regular payments from a pension or annuity?</dt>
          <dd class="govuk-summary-list__value">{{ data['pension'] }}</dd>
          
          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension">Change<span class="govuk-visually-hidden"> pension</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is the name of your pension or annuity provider?</dt>
          <dd class="govuk-summary-list__value">{{ data['pension-name'] }}</dd>
          
          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension-name">Change<span class="govuk-visually-hidden"> pension name</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is the address of your pension or annuity provider?</dt>
          <dd class="govuk-summary-list__value">
            {{ data['pension-line-1'] }}
            {{ data['pension-line-2'] }} <br>
            {{ data['pension-town'] }} <br>
            {{ data['pension-postcode'] }}
          </dd>
          
          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension-address">Change<span class="govuk-visually-hidden"> pension address</span></a></dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How often is your pension or annuity paid?</dt>
          <dd class="govuk-summary-list__value">{{ data['current-pension-paid'] }}</dd>

          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension-amount">Change<span class="govuk-visually-hidden"> pension amount</span></a></dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is your gross pension or annuity?</dt>
          <dd class="govuk-summary-list__value">
            {% if data['current-pension-paid']=="Weekly" %}
              £{{ data['current-pension-paid-weekly-amount'] }}
            {% endif %}
            {% if data['current-pension-paid']=="Every 2 weeks" %}
              £{{ data['current-pension-paid-fortnightly-amount'] }}
            {% endif %}
            {% if data['current-pension-paid']=="Every 4 weeks" %}
              £{{ data['current-pension-paid-4weeks-amount'] }}
            {% endif %}
            {% if data['current-pension-paid']=="Every month" %}
              £{{ data['current-pension-paid-monthly-amount'] }}
            {% endif %}
            {% if data['current-pension-paid']=="Every 3 months" %}
              £{{ data['current-pension-paid-3monthly-amount'] }}
            {% endif %}
            {% if data['current-pension-paid']=="Twice a year" %}
              £{{ data['current-pension-paid-twiceyearly-amount'] }}
            {% endif %}
            {% if data['current-pension-paid']=="Once a year" %}
              £{{ data['current-pension-paid-yearly-amount'] }}
            {% endif %}
          </dd>

          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension-amount"><span class="govuk-visually-hidden"> pension amount</span></a></dd>
        </div>


        {% if data['pension-reference']=="No" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Do you know the policy or reference number of your pension or annuity?</dt>
          <dd class="govuk-summary-list__value">No</dd>

          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension-reference">Change<span class="govuk-visually-hidden"> pension amount</span></a></dd>
        </div>
        {% endif %}

        {% if data['pension-reference']=="Yes" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Do you know the policy or reference number of your pension or annuity?</dt>
          <dd class="govuk-summary-list__value">Yes</dd>

          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension-reference">Change<span class="govuk-visually-hidden"> pension amount</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Policy or reference number</dt>
          <dd class="govuk-summary-list__value">{{ data['pension-reference-details'] }}</dd>

          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension-reference"><span class="govuk-visually-hidden"> pension amount</span></a></dd>
        </div>
        {% endif %}


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Is this pension or annuity inherited?</dt>
          <dd class="govuk-summary-list__value">{{ data['pension-inherited'] }}</dd>
          
          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension-inherited">Change<span class="govuk-visually-hidden"> pension inherited</span></a></dd>
        </div>

        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Do you have another pension or annuity you currently receive?</dt>
          <dd class="govuk-summary-list__value">{{ data['pension-another'] }}</dd>
          
          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension-add-another">Change<span class="govuk-visually-hidden"> pension inherited</span></a></dd>
        </div>










        {% if data['pension-another']=="Yes" %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is the name of your pension or annuity provider?</dt>
          <dd class="govuk-summary-list__value">{{ data['another-pension-name'] }}</dd>
          
          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension-2/pension/pension-name">Change<span class="govuk-visually-hidden"> pension name</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is the address of your pension or annuity provider?</dt>
          <dd class="govuk-summary-list__value">
            {{ data['pension2-line-1'] }}
            {{ data['pension2-line-2'] }} <br>
            {{ data['pension2-town'] }} <br>
            {{ data['pension2-postcode'] }}
          </dd>
          
          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension-2/pension/pension-address">Change<span class="govuk-visually-hidden"> pension address</span></a></dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How often is your pension or annuity paid?</dt>
          <dd class="govuk-summary-list__value">{{ data['current-pension2-paid'] }}</dd>

          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension-2/pension/pension-amount">Change<span class="govuk-visually-hidden"> pension amount</span></a></dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is your gross pension or annuity?</dt>
          <dd class="govuk-summary-list__value">
            {% if data['current-pension2-paid']=="Weekly" %}
              £{{ data['current-pension2-paid-weekly-amount'] }}
            {% endif %}
            {% if data['current-pension2-paid']=="Every 2 weeks" %}
              £{{ data['current-pension2-paid-fortnightly-amount'] }}
            {% endif %}
            {% if data['current-pension2-paid']=="Every 4 weeks" %}
              £{{ data['current-pension2-paid-4weeks-amount'] }}
            {% endif %}
            {% if data['current-pension2-paid']=="Every month" %}
              £{{ data['current-pension2-paid-monthly-amount'] }}
            {% endif %}
            {% if data['current-pension2-paid']=="Every 3 months" %}
              £{{ data['current-pension2-paid-3monthly-amount'] }}
            {% endif %}
            {% if data['current-pension2-paid']=="Twice a year" %}
              £{{ data['current-pension2-paid-twiceyearly-amount'] }}
            {% endif %}
            {% if data['current-pension2-paid']=="Once a year" %}
              £{{ data['current-pension2-paid-yearly-amount'] }}
            {% endif %}
          </dd>

          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension-2/pension/pension-amount"><span class="govuk-visually-hidden"> pension amount</span></a></dd>
        </div>


        {% if data['pension2-reference']=="No" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Do you know the policy or reference number of your pension or annuity?</dt>
          <dd class="govuk-summary-list__value">No</dd>

          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension-2/pension/pension-reference">Change<span class="govuk-visually-hidden"> pension amount</span></a></dd>
        </div>
        {% endif %}

        {% if data['pension2-reference']=="Yes" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Do you know the policy or reference number of your pension or annuity?</dt>
          <dd class="govuk-summary-list__value">Yes</dd>

          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension-2/pension/pension-reference">Change<span class="govuk-visually-hidden"> pension amount</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Policy or reference number</dt>
          <dd class="govuk-summary-list__value">{{ data['pension2-reference-details'] }}</dd>

          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension-2/pension/pension-reference"><span class="govuk-visually-hidden"> pension amount</span></a></dd>
        </div>
        {% endif %}


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Is this pension or annuity inherited?</dt>
          <dd class="govuk-summary-list__value">{{ data['pension2-inherited'] }}</dd>
          
          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension-2/pension/pension-inherited">Change<span class="govuk-visually-hidden"> pension inherited</span></a></dd>
        </div>

        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Do you have another pension or annuity you currently receive?</dt>
          <dd class="govuk-summary-list__value">{{ data['pension2-another'] }}</dd>
          
          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension-2/pension/pension-another">Change<span class="govuk-visually-hidden"> pension inherited</span></a></dd>
        </div>







        {% endif %}























        {% endif %}
        
      </dl>


























    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

