{% extends "layout.html" %}

{% block pageTitle %}
 Statutory payment end date - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="statutory-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Does your Statutory Sick Pay end in the next 3 months?
          </h1>
        </legend>
        <p>You can find this date on your SSP1 form.
        </p>
        <p>If you do not have an SSP1 form, you can get this information from your employer.</p>
        <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="state-pension-1" name="statutory-pay-end" type="radio" value='yes~/apply/v18/may-be-eligible' data-aria-controls="yes-cond">
              <label class="govuk-label govuk-radios__label" for="state-pension-1">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="state-pension-2" name="statutory-pay-end" type="radio" value='no~/apply/v18/may-not-be-eligible-statutory-pay'>
              <label class="govuk-label govuk-radios__label" for="state-pension-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      </fieldset>
    
    

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}


