{% extends "layouts/main.html" %}

{% block pageTitle %}
   What type of email do you need? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      What type of email do you need?
    </h1>
    <form action="email-type" method="get">


      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "emailPreferences",
        name: "emailPreferences",
        fieldset: {
          legend: {
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },

        items: [


          {
            value: "PDF",
            text: "Attached PDF"
          },

          {
            value: "wordDocument",
            text: "Attached Word Document"
          }

        ]
      }) }}

        {{ govukButton({
              text: "Continue",
              href: "phone-contact-preference"
          }) }}

    </form>
  </div>
</div>


{% endblock %}
