{% extends "layouts/main.html" %}

{% block pageTitle %}
  Do you need us to contact you in an alternative format? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
     text: "Prototype"
  },
  html: 'This is a prototype. No data is saved or stored.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Do you need us to contact you in an alternative format?
      </h1>

      <form class="form" action="guard" method="post">

        <p>
          We will sometimes need to write to you or speak with you. 
        </p>
        <p class="govuk-body">This 
will be by:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>letter, written in size 12 font</li>
  <li>telephone</li>
</ul>
        <p>If you need our communications with you to be in an alternative 
format to those, such as braille, large print or audio CD, you can 
tell us below.</p>
<p>We will ask for more details in the next few pages.</p>

        {{ govukRadios({
          name: "altFormatNeeds",
          fieldset: {
            legend: {
              text: "Do you need an alternative format?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes-alt-formats",
              text: "Yes"
            },
            {
              value: "no-alt-formats",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
