{% extends "layouts/main.html" %}

{% block pageTitle %}
   What size font do you need? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
     text: "Prototype"
  },
  html: 'This is a prototype. No data is saved or stored.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What size font do you need?
      </h1>
      <p class="govuk-body">Our standard letter is in size 12 font.</p>
      <p class="govuk-body">If you need a different one for your letters, you can select one of the sizes below, or ask to be contacted by DWP to discuss your needs.</p>
      <form action="large-print" method="get">


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        
        {{ govukRadios({
          idPrefix: "print-size",
          name: "Print size",
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },

          items: [

            {
              value: "size-16",
              text: "Size 16"
            },
            {
              value: "size-20",
              text: "Size 20"
            },
            {
              value: "size-24",
              text: "Size 24"
            },
            {
              value: "other",
              text: "You need a different font size and DWP will contact you to discuss this"
            }
          ]
        }) }}

          {{ govukButton({
                text: "Continue",
                href: "phone-contact-preference"
            }) }}

      </form>
    </div>
  </div>


{% endblock %}
