{% extends "layouts/main.html" %}

{% block pageTitle %}
  What do you need instead of a phone call? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukErrorSummary({
  titleText: "@Alex",
  errorList: [
    {
      text: "Pre-populate email address!",
      href: "#"
    }
  ]
}) }}
    <h1 class="govuk-heading-l">What do you need instead of a phone call?</h1>

    <p>We usually call you if we have any questions about your application. </p>
    <p>If you do not need one of these alternative formats for phone calls, 
you can still select ‘DWP can contact you by phone’. </p>

    <form action="phone-contact-preference" method="post">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {% set emailHtml %}
          {{ govukInput({
                id: "contact-by-email",
                name: "contact-by-email",
                type: "email",
                autocomplete: "email",
                spellcheck: false,
                classes: "govuk-input--width-20",
                label: {
                  text: "Enter your email address"
                },
                hint: {
                  text: "For example, name@example.com"
                }
              }) }}
              {% endset -%}

        {{ govukRadios({
        idPrefix: "phone-contact-preference",
        name: "phoneContactPreference",
        fieldset: {
          legend: {
              classes: "govuk-fieldset__legend--l"
            }
          },

        items: [


        {
          value: "Relay UK",
          text: "Relay UK"
        },

          {
            value: "Textphone",
            text: "Textphone"
          },
          {
            value: "email",
            text: "Email as a reasonable adjustment",
            conditional: {
              html: emailHtml
            }
          },


          {
            divider: "or"
          },
          {
            value: "none",
            text: "DWP can contact you by phone",
            behaviour: "exclusive"
          }

        ]
      }) }}


{{ govukButton({
              text: "Continue"
          }) }}

    </form>

  </div>
</div>


{% endblock %}
