{% extends "layouts/main.html" %}

{% block pageTitle %}
Adjustments for appointments in person   – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
     text: "Prototype"
  },
  html: 'This is a prototype. No data is saved or stored.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

 <h1 class="govuk-heading-l">
        Adjustments for appointments in person 
      </h1>

  
      <form class="form" action="ra-check-answers?ra-version=checkboxes" method="post">
      

        <p class="govuk-body">
        To assess your claim for New Style ESA we may ask you to attend an appointment at a DWP building. If you need any adjustments for this, you can tell us about them.
        
        <p class="govuk-body">These adjustments will not affect the outcome of your claim.</p>
      
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  name: "appointment-options",
  values: data['appointment-options'],
  fieldset: {
    legend: {
      text: " Do you need any adjustments to attend an appointment in person? ",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select all that apply"
  },
  items: [
   {
      value: "No",
      text: "No",
      behaviour: "exclusive"
    },
    {
      divider: "or"
    },
     {
      value: "Ramp, lift or ground floor appointment",
      text: "Ramp, lift or ground floor appointment"
    },
    {
      value: "Wide doorway",
      text: "Wide doorway"
    },
    {
      value: "Someone with you for your appointment",
      text: "Someone with you for your appointment",
      hint: {
        text: "For example a friend or support worker"
      }
    },
       {
      value: "I need something else",
      text: "I need something else",
      hint: {
        text: "DWP will contact you to discuss your appointment needs"
      }
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
     