{% extends "layout.html" %}

{% block pageTitle %}
 Check your answers - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help
      us to improve it.
    </span>
  </p>
</div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="declaration">

        <h1 class="govuk-heading-l">
          Check your answers before sending your application
        </h1>














      </br>
    </br>

        <h2 class="govuk-heading-m">
          Personal information
        </h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              James Wilson
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/Personal/name">
                Change<span class="govuk-visually-hidden"> first name</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              1 March 1981
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/Personal/dateofbirth">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              SN002468W
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/Personal/nino">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home address
            </dt>
            <dd class="govuk-summary-list__value">
              07 Clarandon Street </br>
              Middlesbrough</br>
              TS1 5JB
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/Personal/address">
                Change<span class="govuk-visually-hidden"> home address</span>
              </a>
            </dd>
          </div>



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Can we send letters
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/Personal/address">
                Change<span class="govuk-visually-hidden"> contact address</span>
              </a>
            </dd>
          </div>



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alternative contact address
            </dt>
            <dd class="govuk-summary-list__value">
              42 Victoria Road </br>
              Middlesbrough </br>
              TS1 3HE
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/Personal/correspondence-address">
                Change<span class="govuk-visually-hidden"> contact address</span>
              </a>
            </dd>
          </div>
 


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mobile phone number
            </dt>
            <dd class="govuk-summary-list__value">
              07700 900457
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/Personal/telephone">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>


   

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              j.wilson@webiste.com        
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/Personal/email">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>



   

    </dl>

      





















        </br>
        </br>
        <h2 class="govuk-heading-m">
          Health conditions
        </h2>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

     
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Health condition
            </dt>
            <dd class="govuk-summary-list__value">
             Broken Knee <br>
              Started 1 March 2024
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-list">
                <li><a href="/prototype-experimental/medical/remove-condition">
                  Remove<span class="govuk-visually-hidden"> diabetes</span>
                </a></li>
              
            </ul>
            </dd>
          </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Health condition
              </dt>
              <dd class="govuk-summary-list__value">
                Anxiety<br>
                Started 7 March 2024
              <dd class="govuk-summary-list__actions">
                <ul class="govuk-list">
                  <li><a href="/prototype-experimental/medical/remove-condition">
                  Remove<span class="govuk-visually-hidden"> anxiety</span>
                </a></li>
                <li><a href="/prototype-experimental/medical/condition">
                  Change<span class="govuk-visually-hidden"> anxiety</span>
                </a></li>
              </ul>
              </dd>
            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Any other health conditions
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="/prototype-experimental/medical/condition-another">
                  Change
                </a>
              </dd>
            </div>
        


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Doctor&rsquo;s details
            </dt>
            <dd class="govuk-summary-list__value">
              Prospect Surgery<br>
              Cleveland Health Centre<br>
              20 Cleveland Square<br>
              Middlesbrough<br>
              TS1 2NX<br><br>

              Dr. Arshad<br>
              07700 900457
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/medical/gpsurgery">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Doctor said you might have less than 12 months to live
             </dt>
             <dd class="govuk-summary-list__value">
               Yes
             </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/medical/live-less-than-12-months">
                Change<span class="govuk-visually-hidden"> life expectancy</span>
              </a>
            </dd>
          </div>
          
          
        
          
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             SR1 form completed
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/medical/sr1-report">
                Change
              </a>
            </dd>
          </div>


          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Currently in hospital
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="hospital">
                Change
              </a>
            </dd>
          </div>


         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Hospital details
            </dt>
            <dd class="govuk-summary-list__value">
              The James Cook University Hospital<br>
              Ward: 217<br>
              
              Admitted on 12 March 2024
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/medical/hospital-details">
                Change
              </a>
            </dd>
          </div>
         
          
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Pregnant
            </dt>
            <dd class="govuk-summary-list__value">
              Yes<br>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/medical/pregnant">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>


         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Expected due date
            </dt>
            <dd class="govuk-summary-list__value">
              12 August 2024<br>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/medical/pregnant">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
       


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Doctor can share details with DWP
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/medical/consent">
                Change
              </a>
            </dd>
          </div>
        </dl>
















      </br>
    </br>

        <h2 class="govuk-heading-m">
          Voluntary and paid work
        </h2>

      </br>
        <h2 class="govuk-heading-s">
          Voluntary work
        </h2>




        


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Doing voluntary work
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/work/voluntary-work">
                Change<span class="govuk-visually-hidden"> voluntary work details</span>
              </a>
            </dd>
          </div>
        
          
          
        
       

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Voluntary work details
            </dt>
            <dd class="govuk-summary-list__value">
              Jobcentre Plus <br>
              James Cook House <br> 
              79 Corporation Street <br>
              Middlesbrough <br>
              TS1 2BA
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/work/voluntary-details">
                Change<span class="govuk-visually-hidden"> voluntary work details</span>
              </a>
            </dd>
          </div>
          
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of voluntary work
            </dt>
            <dd class="govuk-summary-list__value">
            Help admin staff with data entry           
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/work/voluntary-work-role">
                Change<span class="govuk-visually-hidden"> life expectancy</span>
              </a>
            </dd>
          </div>
          
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Hours of voluntary work each week
            </dt>
            <dd class="govuk-summary-list__value">
              2 hours each week

            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/work/voluntary-hours">
                Change
              </a>
            </dd>
          </div>
       
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Doing other voluntary work
            </dt>
            <dd class="govuk-summary-list__value">
              No 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/work/voluntary-work-another">
                Change
              </a>
            </dd>
          </div>
        </dl>


        

    



      </br>
        <h2 class="govuk-heading-s">
          Paid work
        </h2>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Currently employed
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/work/work">
                Change
              </a>
            </dd>
          </div>
        

        

        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Employement status
            </dt>
            <dd class="govuk-summary-list__value">
              Employee
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/work/employment-status">
                Change
              </a>
            </dd>
          </div>
        


         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Employment details
            </dt>
            <dd class="govuk-summary-list__value">
              Nursery Assistant <br>
              NHS <br>
              South Tees Hospitals NHS Foundation Trust <br>
              Middlesbrough <br>
              TS4 3BY <br><br>
              01642 850850 


            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/work/work-emp-details">
                Change
              </a>
            </dd>
          </div>
         
         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Off sick from this work
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/work/worksick">
                Change
              </a>
            </dd>
          </div>
        
        
         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last worked
            </dt>
            <dd class="govuk-summary-list__value">
              1 March 2024
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/work/last-work">
                Change
              </a>
            </dd>
          </div>
         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Hours you work each week
            </dt>
            <dd class="govuk-summary-list__value">
              8
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/work/work-hours">
                Change
              </a>
            </dd>
          </div>
       
       
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Earnings
            </dt>
            <dd class="govuk-summary-list__value">
              £230 Weekly
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/work/payfrequency">
                Change
              </a>
            </dd>
          </div>
        
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Professional support worker
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/work/work-supported">
                Change
              </a>
            </dd>
          </div>
        
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Expenses
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/work/expenses">
                Change
              </a>
            </dd>
          </div>
        
        
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Expenses details
            </dt>
            <dd class="govuk-summary-list__value">
              Get £10 per day for travel
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/work/expenses-details">
                Change
              </a>
            </dd>
          </div>
       
        


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Any other jobs
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/work/work-another">
                Change
              </a>
            </dd>
          </div>
        
        
        </dl> 







        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Worked abroad in the last 5 years
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/work/work-overseas">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Lived abroad with family member in the armed forces in the last 12 weeks
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/work/military-overseas">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>









      </br></br>
        <h2 class="govuk-heading-m">
          Benefits and statutory payments
        </h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Getting Statutory Sick Pay
            </dt>
            <dd class="govuk-summary-list__value">
              None of these
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/benefits/statutory-pay">
                Change
              </a>
            </dd>
          </div>
          



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              SSP in the 13 weeks before the date you want to claim from
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/benefits/statutory-pay-recent">
                Change
              </a>
            </dd>
          </div>
          


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              SSP end date
            </dt>
            <dd class="govuk-summary-list__value">
              1 May 2024
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/benefits/statutory-pay-end">
                Change
              </a>
            </dd>
          </div>





          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Claim start date
            </dt>
            <dd class="govuk-summary-list__value">
              2 May 2024
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/benefits/claim-start-date-if-statutory-sick-pay">
                Change
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Claim end date
            </dt>
            <dd class="govuk-summary-list__value">
              No, I do not know
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/benefits/claim-end-date">
                Change
              </a>
            </dd>
          </div>


        </dl>
       
       
       
       




















       
      </br></br>
        <h2 class="govuk-heading-m">
          Pensions and annuities
        </h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          
          

        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Are you getting regular payments from a pension or annuity?</dt>
          <dd class="govuk-summary-list__value">Yes</dd>
          
          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension">Change<span class="govuk-visually-hidden"> pension</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name of your pension or annuity provider</dt>
          <dd class="govuk-summary-list__value">Scottish Widows</dd>
          
          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension-name">Change<span class="govuk-visually-hidden"> pension name</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Address</dt>
          <dd class="govuk-summary-list__value">
            Morrison Street <br> Edinburgh <br> EH3 1HL
          </dd>
          
          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension-address">Change<span class="govuk-visually-hidden"> pension address</span></a></dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How often is your pension or annuity paid?</dt>
          <dd class="govuk-summary-list__value">Once a year</dd>

          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension-amount">Change<span class="govuk-visually-hidden"> pension amount</span></a></dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is your gross pension or annuity?</dt>
          <dd class="govuk-summary-list__value">
           £12000
          </dd>

          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension-amount"><span class="govuk-visually-hidden"> pension amount</span></a></dd>
        </div>


       

   
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Do you know the policy or reference number of your pension or annuity?</dt>
          <dd class="govuk-summary-list__value">Yes</dd>

          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension-reference">Change<span class="govuk-visually-hidden"> pension amount</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Policy or reference number</dt>
          <dd class="govuk-summary-list__value">SW667221L</dd>

          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension-reference"><span class="govuk-visually-hidden"> pension amount</span></a></dd>
        </div>
        


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Is this pension or annuity inherited?</dt>
          <dd class="govuk-summary-list__value">Yes</dd>
          
          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension-inherited">Change<span class="govuk-visually-hidden"> pension inherited</span></a></dd>
        </div>

        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Another pension or annuity</dt>
          <dd class="govuk-summary-list__value">No</dd>
          
          <dd class="govuk-summary-list__actions"><a href="/prototype-experimental/pension/pension-add-another">Change<span class="govuk-visually-hidden"> pension inherited</span></a></dd>
        </div>









      </br>
    
      <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Permanent health insurance
       </dt>
       <dd class="govuk-summary-list__value">
         I'm not sure
       </dd>
       <dd class="govuk-summary-list__actions">
         <a href="/prototype-experimental/pension/insurance">
           Change
         </a>
       </dd>
     </div>
    
        
      </dl>




          
          
          
         




























      
      
      </br></br>
        <h2 class="govuk-heading-m">
          Bank details
        </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Acount holder
            </dt>
            <dd class="govuk-summary-list__value">
              James Wilson
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/declaration/bank">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Bank or building society
            </dt>
            <dd class="govuk-summary-list__value">
              Royal Bank of Scoatland
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/declaration/bank">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sort code
            </dt>
            <dd class="govuk-summary-list__value">
              12 34 56
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/declaration/bank">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Account number
            </dt>
            <dd class="govuk-summary-list__value">
              98765432
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/declaration/bank">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>

        </dl>



















      </br>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              DWP can share decision with your doctor
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/prototype-experimental/declaration/consent-outcome">
                Change
              </a>
            </dd>
          </div>
        </dl>

        <input type="submit" class="govuk-button" value="Continue" id="submit">

  </div>
</div>

</main>


</div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}