{% extends "layout.html" %}

{% block pageTitle %}
 Employment status - {{ data['employer-details'] | split(',') | last | default("Asda")}} - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="work-emp-details">

      <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="self-emp-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            What is your employment status?
          </h1>
        </legend>
        <span id="special-rules-hint" class="govuk-hint">
          If you have more than one job, you will be asked about your other jobs later in this form.
          </span>
        <span id="waste-hint" class="govuk-hint">
          Select all that apply.
        </span>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="self-emp-1" name="employment-status" type="checkbox" value="Employee">
            <label class="govuk-label govuk-checkboxes__label" for="self-emp-1">
              Employee
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="self-emp-2" name="employment-status" type="checkbox" value="Self-employed">
            <label class="govuk-label govuk-checkboxes__label" for="self-emp-2">
              Self-employed
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="self-emp-3" name="employment-status" type="checkbox" value="Sub-contractor">
            <label class="govuk-label govuk-checkboxes__label" for="self-emp-3">
              Sub-contractor
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="self-emp-4" name="employment-status" type="checkbox" value="Company director">
            <label class="govuk-label govuk-checkboxes__label" for="self-emp-4">
              Company director
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
