
{% extends "layout.html" %}

{% block pageTitle %}
What size font do you need? - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
    
        What size font do you need?
      </h1>
      <p>Our letters are usually in Arial font size 12.</p>
      <form action="address-is-it-postal" method="get">


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% set emailHtml %}
            {{ govukInput({
                  id: "other",
                  name: "other",
                  type: "other",
                  spellcheck: false,
                  classes: "govuk-!-width-one-third"
                }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "print-size",
          name: "Print size",
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
         
          items: [

            {
              value: "size-16",
              text: "Size 16"
            },
            {
              value: "size-18",
              text: "Size 18"
            },
            {
              value: "size-24",
              text: "Size 24"
            },
            {
              value: "other",
              text: "Other",
              conditional: {
                html: emailHtml
              }
            }
          ]
        }) }}

          {{ govukButton({
                text: "Continue",
                href: "phone"
            }) }}

      </form>
    </div>
  </div>

{% endblock %}