{% extends "layout.html" %}

{% block pageTitle %}
Do you need us to contact you in an alternative format? - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Accessibility</span>
    <h1 class="govuk-heading-l">Do you need us to contact you in an alternative format?</h1>

    <form action="alternate-format" method="post">

      <p>After you have submitted your application, we usually contact you by letter and phone.
      </p>

      <p> If you cannot read a standard letter or use the phone, we can contact you in an alternative format. This includes audio, braille and large print.</p>




<div class="govuk-form-group">

<fieldset class="govuk-fieldset">


<div class="govuk-radios">
  
    
        
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="alternate-format" name="AlternateFormat" type="radio" value="alternateFormatYes">
        <label class="govuk-label govuk-radios__label" for="alternate-format">
      Yes, contact me in an alternative format
    </label>
        
      </div>
      
      
    
  
    
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="alternate-format-2" name="AlternateFormat" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="alternate-format-2">
      No, contact me by letter and phone
    </label>
        
      </div>
      
      
    
  
</div>


</fieldset>


</div>


      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

</div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

