{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="name">


    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
    Consent to request more information
    </h1>

    <p>The Department for Work and Pensions (DWP) might need more information from the people or organisations you've told us about to deal with your application.</p>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" >
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Do you agree that the DWP can ask them for more information about you?
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional-1">
            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
              Yes, I agree that the DWP can ask them for more information about me
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2">
            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
              No, I do not agree that the DWP can contact anyone about me
            </label>
          </div><div class="govuk-form-group">
    </div>
    <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    If you do not agree, you might need to contact the people and organisations yourself to get this information.
    </strong>
    </div>
    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
