{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Application submitted
      </h1>
      <div class="govuk-panel__body">
        Your reference is your
        <br><strong>National Insurance number</strong>
      </div>
    </div>

  </div> <!-- govuk.grid-column-full -->

  <div class="govuk-grid-column-two-thirds">  

    <h2 class="govuk-heading-l">Things to do now</h2>
      <h3 class="govuk-heading-m">Make an appointment</h3>
      <p>Call the helpline number on this page and make an appointment to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>prove your identity</li>
          <li>agree and sign a 'claimant commitment' which is a record of the responsibilities you accept in return for getting Employment and Support Allowance</li>
        </ul>
        </p>
        <h3 class="govuk-heading-m">Things to take to your appointment</h3>
        <p class="govuk-body">
        You'll need to bring the following if you have them:
        <ul class="govuk-list govuk-list--bullet">
          <li>proof of identity</li>
          <li>fit note</li>
          <li>SSP1 form</li>
          <li>P45</li>
          <li>last 5 wage slips</li>
          <li>last workplace pension statement</li>
        </ul>
        </p>



        <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>

  </div><!-- govuk-grid-column-two-thirds -->

  <div class="govuk-grid-column-one-third">
    <div id="ad-helpline">
      <h3 class="govuk-heading-m">Contact DWP</h3>
      <p class="govuk-heading-s">Telephone</p>
      <p>0800 169 0154</p>
      <p>Monday to Friday, 8am to 6pm</p>
      <p>Closed public holidays</p>
    </div>
  </div><!-- govuk-grid-column-one-third -->

</div><!-- govuk-grid-row -->
{% endblock %}
