{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-top-9">Apply for New Style Employment and Support Allowance (ESA)</h1>
      <p>Before you apply make sure you have your:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>National Insurance number</li>
        <li>bank or building society details</li>
        <li>GP surgery name and address</li>
      </ul>
      <p>You'll also need details of any:
      <ul class="govuk-list govuk-list--bullet">
        <li>current or recent work</li>
        <li>pensions scheme's you're paid from</li>
        <li>permanent health insurance or income protection payments you're getting </li>
      </ul>

      <h2 class="govuk-heading-m">After you've applied</p>
      <p>You might also need to make an appointment or provide more information before you can get Employment and Support Allowance.</p>
      <p>You'll be told what else you need to do at the end of this application.</p>


      <a href="condition" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
