{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}Apply for ‘new style’ Employment Support Allowance - GOV.UK{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Version 8 messages</h2>

      <h3 class="govuk-heading-m">Error screens</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="messages/sorry-the-service-is-currently-unavailable">Sorry, the service is currently unavailable</a>
        </li>
        <li>
          <a href="messages/sorry-there-was-a-problem-sending-your-application">Sorry, there was a problem sending your application</a>
        </li>
        <li>
          <a href="messages/sorry-youll-need-to-start">Sorry, you’ll need to start again</a>
        </li>
        <li>
          <a href="messages/your-session-will-end">Your session will end in 5 minutes</a>
        </li>
        <li>
          <a href="messages/sorry-there-is-a-problem-with-the-service">Sorry, there is a problem with the service</a>
        </li>
      </ul>


      </ul>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}