{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}Apply for ‘new style’ Employment Support Allowance - GOV.UK{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>

      <p>Try again later.</p>

      <p>We have not saved your answers. When the service is available, you will have to start again.</p>

      <p>Contact the Universal Credit helpline if you have any questions.</p>

      <p>Telephone:<br>
      	<strong>0808 328 5644</strong>
      </p>

      <p>Opening times:<br>
      	<strong>Monday to Friday: 8am to 6pm</strong>
      </p>

      <p>Closed on public holidays.</p>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}