{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}Apply for ‘new style’ Employment Support Allowance - GOV.UK{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Sorry, you’ll need to start again</h1>

      <p>Your session has ended because you have not done anything on the service for 60 minutes.</p>

      <p>We do this for your security. We have not saved any personal information you entered.</p>

      <p><a href="#" class="govuk-button">Start your application again</a></p>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}