{% extends "layout.html" %}

{% block pageTitle %}
 National Insurance number - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="address">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      What is your National Insurance number?
    </h1>

    <div class="govuk-form-group">
      <div id="national-insurance-number-hint" class="govuk-hint">
       For example, ‘QQ 12 34 56 C’
      </div>
      <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="national-insurance-number" name="national-insurance-number" type="text" spellcheck="false" aria-describedby="national-insurance-number-hint">
    </div>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          I cannot find my National Insurance number
        </span>
      </summary>
      <div class="govuk-details__text">
      
        <p>You can find your National Insurance number on your payslip, P60, or letters about tax, pensions and benefits. You can also <a href="https://www.gov.uk/jobseekers-allowance" class="govuk-link" rel="noreferrer noopener" target="_blank">find it online or ask for a reminder through post (opens in new tab).</a></p>
        

      </div>
    </details>

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
