{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="pension-inherited">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            How much was your last {{ data['pension-provider'] | split(',') | last }} pension payment?
          </h1>
        </legend>

         <div class="govuk-form-group">
        
            <div class="govuk-currency-input">
              <div class="govuk-currency-input__inner">
                <span class="govuk-currency-input__inner__unit govuk-body">£</span>
                <input class="govuk-!-width-two-thirds govuk-currency-input__inner__input govuk-input govuk-input--width-10" aria-label="Enter amount in pounds" name="pesnion-amount" data-non-numeric="" type="number" id="pesnion-amount" pattern="[0-9]\d*(\.\d+)?" value="">
              </div><!-- govuk-currency-input__inner -->
            </div><!-- govuk-currency-input -->
         </div> <!-- govuk-form-group -->

      </fieldset>
    </div> <!-- from-group -->

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
  {% endblock %}
