{% extends "layout.html" %}

{% block pageTitle %}
  What do you need instead of a standard letter? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ super() }}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="letters-contact-preference" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="lettersContactPreference-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
              What do you need instead of a standard letter?
              </h1>
            </legend>
            <div id="lettersContactPreference-hint" class="govuk-hint">
              <p class="govuk-body">You will be able to give us more specific information on the format you select on the next page.</p>
              <p class="govuk-body">If you do not need one of these accessible formats for letters, you 
                          can select ‘DWP can contact you by standard letter’.</p>
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="largePrint" name="lettersContactPreference" type="radio" value="large-print">
                <label class="govuk-label govuk-radios__label" for="largePrint">
                  Large print
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="colouredPaper" name="lettersContactPreference" type="radio" value="coloured-paper">
                <label class="govuk-label govuk-radios__label" for="colouredPaper">
                  Coloured paper
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="colouredPaperLargePrint" name="lettersContactPreference" type="radio" value="coloured-paper-large-print">
                <label class="govuk-label govuk-radios__label" for="colouredPaperLargePrint">
                  Coloured paper and large print
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="braille" name="lettersContactPreference" type="radio" value="braille">
                <label class="govuk-label govuk-radios__label" for="braille">
                  Braille
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="audio" name="lettersContactPreference" type="radio" value="audio">
                <label class="govuk-label govuk-radios__label" for="audio">
                  Audio
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="email-af" name="lettersContactPreference" type="radio" value="email-af">
                <label class="govuk-label govuk-radios__label" for="email-af">
                  Email, DWP will contact you to find the best format for you
                </label>
              </div>
              <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="none" name="lettersContactPreference" type="radio" value="none">
                <label class="govuk-label govuk-radios__label" for="none">
                  DWP can contact you by standard letter
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {{ govukButton({
              text: "Continue"
          }) }}          
      </form>
    </div>
  </div>
{% endblock %}
