{% extends "layout.html" %}

{% block pageTitle %}
 Find out if you're eligible - Apply for New Style Employment and Support Allowance - GOV.UK - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
    </span>
  </p>
</div>
{% include "includes/back-link.html" %}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   

    <h1 class="govuk-heading-l">Find out if you're eligible for New Style ESA.</h1>
  
    <p>Answer these questions to find out if you may be eligible for New Style ESA.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
         I need help doing things online
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>Telephone:  0300 303 5035</li>
          <li>Textphone:  0300 303 5075</li>
          <li> <a href="#">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 7478</li>
        </ul>
  
      </div>
    </details>

    <p><a href="coronavirus-eligibility" class="govuk-button">Continue</a></p>



  </div>






  </ul>
</div>

</div>
{% endblock %}
