{% extends "layout.html" %}

{% block pageTitle %}
 Find out if you're eligible - Apply for New Style Employment and Support Allowance - GOV.UK - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
    </span>
  </p>
</div>
{% include "includes/back-link.html" %}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   

    <h1 class="govuk-heading-l">New Style Employment and Support Allowance</h1>
  
    <p>Contents</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="#overview">Overview</a>
      </li>
      <li>
        <a class="govuk-link" href="#why-should-you-claim">Why should you claim New Style Employment and Support Allowance?</a>
      </li>
      <li>
        <a class="govuk-link" href="#eligibility">Eligibility</a>
      </li>
      <li>
        <a class="govuk-link" href="#how-to-apply">How to apply</a>
      </li>
      <li>
        <a class="govuk-link" href="#after-you-apply">After you apply</a>
      </li>
      
      <li>
        <a class="govuk-link" href="#work-capability-assessment">Work Capability Assessment</a>
      </li>
      <li>
        <a class="govuk-link" href="#how-assessment-happens">How the assessment happens
        </a>
      </li>
      <li>
        <a class="govuk-link" href="#after-claim-assessed">After your claim is assessed
        </a>
      </li>
      <li>
        <a class="govuk-link" href="#how-long-esa">How long you'll get ESA for
        </a>
      </li>
      <li>
        <a class="govuk-link" href="#sanction">If you get a sanction
        </a>
      </li>
      <li>
        <a class="govuk-link" href="#paid-too-much">If you've been paid too much
        </a>
      </li>
    </ul>

    <h2 class="govuk-heading-m"><a id="Overview"></a>Overview</h2>
    <p>If you are ill or have a health condition or disability that limits your ability to work you may be able to get New Style Employment and Support Allowance (ESA).</p>
    <p>New Style ESA is a fortnightly payment that can be claimed on its own or at the same time as Universal Credit (UC). If you get both benefits, your Universal Credit payment is reduced by the amount you get for New Style ESA.
    </p>
    <p>New Style ESA is a contributory benefit. Normally, this means you may be able to get it if you’ve paid or been credited with enough National Insurance contributions in the 2 full tax years before the year you’re claiming in.
    </p>

    <h2 class="govuk-heading-m"><a id="why-should-you-claim"></a>Why should you claim New Style Employment and Support Allowance?</h2>



<p>Your (or your partner’s) savings will not affect how much New Style ESA you’re paid. If your partner works, it does not affect your claim.</p>
<p>Most income is not taken into account (but a personal pension can affect the amount you may receive).</p>
<p>While you receive New Style ESA you’ll earn Class 1 National Insurance credits, which can help towards your State Pension and other contributory benefits in the future.
</p>

<p>It is a regular fortnightly payment.</p>

<h2 class="govuk-heading-m"><a id="eligibility"></a>Eligibility</h2>

<p>To get New Style ESA you usually need to have been working within the last 2 to 3 years, and have made (or been credited with) Class 1 or Class 2 <a href="#">National Insurance contributions</a>.
</p>

<p>This can be through employment or self–employment.</p>

<p>If you’re not sure how much National Insurance you’ve paid, you can <a href="">check your National Insurance record </a> online.</p>

<p>You will also need to have a fit note (sometimes called ‘sick note’ or ‘doctor’s note’) but you can start making your claim before you have one. If you have only just become ill you can self–certify for the first 7 days.</p>

<h2 class="govuk-heading-m"><a id="how-to-apply"></a>How to apply</h2>
<h3 class="govuk-heading-s">Apply online</h3>

<p>You can apply for New Style ESA online.</p>
<p>You'll need:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your National Insurance number</li>
  <li>your bank or building society account number and sort code (you can use a friend or family member’s account if you do not have one)</li>
  <li>your doctor’s name, address and telephone number</li>
  <li>details of your income if you’re working</li>
  <li>the date your Statutory Sick Pay (SSP) ends if you’re claiming it</li>
</ul>
<p>You must   

  <a href="">apply by phone</a>  if you’re an <a href="">appointee</a> applying on behalf of someone else.</p>
  <div class="govuk-inset-text">
    You cannot get New Style ESA if you’re getting Statutory Sick Pay (SSP) from an employer. You can apply for New Style ESA up to 3 months before your SSP ends.
  </div>

    

   


    <a href="eligibility-start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a>

      <h3 class="govuk-heading-s">If you cannot apply online</h3>


      <p>Call the 

        <a href="https://www.gov.uk/universal-credit/contact-universal-credit">Universal Credit helpline</a>  if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you cannot apply online</li>
          <li>you’re an appointee applying on behalf of someone else</li>
       
        </ul>


        <h2 class="govuk-heading-m"><a id="after-you-apply"></a>After you apply</h2>
<p>The Department for Work and Pensions (DWP) will contact you within 10 working days of applying.</p>

<h3 class="govuk-heading-s">If you’re eligible
</h3>
<p>DWP will contact you within 10 working days to schedule an appointment that you must attend. It will normally be over the phone with a work coach from your local Jobcentre Plus office.</p>
<p>Your work coach will explain what you need to do to get New Style ESA. They will create an agreement with you called a ‘Claimant Commitment’.</p>
<p>DWP will contact you within 10 working days to schedule an appointment that you must attend. It will normally be over the phone with a work coach from your local Jobcentre Plus office.</p>
<p>You must agree to your ‘Claimant Commitment’ before you can get New Style ESA.</p>
<p>At the appointment, you’ll be asked to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>explain how your illness or disability affects your ability to work</li>
  <li>provide medical evidence</li>
  <li>agree to <a href="tell your local Jobcentre Plus if your circumstances change"></a></li>

</ul>
<div class="govuk-inset-text">
  If a medical professional has said you might have less than 12 months to live, you will not need to attend an appointment or make a Claimant Commitment. Find out more about <a href="">getting benefits if you might have less than 12 months to live</a>.
</div>

  </div>







</div>

</div>
{% endblock %}
