{% extends "layout.html" %}

{% block pageTitle %}
 Get help - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">Get help with your application</h2>

<h3 class="govuk-heading-s">Telephone</h3>

<p class="govuk-body">If you have a unique reference number, have it with you when you call.</p>

<ul class="govuk-list">
  <li>Telephone: 020 7946 0101</li>
  <li>Textphone: 020 7946 0102</li>
  <li>Monday to Friday, 8am to 6pm</li>

</ul>

<h3 class="govuk-heading-s"><a href="#">Relay UK</a></h3>
<ul class="govuk-list">
<li> If you cannot hear or speak on the phone: 18001 then 0800 7478</li>
<li>Monday to Friday, 8am to 6pm</li></ul>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
