{% extends "layout.html" %}

{% block pageTitle %}
 Name - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="3address">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      What is your name?
    </h1>

    <div class="govuk-form-group">
    <label class="govuk-label" for="first-name">
    First name
    </label>
    <input class="govuk-input govuk-input--width-20" id="first-name" name="first-name" type="text">
    </div>
    <div class="govuk-form-group">
    <label class="govuk-label" for="last-name">
    Last name
    </label>
    <input class="govuk-input govuk-input--width-20" id="last-name" name="last-name" type="text">
    </div>
    

    
    <input type="submit" class="govuk-button" value="Continue" id="submit">
   
    </form>

  </div><!-- govuk-grid-column-two-thirds -->
  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Get help</h2>
      <ul class="govuk-list">
        <li>Telephone: 020 7946 0101</li>
        <li>Textphone: 020 7946 0102</li>
        <li><a href="#">Relay UK</a>  (if you cannot hear or speak on the phone): 18001 then 0800 7478</li>
      </ul>
     
    
    </div>
  </div>
</div>
</div><!-- govuk-grid-row -->
{% endblock %}
