{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="consent-outcome">

      <div class="govuk-form-group">
        <h1 class="govuk-heading-xl">
      Understanding how your condition affects you
        </h1>
        <p>Once you've applied and attended your new claim appointment, we might ask you for more information about how your condition affects you and your ability to work.</p>
        <p>To do this we will ask you to fill in and return a 'Capability for Work questionnaire' and in some cases we will ask you to come in for a Work Capability Assessment with a healthcare professional.</p>
        <p>The Work Capability Assessment is not a medical examination and not everyone is asked to go. It helps us to understand how your illness, disability, injury or health condition affects your ability to work and means we can give you the right support to help you work when you can.</p>
</p>

      </div>


  <input type="submit" class="govuk-button" value="Continue" id="submit"> <!-- consent-outcome -->

    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
