{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form id="form" method="post" action="declaration">

         <div class="govuk-form-group">
            <h1 class="govuk-heading-xl">
            Understanding how your condition affects you
            </h1>
            <p>Once you’ve applied, we might need more information about your condition and how it affects your ability to work.</p>
            <p>To do this we might send you a ‘Capability for Work questionnaire’ and invite you to a Work Capability Assessment with a healthcare professional.</p>
            <p>We would like to share the decision made based on the result of your Work Capability Assessment with your doctor, or any doctor treating you. This will tell them when they no longer need to provide you with fit notes (also known as ‘sick notes’) for the purposes of your claim.</p>
            <p>If you don't agree it won't affect your claim for ESA. We will keep a record of the decision you make.</p>
            <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">Do you agree that we can share the result of your Work Capability Assessment with your doctor, or any other doctor treating you?</h2>
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="consent-1" name="consent" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="consent-1">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="consent-2" name="consent" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="consent-2">
                    No
                  </label>
                </div>
              </div> <!-- govuk-radios -->
            </fieldset>
            <p></p>
            <p>You can withdraw your agreement at any time before we contact your doctor by calling DWP on 0800 169 0310. If you withdraw your agreement, we will not share the decision based on the outcome of your WCA with your doctor. However, this will not affect the way in which DWP uses your information.</p>
          </div> <!-- form-group -->      

          <input type="submit" class="govuk-button" value="Continue" id="submit"> 
      </form>    

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
