{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6" style="padding: 0">
    <h1 class="govuk-panel__large" style="font-size: 32px; margin-bottom: 5px">
      Application sent
    </h1>
    <div class="govuk-panel__body" style="font-size: 28px;">Your reference number is your National Insurance number</div>
    <p></p>
  </div>

  </div> <!-- govuk.grid-column-full -->

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">What happens next</h2>

    <p class="govuk-body-l">Someone from your local jobcentre will contact you to arrange an appointment, if they have not already.</p>

    <h3 class="govuk-heading-m">1. Prepare for your appointment</h3>
    <p class="govuk-body">
    <p>You will need to bring 3 identity documents with you:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your current passport, driving licence or bank card</li>
      <li>2 documents that prove your name and address, such as a utility bill, bank statement, hospital letter or birth certificate</li>
    </ul>
    <p>You&rsquo;ll also need to bring:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>fit notes (you might know these as sick notes)</li>
      <li>SSP1 form, if you have one</li>
      <li>P45 form, if you have one</li>
      <li>your 5 most recent weekly pay slips from Co-op</li>
      <li>your 2 most recent monthly pay slips from Boots</li>
    </ul>
    </p>
    <p>You might be asked for additional pay slips if your earnings vary.</p>
    <h3 class="govuk-heading-m">2. Go to your appointment</h3>
    <p>At your appointment you will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>prove your identity</li>
      <li>agree what you need to do in return for getting ‘new style’ ESA</li>
      <li>give evidence to support your application</li>
    </ul>

    <div class="govuk-inset-text">
  <h4 class="govuk-heading-s">If you need to change your appointment</h4>
    <p>Call 0800 328 5644 if you need to change your appointment.</p>
    <p>Lines are open Monday to Friday, 8am to 6pm and are closed on public holidays.</p>
    
      
</div>

<p class="govuk-body"><a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)</p>

    

    <p><a href="https://gov.uk" class="govuk-button">Finish</a></p>

</div><!-- govuk-grid-row -->
{% endblock %}
