{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Before you start</h1>
    <p>Make sure you have your:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>National Insurance number</li>
      <li>bank or building society details</li>
      <li>GP surgery name and address</li>
    </ul>
    <p>You'll also need details of:
    <ul class="govuk-list govuk-list--bullet">
      <li>current or recent work</li>
      <li>the date any Statutory Sick Pay ended or will end</li>
      <li>pensions that you're getting, including proof of any inherited pensions</li>
      <li>permanent health insurance payments</li>
    </ul>

    <a href="condition" role="button" class="govuk-button">Start application</a>

  </div><!-- govuk-grid-column-two-thirds -->

</div><!-- govuk-grid-row -->
{% endblock %}
