{% extends "layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="gpsurgery">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">You have added details for: </h2>
            <ul class="govuk-list govuk-heading-m">

              <li>diabetes</li>
              <li>anxiety</li>
              <li>depression</li>
              <li>bipolar disorder</li>
              <li>arthritis</li>
              <li>fibromyalgia</li>
              <li>high blood pressure</li>
              <li>sight loss</li>
              <li>asthma</li>
              <li>epilepsy</li>
              <li>heart disease</li>
              <li>COPD</li>

              <!-- {% for item in data['condition-details'] | split(',') %}
              <li>{{ item }}</li>
              {% endfor %} -->
              
          </ul>

        </legend>

        <p>You can only add up to 12 conditions. You can tell us about others at the next stage of your claim.</p>

     

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
{% block pageScripts %}

{% endblock %}
