{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6" style="padding: 0">
      <h1 class="govuk-panel__large" style="font-size: 32px; margin-bottom: 5px">
        Application sent
      </h1>
      <div class="govuk-panel__body" style="font-size: 28px;">Your reference number is your National Insurance number
      </div>
      <p></p>
    </div>

  </div> 

  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">If you've provided an email address, we will send you the information on this page. You can also download or print it.</p>
      <p><a href="https://www.gov.uk/send-fit-note" target="_blank">Donwload this page</a></br>
      <a href="https://www.gov.uk/send-fit-note" target="_blank">Print this page</a></p></br>

    <h2 class="govuk-heading-l">What happens next</h2>
    <h2 class="govuk-heading-m">Send us medical evidence to support your application</h2>

    {# BAU Evidence #}

    <p class="govuk-body">You can self-certify for the first 7 days of your claim but after that you need to send us medical evidence. Your claim start date is <span class="new-date"></span>, so you need to send us medical evidence from <span class="new-date"></span> onwards.</p>

    <p class="govuk-body">Medical evidence always needs to be up-to-date, so send us a new one when it expires. You need to keep doing this as long as you're unfit for work.</p> 
    
    <p class="govuk-body">You can send us a fit note (also called a sick note) using the <a href="https://www.gov.uk/send-fit-note" target="_blank">Send Your Fit Note service (opens in new tab).</a></p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Send us another type of medical evidence
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">As well as fit notes, we also accept these medical certificates:</p>
    
        <ul class="govuk-list govuk-list--bullet">
          <li>Med10 (if you're in hospital for treatment that lasts more than 7 days)</li>
          <li>MATB1 (if you're pregnant but cannot get Statutory Maternity Pay or Maternity Allowance)</li>
          <li>CF73 (if you've been admitted to a psychiatric hospital)</li>
          <li>SR1 (a form completed and sent to us by a doctor, consultant or specialist nurse. This has replaced the DS1500 form)</li>
        </ul>

        <p class="govuk-body">Other forms of evidence might include a doctor's statement, consultant's report or Local Authority notice. </p>
        <p class="govuk-body">Send your medical evidence to: </br>Freepost DWP ESA 26 </p>

      </div>
    </details>



    <h2 class="govuk-heading-m">Claimant Commitment appointment</h2>

    <p class="govuk-body">We will contact you by <span class="new-date"></span> to book your 'Claimant Commitment' appointment.</p>

    <p class="govuk-body">During this appointment we will ask you to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>confirm your identity</li>
      <li>sign an agreement that sets out what you can expect of us, and what we expect of you. This is called a Claimant Commitment</li>
      <li>agree to tell us if your circumstances change</li>
    </ul>

    <p class="govuk-body">This appointment is not for us to learn more about your illness, injury or disability. You will be able to share this information with us at a later date.</p>

    <p class="govuk-body">If you are eligible for New Style ESA, you will get your first payment after you attend this appointment.</p>



    <h3 class="govuk-heading-s">Contacting us</h3>
    <p class="govuk-body">You do not need to contact us. We will contact you if we need any more information.</p>




























    <p class="govuk-body">We will contact you by <span class="new-date"></span>. We will book you a ‘Claimant Commitment’ appointment, unless your Health Practitioner has informed you that you have less than 12 months to live. This is normally over the phone - unless you have told us you need an alternative format.</p>

    <p class="govuk-body">We'll talk to you about what you need to do to get New Style ESA, including
      asking you to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>explain how your illness or disability affects your ability to work</li>
      <li>provide medical evidence</li>
      <li>agree to tell us if your circumstances change</li>
    </ul>

    <p class="govuk-body">You must agree to your Claimant Commitment before you can get New Style ESA.</p>

    <p class="govuk-body">After your Claimant Commitment appointment, we will send you a Capability for Work questionnaire which you should complete and return. It will ask you about your current illness, disability, injury or health condition and how it affects your ability to work.</p>
    <p class="govuk-body">You may also be asked to have a Work Capability Assessment with a healthcare professional. This helps us give you the right support to help you work when you can. This might be work you have not done, or thought of doing, before. Not everyone has to have an assessment, but if you’re asked to attend one, you must go.</p>
    <p class="govuk-body">Your New Style ESA payments might be stopped if:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>you do not complete and return the questionnaire</li>
      <li>you do not attend an assessment that you have been asked to</li>
    </ul>

    <h3 class="govuk-heading-s">Universal Credit</h3>

    <p class="govuk-body">If you have also applied for Universal Credit, you might be asked to complete a questionnaire or attend a Work Capability Assessment. If so, you must complete and return the questionnaire and attend the assessment, or your New Style ESA payments might be stopped.</p>

    <h3 class="govuk-heading-m">Send us medical evidence to support your application</h3>

    <p>If your doctor, consultant or nurse has said you might have less than 12 months to live, you can ask them to complete an SR1 form. An SR1 form provides evidence about your illness and is sent directly to DWP. It may help you get benefits at a higher rate and to start getting them quicker than usual.</p>

    <p>You can self-certify for the first 7 days of your claim but you need to send us medical evidence from day 8
      onwards.</p>
    
    <p>The most common type of medical certificate is a fit note (also called a statement of fitness for work or a sick
      note), but we also accept other types of medical evidence.</p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Other types of medical evidence
        </span>
      </summary>
      <div class="govuk-details__text">
        <p id="other-medical-evidence-hint">As well as fit notes, we also accept these medical certificates:

        <ul class="govuk-list govuk-list--bullet">
          <li>Med10 (a hospital certificate given to inpatients if your treatment lasts more than 7 days)</li>
          <li>MATB1 (if you’re pregnant but you cannot get Statutory Maternity Pay or Maternity Allowance)</li>
          <li>CF73 (a form issued by a psychiatric hospital)</li>
          <li>SR1 (a form completed and sent to us by a doctor, consultant or specialist nurse if they think you might not live longer than 12 months because of your condition).</li>
        </ul>

        <p>Other forms of evidence might include a doctor’s statement, consultant’s report or Local Authority notice.
        </p>
        <p>Please note, DS1500 forms are being phased out and your clinician should give you an SR1 form instead.</p>

      </div>
    </details>

    <p>You will need to keep sending us medical evidence as long as you’re unfit for work. We will tell you when you can
      stop sending it. For example, if your fit note is for 14 days, you will need to send us another one when it runs
      out.</p>



    <h3 class="govuk-heading-m">How to send your evidence</h3>

    <p>If you have a fit note, you can use the <a href="https://www.gov.uk/send-fit-note" target="_blank">Send Your Fit
        Note service (opens in tab)</a> to send it to us online.</p>

    <p>If you have another form of medical evidence, you can send it to us by post. You can also post your fit note.</p>

    <div class="govuk-inset-text">
      <h4 class="govuk-heading-s">Where to send your medical evidence by post</h4>
      <p>Freepost DWP ESA 26</p>
    </div>

    {# End of BAU Evidence #}



    
    {# Universal Credit block #}
   
    {% if (data['universal-credit'] == "No") %}


    <h3 class="govuk-heading-m">Do you need help with housing costs or support for a partner or child?</h3>

    <p class="govuk-body">If you‘re on a low income or out of work, you can apply for Universal Credit as part of a dual
      claim with New Style ESA.</p>

    <p>Unlike New Style ESA, you can apply with a partner and get support for housing costs, children and childcare.</p>

    <p class="govuk-body">You or your partner must have less than £16,000 in savings or investments to be eligible.</p>

    <p class="govuk-body">Find out <a href="https://www.gov.uk/how-to-claim-universal-credit" target="_blank">how to
        claim for Universal Credit on GOV.UK (opens in new tab)</a>.</p>

    {% endif %}

    {% if (data['universal-credit'] == "Yes") %}

    <h3 class="govuk-heading-m">Tell Universal Credit</h3>

    <p class="govuk-body">If you get or have applied for Universal Credit, you will need to tell them that you’ve
      applied for New Style ESA. You can do this by <a href="https://www.gov.uk/sign-in-universal-credit"
        target="_blank">signing in to your Universal Credit account (opens in new tab)</a> and using the journal to
      contact your case manager.</p>

    <p class="govuk-body">You must also enter details from your medical evidence into your Universal Credit account. For
      example, if you have a fit note, you do not need to send it to Universal Credit, but you must enter the dates.</p>

    {% endif %}
    {# End of Universal Credit block #}


    <h3 class="govuk-heading-m">Give us your feedback</h3>

    <p class="govuk-body"><a href="feedback.html" class="govuk-link" rel="noreferrer noopener" target="_blank">What did
        you think of this service? (opens in a new window)</a>. It takes 30 seconds.</p>
    <p class="govuk-body">Volunteer to<a href="https://getinvolved.dwp.gov.uk/digital/f56c176f" class="govuk-link"
        rel="noreferrer noopener" target="_blank"> take part in research (opens in a new window)</a> to help improve
      this service.


    <p><a href="https://www.gov.uk/employment-support-allowance/your-esa-claim" class="govuk-button">Finish</a></p>

  </div>
  {% endblock %}