{% extends "layout.html" %}

{% block pageTitle %}
 Permanent health insurance - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="/apply/v22/insurance">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="insurance-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Are you getting any money from permanent health insurance set up by an employer?
          </h1>
        </legend>

        <div id="phi-hint" class="govuk-hint">
        Permanent health insurance protects your income if you stop work due to an illness, injury or disability.
        </div>

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="insurance-1" name="insurance" type="radio" value="Yes" data-aria-controls="yes-cond">
            <label class="govuk-label govuk-radios__label" for="insurance-1">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="insurance-2" name="insurance" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="insurance-2">
              No
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="not-sure" name="insurance" type="radio" value="Not sure">
            <label class="govuk-label govuk-radios__label" for="not-sure">
              I’m not sure
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

