{% extends "layout.html" %}

{% block pageTitle %}
 Statutory payments - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="statutory-pay-date-new">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="statutory-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            We’re going to ask you some questions about Statutory Sick Pay
          </h1>
        </legend>

        <p>Statutory Sick Pay (SSP) is paid by your employer in the same way as 
          your wages. We need to ask you about any SSP you’ve had or are 
          getting to find out if you’re eligible for NS ESA.</p>
        <p>Statutory Sick Pay (SSP) is paid by your employer in the same way as your wages. 
        </p>

        <p>If you need to know more about SSP before you continue with your application for new style ESA, please see our information on <a href="https://www.gov.uk/statutory-sick-pay">SSP and eligibility (opens in a new tab).</a></p>

     
    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

