{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container">
  
    <main class="govuk-main-wrapper">
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <img src="/public/images/dwp-logo.jpg" width="150px"  alt="DWP logo">

        </div>
  
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Do not reply to this email address</h2>
        </div>
      </div>
  
    </main>
  </div>

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-m">Apply for New Style Employment and Support Allowance (New Style ESA)</h1>

    <p class="govuk-body">Here is your link to the online form:</p>
     
    <p class="govuk-body"><a href="www.apply-new-style-employment-support-allowance.dwp.gov.uk">www.apply-new-style-employment-support-allowance.dwp.gov.uk</a></p>
     
    <p class="govuk-body">Yours sincerely</p>
     
    <p class="govuk-body">Office manager</p>
     
     
    <h2 class="govuk-heading-s">Why DWP needs personal information and how we treat it</h2>
     
    <p class="govuk-body">We treat personal information carefully. We may use it for any of our purposes. To learn more about information rights and how we use information, please see our DWP Personal Information Charter at <a href="www.gov.uk">www.gov.uk</a></p>


  </div>

</div>
{% endblock %}