{% extends "layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new window)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="volunteer-details">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">You have added details for: </h2>
              <ul class="govuk-list govuk-heading-m">

                  <li>Marie Curie</li>
                
               
            </ul>

          </legend>

       <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
            Do you do any other voluntary work?
            </h1>
          </legend>

          <div class="govuk-radios govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-1" name="voluntary" type="radio" value="yes" data-aria-controls="yes-cond">
              <label class="govuk-label govuk-radios__label" for="changed-name-1">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="voluntary" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>



    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

{% block pageScripts %}
<!--
  Using jQuery to branch the page flow based on which radio buttons are checked.
-->
<script type="text/javascript">
  $(document).on('ready',function()
  {
    // target the #form element
    // attached an event listener that runs
    // a function when the form is submitted
    $('#form').on('submit', function(e)
    {
      // depending on the value="" of the <input>
      // that's been checked, change the action=""
      // of the <form> and then allow it to submit.
    	switch($('input[name="voluntary"]:checked').val())
      {
    		case 'yes':
    	    $('#form').attr('action','voluntary-details');
    		  break;
        case 'no':
    	    $('#form').attr('action','work');
    		  break;
        // if nothing is ticked don't submit the form.
        default: return false; break;
      }
      // returning 'true' allows the form to submit
      // after we're finished with the above.
      return true;
    });
  });
</script>
{% endblock %}
