{% extends "layout.html" %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form id="form" method="post" action="condition-another-2">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                What health conditions, illnesses, disabilities or injuries do you have?
            </h1>
            <span id="event-name-hint" class="govuk-hint">
                You can add more than one condition if you need to.
            </span>
            <div class="govuk-form-group">
                <label class="govuk-label" for="surgery">
                  Name of condition
                </label>
                <input class="govuk-input govuk-!-width-one-half" id="surgery" name="condition-2" type="text">
              </div>

                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" aria-describedby="conditions-0-started-hint" role="group">

                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    <p class="govuk-fieldset__heading">When it first started</p>
                                </legend>
                                <p>If you don’t know the exact date, you can give an estimate.</p>
                                <span id="conditions-0-started-hint" class="govuk-hint">For example, 30 3 1997</span>
                                <div class="govuk-date-input" id="conditions-{{ i }}-started">
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label"
                                                for="conditions-{{ i }}-started-day">
                                                Day
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                id="conditions-{{ i }}-started-day"
                                                name="conditions-{{ i }}-started-day" type="number" pattern="[0-9]*">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label"
                                                for="conditions-{{ i }}-started-month">
                                                Month
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                id="conditions-{{ i }}-started-month"
                                                name="conditions-{{ i }}-started-month" type="number" pattern="[0-9]*">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label"
                                                for="conditions-{{ i }}-started-year">
                                                Year
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                                id="conditions-{{ i }}-started-year"
                                                name="conditions-{{ i }}-started-year" type="number" pattern="[0-9]*">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div><!-- govuk-form-group -->


                        <input type="submit" class="govuk-button" value="Continue" id="submit">
        </form>
    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
