{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-top-9">Apply for 'new style' Employment and Support Allowance (ESA)</h1>

      <p>Use this service if you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>need money because you're off work with an illness, injury or disability</li>
        <li>have paid National Insurance in the last 2 tax years</li>
      </ul>

      <h2 class="govuk-heading-m">What to expect</h2>
      <p>This is the first stage of your application.</p>
      <p>You'll also need an appointment to prove your identity and agree your responsibilities.</p>
      <p>You might also need to go to a Work Capability Assessment.</p>

      <h3 class="govuk-heading-m">Before you start</h3>
      <p>Make sure you have your:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>National Insurance number</li>
        <li>bank or building society details</li>
        <li>GP surgery name and address</li>
      </ul>
      <p>You'll also need details of any:
      <ul class="govuk-list govuk-list--bullet">
        <li>current or recent work</li>
        <li>pensions that you're getting</li>
        <li>permanent health insurance or income protection payments</li>
      </ul>

      <a href="condition" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
