{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

    <h2 class="govuk-heading-m">Personal details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          First name
        </dt>
        <dd class="govuk-summary-list__value">
          Sarah
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change<span class="govuk-visually-hidden"> first name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Last name
        </dt>
        <dd class="govuk-summary-list__value">
          Philips
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change<span class="govuk-visually-hidden"> last name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          5 January 1978
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          QQ 12 34 56 C
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Home address
        </dt>
        <dd class="govuk-summary-list__value">
          72 Guild Street<br>
          London<br>
          SE23 6FH
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change<span class="govuk-visually-hidden"> home address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Alternative contact address
        </dt>
        <dd class="govuk-summary-list__value">
          34 Guild Street<br>
          London<br>
          SE23 6FH
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change<span class="govuk-visually-hidden"> contact address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mobile phone number
        </dt>
        <dd class="govuk-summary-list__value">
          07700 900457
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Your health conditions</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Conditions
      </dt>
      <dd class="govuk-summary-list__value">
        Abdominal pain<br>
        Started June 2013<br>
        <br>
        Broken leg<br>
        Started 20 November 2018
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change<span class="govuk-visually-hidden"> conditions</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Doctor's details
      </dt>
      <dd class="govuk-summary-list__value">
        Dr Sarah Philips<br>
        72 Guild street<br>
        London<br>
        SF23 6FH<br>
        020 7946 0809<br>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change<span class="govuk-visually-hidden"> licence period</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Life expectancy
      </dt>
      <dd class="govuk-summary-list__value">
        Could be less than 6 months
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change<span class="govuk-visually-hidden"> life expectancy</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Doctor has sent DS1500 form
      </dt>
      <dd class="govuk-summary-list__value">
        No
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Currently in hospital
       </dt>
       <dd class="govuk-summary-list__value">
         Yes
       </dd>
       <dd class="govuk-summary-list__actions">
         <a href="#">
           Change
         </a>
       </dd>
     </div>
     <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Hospital details
        </dt>
        <dd class="govuk-summary-list__value">
          Ear, nose and throat ward<br>
          Hallamshire Hospital<br>
          <br>
          Admitted on 19 December 2018<br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Doctor can share details with DWP
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
          </a>
        </dd>
      </div>
    </dl>


    <h2 class="govuk-heading-m">Voluntary work</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Doing voluntary work
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change<span class="govuk-visually-hidden"> conditions</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Voluntary work details
        </dt>
        <dd class="govuk-summary-list__value">
          Oxfam<br>
          72 Guild street<br>
          London<br>
          SF23 6FH<br>
          020 7946 0809<br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change<span class="govuk-visually-hidden"> licence period</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of voluntary work
        </dt>
        <dd class="govuk-summary-list__value">
          Spend some time helping on the tills and washing clothes before they go on sale.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change<span class="govuk-visually-hidden"> life expectancy</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Hours you volunteer each week
        </dt>
        <dd class="govuk-summary-list__value">
          1
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Expenses paid for this voluntary work
        </dt>
        <dd class="govuk-summary-list__value">
          None
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Paid work</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Currently employed
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Employment details
              </dt>
              <dd class="govuk-summary-list__value">
                Sales assistant<br>
                Boots<br>
                020 7946 0076<br>
                72 Guild Street<br>
                London<br>
                S10 4JF<br>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Off sick from this work
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Employment status
              </dt>
              <dd class="govuk-summary-list__value">
                Employee
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Hours worked a week
              </dt>
              <dd class="govuk-summary-list__value">
                7
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Pay
              </dt>
              <dd class="govuk-summary-list__value">
                £124 weekly
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Help from a professional support worker
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Expenses
              </dt>
              <dd class="govuk-summary-list__value">
                Travel and subsistence
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Other employment details
              </dt>
              <dd class="govuk-summary-list__value">
                Operational coordinator<br>
                Co-op<br>
                020 7946 0076<br>
                72 Guild Street<br>
                London<br>
                S10 4JF<br>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Off sick from this work
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Last day at work
              </dt>
              <dd class="govuk-summary-list__value">
                17 December 2018
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Employment status
              </dt>
              <dd class="govuk-summary-list__value">
                Employee
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>

        </dl>

        <h2 class="govuk-heading-m">
          Statutory pay
        </h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Getting Statutory Sick Pay
             </dt>
             <dd class="govuk-summary-list__value">
               Yes

             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Sick Pay ends
             </dt>
             <dd class="govuk-summary-list__value">
               18 January 2019
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Other statutory payments
             </dt>
             <dd class="govuk-summary-list__value">
               Statutory Maternity Pay
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>

         </dl>

         <h2 class="govuk-heading-m">
          Back to work
          </h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
             <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key">
                 When you will be fit for work
               </dt>
               <dd class="govuk-summary-list__value">
                 18 March 2019
               </dd>
               <dd class="govuk-summary-list__actions">
                 <a href="#">
                   Change
                 </a>
               </dd>
             </div>
          </dl>

       <h2 class="govuk-heading-m">
          Claim from date
       </h2>
       <dl class="govuk-summary-list govuk-!-margin-bottom-9">
       <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claim start date
          </dt>
          <dd class="govuk-summary-list__value">
            18 January 2019
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>

       <h2 class="govuk-heading-m">
          Pensions and permanent health insurance
        </h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Getting money from a pension or annuity
             </dt>
             <dd class="govuk-summary-list__value">
               Yes
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Pension or annuity details
             </dt>
             <dd class="govuk-summary-list__value">
               Prudential<br>
               Reference number 245-485-198<br>
               020 7946 0076<br>
               72 Guild street<br>
               London<br>
               SE23 6FH<br>
               <br>
               Started 15 July 2018
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Payments from pension or annuity
             </dt>
             <dd class="govuk-summary-list__value">
               £75 weekly (before deductions)
               £90.30 weekly (after deductions)
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Deductions from pension or annuity
             </dt>
             <dd class="govuk-summary-list__value">
               £15.30 Income Tax
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Inherited pension or annuity
             </dt>
             <dd class="govuk-summary-list__value">
               No
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Getting money from permanent health insurance
             </dt>
             <dd class="govuk-summary-list__value">
               Yes
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Who pays for it
             </dt>
             <dd class="govuk-summary-list__value">
               Me and my employer
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Permanent health insurance details
             </dt>
             <dd class="govuk-summary-list__value">
               Prudential<br>
               Reference number 245-485-198<br>
               020 7946 0076<br>
               72 Guild street<br>
               London<br>
               SE23 6FH<br>
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Premiums paid in
             </dt>
             <dd class="govuk-summary-list__value">
               I pay less than half the premiums myself
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Payments received from health insurance
             </dt>
             <dd class="govuk-summary-list__value">
               £65 a week
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
          </dl>

           <p><a href="bank" class="govuk-button">Continue</a></p>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
