{% extends "layout.html" %}

{% block pageTitle %}
 Statutory Sick Pay end date - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="statutory-pay-other">


		<div class="govuk-form-group">
		  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
		    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
		      <h1 class="govuk-fieldset__heading">
		     What is your Statutory Sick Pay end date?
		      </h1>
		    </legend>
		    <p>This might be different from the last date you were paid SSP.</p>
			<p>You can find this date on your SSP1 form.
				If you do not have an SSP1 form, you need to get this information from your employer.</p>
		    </span>
			<span id="dob-hint" class="govuk-hint">
			It can be a date in the past or up to 3 months from today.
			</span>
		    <div class="govuk-date-input" id="dob">
		      <div class="govuk-date-input__item">
		        <div class="govuk-form-group">
		          <label class="govuk-label govuk-date-input__label" for="ssp-dob-day">
		            Day
		          </label>
		          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ssp-day" name="ssp-day" type="text" maxlength="2" pattern="[0-9]*">
		        </div>
		      </div>
		      <div class="govuk-date-input__item">
		        <div class="govuk-form-group">
		          <label class="govuk-label govuk-date-input__label" for="ssp-dob-month">
		            Month
		          </label>
		          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ssp-month" name="ssp-month" type="text" maxlength="2" pattern="[0-9]*">
		        </div>
		      </div>
		      <div class="govuk-date-input__item">
		        <div class="govuk-form-group">
		          <label class="govuk-label govuk-date-input__label" for="ssp-dob-year">
		            Year
		          </label>
		          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="ssp-year" name="ssp-year" type="text" maxlength="4" pattern="[0-9]*">
		        </div>
		      </div>
		    </div>
		  </fieldset>
		</div>

		<input type="submit" class="govuk-button" value="Continue" id="submit">

 	</form>

 </div>
</div>

{% endblock %}
