{% extends "layout.html" %}

{% block pageTitle %}
 Declaration - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Declaration
    </h1>
  </legend>

  <div class="govuk-form-group">

    <p>By sending this application you confirm that:
    <ul class="govuk-list govuk-list--bullet">
      <li>the information you&rsquo;ve given is correct and complete as far as you know</li>
      <li>you&rsquo;ll report any changes in your circumstances</li>
      <li>you&rsquo;ll pay back any money you&rsquo;re overpaid if you&rsquo;re asked to</li>
    </ul>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You could be prosecuted or have to pay a penalty if you deliberately give the wrong or incomplete information or do not report changes.
      </strong>
    </div>

  </div>

    <a href="done" class="govuk-button">I understand, send my application</a>

    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
