{% extends "layouts/main.html" %}

{% block pageTitle %}
  What do you need instead of a phone call? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
     text: "Prototype"
  },
  html: 'This is a prototype. No data is saved or stored.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="phone-contact-preference" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="phoneContactPreference-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
              What do you need instead of a phone call?
              </h1>
            </legend>
            <div id="phoneContactPreference-hint" class="govuk-hint">
              <p class="govuk-body">We usually call you if we have any questions about your application.</p>
              <p class="govuk-body">If you do not need one of these alternative formats for phone calls, you can still select ‘DWP can contact you by phone’.</p>
            </div>
            
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="relay-uk" name="phoneContactPreference" type="radio" value="relay-uk">
                <label class="govuk-label govuk-radios__label" for="relay-uk">
                  Relay UK
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="textphone" name="phoneContactPreference" type="radio" value="textphone">
                <label class="govuk-label govuk-radios__label" for="textphone">
                  Textphone
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="email-af-phone" name="phoneContactPreference" type="radio" value="email-af-phone" aria-describedby="email-item-hint">
                <label class="govuk-label govuk-radios__label" for="email-af-phone">
                  Email
                </label>
                <div id="email-item-hint" class="govuk-body govuk-radios__hint">
                  DWP will contact you to find the best format for you
                </div>
              </div>
              <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="none" name="phoneContactPreference" type="radio" value="none">
                <label class="govuk-label govuk-radios__label" for="none">
                  DWP can contact you by phone
                </label>
              </div>
            </div>
          </fieldset>
        </div>



{{ govukButton({
              text: "Continue"
          }) }}

    </form>
  </div>
</div>


{% endblock %}
