{% extends "layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new window)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="claim-end-date">


      <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" >
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                What date do you want to claim from?
              </h1>
            </legend>
            <p>You can claim from:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>the day after your Statutory Sick Pay ends - this date is on form SSP1, if you have one</li>
            <li>a date up to 3 months ago if you have fit notes (you might call these sick notes) to cover the period</li>
            <li>the date you were first affected by coronavirus, if that's the reason for your claim</li>
            </ul>
            <p>This date will be confirmed with you to make sure you're getting the money you're entitled to.</p>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
                    <div class="govuk-date-input" id="dob">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="dob-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" pattern="[0-9]*" maxlength="2">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="dob-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" pattern="[0-9]*" maxlength="2">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="dob-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" pattern="[0-9]*"maxlength="4">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>

            </div>
          </fieldset>

         <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- claim-end-date -->

      </div> <!-- govuk-form-group -->

        <!-- <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="date-hint" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                When  do you want to claim from?
              </h1>
            </legend>
            <p>You'll need a self-certification form or a fit note covering the period you want to claim from.</p>
            <span id="dob-hint" class="govuk-hint">
              For example, 31 3 2018.
            </span>
            <div class="govuk-date-input" id="dob">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      </div> -->



    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
