{% extends "layout.html" %}

{% block pageTitle %}
  Reference screens for JIRA stories &ndash; {{ serviceName }}
{% endblock %}
{% block beforeContent %}
<a href="index" rel="prev" class="govuk-back-link">Index page</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">MVP documentation and reference screens for JIRA&nbsp;stories</h1>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="blue-border">
      <h2 class="govuk-heading-m">
        <span class="app-step-nav-related__pretitle">MVP</span>
      </h2>
      <p style="margin-bottom: 0">
        <a href="/apply/MVP/start-page-steps" class="govuk-button">View latest MVP</a>
      </p>
      <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 0">
        <li><a href="/public/images/mvp-changes.png">See what’s changed since the assessment</a></li>
        <li><a href="/public/pdfs/Newstyle_ESA_MVP-27-08-2019.pdf">MVP screen flow diagram</a></li>
        <li><a href="/notes">Notes on why screens are there / future plans</a></li>
        <li><a href="https://trello.com/b/dbzkyB4j/apply-for-esa-hypothesis-board">Hypothesis board (Trello)</a></li>
      </ul>
    </div>

    <br>

    <hr>

    <br>

    <h2 class="govuk-heading-m">Iteration 1 – Statutory Sick Pay updates</h2>

    <a href="public/pdfs/iteration-1/ssp-updates.pdf" class="govuk-button">View iteration 1</a>

    <br>

    <hr>
    <br>

    <h2 class="govuk-heading-m">Iteration 2 – Permanent health insurance updates</h2>

    <a href="/apply/iteration-2/insurance-start" class="govuk-button">View iteration 2</a>

    <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 0">
      <li><a href="/public/pdfs/iteration-2/iteration-2-flow.pdf">Iteration 2 screen flow diagram</a></li>
    </ul>
    <br>



  </div> <!-- govuk-grid-column-two-thirds -->

</div> <!-- govuk-grid-column-one-third -->


</div> <!-- grid-row-->

{% endblock %}
