{% extends "layout.html" %}

{% block content %}


    <h1 class="govuk-heading-l">Prototypes</h1>

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
      
          <h2 class="govuk-heading-l">Current journey</h2>
      
          <h2 class="govuk-heading-l">Version 22</h2>
          <p>Created: December 2023 (Last updated: 15/12/2023)</p>
          <p><a href="/apply/v22/who-is-applying" class="govuk-button">View version 22 prototype</a></p>
   

    <h1 class="govuk-heading-m" >Prototypes done by team Falcon</h1>

    <h2 class="govuk-heading-s"><a href="index-f.html">View all prototypes done by team Falcon</a></h2>
    
  
    <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Prototypes done by team Falcon
          </span>
        </summary>
        <div class="govuk-details__text">
            <h1 class="govuk-heading-m" >Prototypes done by team Falcon</h1>

            <h2 class="govuk-heading-s"><a href="index-falcon.html">Prototypes for testing in user research</a></h2>
                
            <h1 class="govuk-heading-m" >Prototypes done in Newcastle (after March 2020)</h1>
        
            <h2 class="govuk-heading-s"><a href="index-newcastle.html">Prototypes for testing in user research</a></h2>
        
            <h2 class="govuk-heading-m">Prototypes done in Leeds (before December 2019)</h2>
        
            <h2 class="govuk-heading-s"><a href="proto-index" >Prototypes for testing in user research</a></h2>
            
            <h2 class="govuk-heading-s"><a href="dev-index">MVP documentation and reference screens for JIRA&nbsp;stories</a></h2>
        
        </div>
      </details>


{% endblock %}