{% extends "layout.html" %}


{% block beforeContent %}
  <a href="../../index.html" rel="prev" class="govuk-back-link">Index page</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Current journey</h3>

    <p><a href="https://miro.com/app/board/o9J_kn6qykk=/">Screen flow diagram (opens in Miro)</a></p>
    <p><a href="apply/live/who-is-applying.html">Current (live) journey</a></p>

    <h2 class="govuk-heading-l">Version 18</h2>

    <p>Created: 29 September 2021 (work in progress)</p>

    <p><a href="/apply/v18/eligibility-start" class="govuk-button">View version 18 prototype</a></p>

    <p class="govuk-body">Changes:</p>
    <form id="form" method="post" action="">
    <ul class="govuk-list govuk-list--bullet">
      <li>removed reference to work coach and job centre from done page - ticket 1442</li>
      <li>removed referernce to red or amber list for quarantine</li>
      <li>updated content about adding more info later for conditions and doctors - ticket 967 and 1446</li>
      <li>added hint date to claim start - ticket 1463</li>
      <li>changed links to mainstreams guides for JSA and UC in eligibility - ticket 1462</li>
      <li>updated content about time out - ticket 1391</li>
      <li>updated <a href="/apply/v18/accessibility-statement">accessibility statement</a> - ticket 1439</li>
      <li>made business name for self employed optional - ticket 1460</li>
      <li>alternative formats iteration #1 <a href="/apply/v18/alt-formats/short/accessible-format">short version</a> or <a href="/apply/v18/alt-formats/long/accessible-letters">long version</a>- ticket 875</li>
      <li>alternative formats iteration #2 <a href="/apply/v18/alt-formats-2/nino">focus on large print and robust conversation</a></li>
      <li>alternative formats iteration #3 <a href="/apply/v18/alt-formats-3/nino">focus on large print, most common and then another format</a></li>
      <li>added content about temporary fit note change to done page</li>

    </ul>
    </form>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">Version 17</h2>

    <p>Created: 30 June 2021</p>

    <p><a href="/apply/v17/who-is-applying" class="govuk-button">View version 17 prototype</a></p>

    <p class="govuk-body">Changes:</p>
    <form id="form" method="post" action="">
    <ul class="govuk-list govuk-list--bullet">
      <li>removed reference to shielding - ticket 1365</li>
      <li>added quarantine content - ticket 1366</li>
      <li>added "Get help with this application" in details component to most pages</li>
      <li>changed terminal illness content on <a href="/apply/v17/severe-condition">question page</a> and <a href="/apply/v17/checkanswers">check answers</a> - ticket 1216 and 1375</li>
      <li>added content to <a href="apply/v17/may-be-eligible.html">may be eligble</a> to explain time out - help solve lack of save and return problem - ticket 1047</li>
      <li>changed "claim" to "Work Capability Assessment" in 3 places on <a href="/apply/v17/consent-outcome">consent outcome</a> - ticket 1404</li>
      <li>added hospital into covid eligbility</li>
      <li>removed claimant commitment for covid claims on done page</li>
      <li>added signpost for third parties to apply by phone</li>
      <li>added SSP1 content to /statutory-pay-recent, /statutory-pay-end and /done</a></li>
      <li><a href="apply/v17/consent-uc.html">consent for more medical evidence</a> changed to align with Universal Credit</li>
      <li>removed reference to amber list for ticket 1441</li>
      <li>changed off sick content to off work for ticket 862</li>
    </ul>
    </form>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    
    <h2 class="govuk-heading-l">Version 16</h2>

    <p>Created: 2 February 2021</p>

    <p><a href="/apply/v16/eligibility-start" class="govuk-button">View version 16 prototype</a></p>

    <p class="govuk-body">Changes:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>added question to find out if a pension is inherited - ticket 957</li>
      <li>removed details component from <a href="apply/v16/pension">pension page</a> - ticket 916</li>
      <li>akami index / error page <a href="apply/v16/akami-index-en.html">in English</a> and <a href="apply/v16/akami-index-cy.html">in Welsh</a> (prototype doesn't include toggle)</li>
      <li>added Welsh language telephone to <a href="apply/v16/consent">Sharing information about your health condition</a> and <a href="apply/v16/consent-outcome">Sharing the outcome of an assessment with your doctor</a> - ticket 1287</li>
      <li>changed "may not be eligible" to <a href="apply/v16/may-not-be-eligible">"not eligible"</a> if don't have disability or health condition - ticket 1290</li>
      <li>added new content for claimant commitment appointment to <a href="apply/v16/done-new">"done page"</a></li>
      <li>ask for an <a href="apply/v16/email">email address</a> (not hooked up to journey yet) - ticket 1322</li>
      <li>added <a href="apply/v16/late-claim">are you sure page</a> if someone enters a claim date longer than 3 months ago </li>
      <li>added links to National Insurance content on GOV.UK to <a href="apply/v16/national-insurance">eligibility page</a></li>
      <li><a href="apply/v16/session-timeout.html">Session timeout</a> with English and Welsh on same page or <a href="apply/v16/session-timeout-en.html">page with toggle</a> - ticket 1348</li>
      <li>added citizen space survey to <a href="apply/v16/feedback.html">feedback</a> and <a href="apply/v16/eligibility-start.html">eligibility start</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    
    <h2 class="govuk-heading-l">Version 15</h2>

    <p>Created: 12 November 2020</p>

    <p><a href="/apply/v15/eligibility-start" class="govuk-button">View version 15 prototype</a></p>

    <p class="govuk-body">Changes:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/apply/v15/claim-start-date-if-statutory-sick-pay">suggested claim start date page</a> for #958 (date is dynamic – day after SSP ends or ended)</li>
      <li>added guidance on application process on <a href="/apply/v15/eligibility-start"> eligibility start</a>, <a href="/apply/v15/may-be-eligible">eligibility result</a> and <a href="/apply/v15/condition">conditions</a> pages for #966</li>
      <li>dynamic content on done page depending on if you're shielding or self-isolating for #996</li>
      <li>ask employment status before employment details and make content specific for self employment for 1113 (doesn't work for more than 1 job)</li>
      <li>added Welsh contact preferences (type lowercase 'wales' into postcode field)</li>
      <li>removed Severe Disability question in eligibility checker: SDP Gateway Closure 27 Jan 2021 for #1066</li>
      <li>added <a href="/apply/v15/error-pages/submission-handler-error">submission-handler error page</a> for #1067</li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">Version 14</h2>

    <p>Created: 27 August 2020</p>

    <p><a href="/apply/v14/eligibility-start" class="govuk-button">View version 14 prototype</a></p>

    <p class="govuk-body">Changes:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Changed straight quotes / apostrophes to curly for ticket #447</li>
      <li>Amended link text in phase banner to "(opens in new tab)" for #1013</li>
      <li><a href="/apply/v14/claimdate-old">Don't allow claim start date longer than 3 months ago</a> for #974 - old</li>
      <li>Allow claim start dates longer than 6 months ago for #1016 - new</li>
      <li>Added guidance on application process on <a href="/apply/v14/application-process/eligibility-start"> eligibility start</a>, <a href="/apply/v14/application-process/may-be-eligible">eligibility result</a> and <a href="/apply/v14/application-process/condition">conditions</a> pages for #966</li>
      <li>SSP iterations: <a href="/apply/v14/ssp-overlaps/statutory-pay-recent">change /ssp-recent to 13 weeks</a> for #973; consolidate SSP end and SSP recent end into <a href="/apply/v14/ssp-overlaps/statutory-pay-end">one page capturing past, present and future dates</a>; add new <a href="/apply/v14/ssp-overlaps/claim-start-date-if-statutory-sick-pay">suggested claim start date page</a> for #958 (date is dynamic – day after SSP ends or ended). See <a href="/apply/v14/ssp-overlaps/statutory-pay">how SSP journey hangs together</a> (in-between pages removed for demo)</li>
      <li>added 'get help with this application' section for ESAO-1051</li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-l">Version 13</h2>

    <p>Created: 3 July 2020</p>

    <p><a href="/apply/v13/eligibility-start" class="govuk-button">View version 13 prototype</a></p>

    <p class="govuk-body">Changes:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Removed 'Are you getting Statutory Sick Pay?' from main service - ticket #848</li>
      <li><a href="apply/v13/processing-timescales/done">Application sent page</a> contains processing timescales for all claimants – dynamically generate a data 14 calendar days after application submitted (agreed by SPD on 7/7/20, see ticket 864)</li>
      <li>Made journey dynamic if claiming for coronavirus - ticket #905</li>
      <li>Added new version of <a href="/apply/v13/ni-credits/national-insurance">National Insurance eligibility question</a> and <a href="/apply/v13/ni-credits/may-not-be-eligible-national-insurance">KO for NI credits</a> for Jira ticket 922</li>
      <li>Added character limit to <a href="apply/v13/expenses-details">expenses details</a>, <a href="apply/v13/voluntary-work-role">voluntary work role</a> and <a href="apply/v13/feedback">feedback</a> - ticket 938</li>
      <li>Changed accessibility link text in footer to say "Accessibility statement" and it now links to <a href="apply/v13/accessibility-statement.html">version 13 in prototype</a>. This has updated the footer of all versions. V13 contains updates to statement from manual testing (Jira ticket 951)</li>
      <li>Amended <a href="/apply/v13/claim-start-date/claimdate">claim start date</a> for 974: reverted to 3 month validation, added guidance text for workaround to backdate beyond 3 months</li>
      <li>Added <a href="apply/v13/done-tailored/universal-credit">UC question</a> into main application for 989, with tailored done page content for <a href="apply/v13/done-tailored/done-ucy">yes</a> and <a href="apply/v13/done-tailored/done-ucn">no</a> answers</li>
      <li>Removed UC 'speedbump' questions from eligibility checker (main journey), as per ticket 988</li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <h2 class="govuk-heading-l">Version 12</h2>

    <p>Created: 16 April 2020</p>

    <p><a href="/apply/v12/eligibility-start" class="govuk-button">View version 12 prototype</a></p>

    <p class="govuk-body">Changes:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li><a href="apply/v12/add-another-health-condition/condition.html">add another health condition</a> is now using the loop pattern (like add another job), this makes the design consistent and removes the Javascript issue</li> 
        <li><a href="apply/v12/feedback.html">feedback page</a> to make it consistent with GOV.UK and add additional content to explain feedback is not linked with claim</li>
        <li><a href="apply/v12/may-not-be-eligible-severe-disability">you may not be eligible</a> page if the user is not sure if they get severe disability premium</li>
        <li><a href="apply/v12/apply-through-universal-credit.html">apply for New Style ESA if you've had a Universal Credit statement</a> - dual claims</li>
        <li><a href="apply/v12/retrospective-claim-dates/back-at-work.html">Option A</a>, <a href="apply/v12/retrospective-claim-dates/statutory-pay-other">Option B</a> and <a href="apply/v12/retrospective-claim-dates/back-at-work-2.html.html">Option C</a> - adding retrospective claim dates Jira ticket #ESAO-861</li>
        <li><a href="apply/v12/done-new.html">application sent page</a> - remove finish button and add feedback not responded to content</li>
        <li>Added <a href="apply/v12/accessibility-statement.html">accessibility statement</a> and link in footer. This has updated the footer of all versions, and links through to V12, so we need to fix this</li>
        <li>Added privacy link in footer, which goes to 'personal information charter' on GOV.UK</li>
        <li>Find out why someone is claiming because of coronavirus - <a href="apply/v12/covid-reason/shielding.html">option 1 using Yes/No</a> and <a href="apply/v12/coronavirus-reason.html">option 2 using multiple radio buttons</a>. Also amended <a href="apply/v12/coronavirus-eligibility.html">eligibility question</a></li>
        <li><a href="apply/v12/pension-no-bold">pension page without the bold text</a></li>
        <li>changing heading sizes <a href="apply/v12/change-headings/work-another.html">work-another</a>, <a href="apply/v12/change-headings/voluntary-work-another.html">voluntary-work-another</a> and <a href="apply/v12/change-headings/checkanswers.html">checkanswers</a></li>
        <li>Added error pages for ticket #908: <a href="apply/v12/error-pages/404">404</a> and <a href="apply/v12/error-pages/502">502</a></li>
        <li>Added medical evidence for ticket #907 to <a href="apply/v12/medical-evidence/start-page">service start page (root, not eligibility)</a> and <a href="apply/v12/medical-evidence/done">done page</a></li>
    </ul>


    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">Version 11</h2>

    <p>Created: 6 March 2020</p>

    <p>This is the first version from the Newcastle team. </p>

    <h3 class="govuk-heading-s">Private beta</h3>

    <p class="govuk-body">Changes:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>added a screen to say only use service if asked</li>
        <li>ask user if coronavirus is main reason for claim and date affected from</li>
        <li>removed reference to providing evidence and attending appointments</li>
        <li>removed questions asking for additional information about pension and health insurance</li>
        <li>changed bank details heading to match design system pattern</li>
        <li>moved question below content on 'Sharing information about your health condition' page to make it accessible</li>
    </ul>

    <p><a href="apply/v11/private-beta.html">Private beta journey</a></p>

    <h3 class="govuk-heading-s">Eligibility</h3>

    <p><a href="apply/v11/eligibility/eligibility-start.html">Eligibility journey</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    



    

{% endblock %}
