{% extends "layout.html" %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Prototype</span>
      New Style Employment and Support Allowance
    </h1>
<br><br>
   









<span class="govuk-tag govuk-!-margin-bottom-2">Latest version</span>
    <h2 class="govuk-heading-l">Current citizen journey</h2>

    {{ govukButton({
      text: "Start prototype",
      href: "/apply/v22/who-is-applying",
      isStartButton: true
       }) }}

    <p><strong>Created on</strong> December 2023<br>
      <strong>Created by</strong> Maulik Jani<br>
        <strong>Last updated on</strong> 11 January 2024 <br>
        <strong>Version:</strong> 22
    </p>

    {{ govukDetails({
      summaryText: "Version change details",
      html: '
   
      <p>This prototype is retrived from the team Falcon in December 2023. This prototype is same as live sevice.</p>
      <p><a href="https://www.gov.uk/guidance/new-style-employment-and-support-allowance" target="_blank">Click here to view live service.</a></p>
   
    

      '
      }) }}

      
  </div>
  




</br></br>
    <div class="govuk-grid-column-one-quarter govuk-!-padding-0 govuk-!-margin-right-4" style="border-top: 4px solid #1d71b8; float: right;">
      <h3 class="govuk-heading-s govuk-!-margin-top-2">
        Quick links
      </h3>
        <ul class="govuk-list govuk-!-font-size-16">
          <li><a href="/apply/v22/eligibility-start">Eligibility</a></li>
          <li><a href="/apply/v22/name">Personal details</a></li>
          <li><a href="/apply/v22/condition">Medical condition</a></li>
          <li><a href="/apply/v22/voluntary-work">Voluntary work</a></li>
          <li><a href="/apply/v22/work">Paid work</a></li>
          <li><a href="/apply/v22/statutory-pay-recent">Benefits</a></li>
          <li><a href="/apply/v22/pension">Pension or annuity</a></li>
          <li><a href="/apply/v22/bank">Bank details</a></li>
          <li><a href="/apply/v22/consent-outcome">Sharing the outcome consent</a></li>


        </ul>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


</br>
  <!-- <span class="govuk-tag govuk-!-margin-bottom-2">Latest version</span> -->
  <h2 class="govuk-heading-m">Experimental prototype</h2>
  <p>View complete prototype with new designs and content. This prototype also has new user flow with updated sections and questions.</p>

  {{ govukButton({
    text: "Start prototype",
    href: "/prototype-experimental/eligibility/who-is-applying",
    isStartButton: false
     }) }}

  <p><strong>Created on</strong> April 2024<br>
    <strong>Created by</strong> Maulik Jani<br>
      <strong>Last updated:</strong> 18 April 2024 <br>
      <strong>Version:</strong> 1
  </p>

  {{ govukDetails({
    summaryText: "Version change details",
    html: '
 
    <p>.</p>
    <p><a href="https://www.gov.uk/guidance/new-style-employment-and-support-allowance" target="_blank">Click here to view live service.</a></p>
 
  

    '
    }) }}

    
</div>
</br>
  <div class="govuk-grid-column-one-quarter govuk-!-padding-0 govuk-!-margin-right-4" style="border-top: 4px solid #1d71b8; float: right;">
    <h3 class="govuk-heading-s govuk-!-margin-top-2">
      Sections
    </h3>
      <ul class="govuk-list govuk-!-font-size-16">
        <li><a href="/prototype-experimental/eligibility/who-is-applying">Eligibility</a></li>
        <li><a href="/prototype-experimental/personal/name">Personal information</a></li>
        <li><a href="/prototype-experimental/medical/condition">Health conditions</a></li>
        <li><a href="/prototype-experimental/work/voluntary-work">Voluntary and paid work</a></li>
    
        <li><a href="/prototype-experimental/benefits/statutory-pay-other">Benefits and statutory payments</a></li>
        <li><a href="/prototype-experimental/pension/pension">Pensions and annuities</a></li>
        <li><a href="/prototype-experimental/declaration/bank">Bank details</a></li>
        <li><a href="/prototype-experimental/declaration/consent-outcome">Declarations and check answers</a></li>


      </ul>
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-l">New features and iterations</h2>


  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
  
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#in-test">
          Testing
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#in-dev">
          In development
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#archive">
          Archive
        </a>
      </li>
    </ul>


<!-- TESTING TAB-->

    <div class="govuk-tabs__panel" id="in-test">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Alternative formats
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--s">Versions</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Links</th>
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Description</th>
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="border: 0;"><a href="design-iterations/wt-alt-formats-3/screens.html">V1.3: Alternative formats</a></th>
                <td class="govuk-table__cell" style="border: 0;">
                  Amended screens following UR playback
                </td>
                <td class="govuk-table__cell" style="border: 0;">
                  <span class="govuk-tag govuk-tag--green" style="white-space:nowrap">In Dev</span>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" colspan="3" style="border: 0;">
                  <strong>Design documentation:</strong> <a href="https://dwpdigital.atlassian.net/wiki/spaces/WATG/pages/133764448803/Iteration+2+NSESA+Alt-formats" class="govuk-link" rel="noreferrer noopener" target="_blank">Iteration 2: NSESA Alt-formats (Opens in a new tab)</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" colspan="3" style="border: 0;">
                  <strong>Team:</strong> Alexandra Aggelidis, Mark Smith, Lauren Spencer, Katy Kirkland
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" colspan="3">
                  <strong>Date:</strong> October 2024
                </td>
              </tr>  
      
             
              
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="border: 0;"><a href="design-iterations/wt-alt-formats-2/screens.html">V1.2: Alternative formats and reasonable adjustments</a></th>
                <td class="govuk-table__cell" style="border: 0;">
                  Iteration of V1.1: Alternative formats.
                  <br> Content changes and added a screen about reasonable adjustments after stakeholder discussion who see this as a legal requirement.
                </td>
                <td class="govuk-table__cell" style="border: 0;">
                  <span class="govuk-tag govuk-tag--yellow" style="white-space:nowrap">On hold</span>
                </td>
              </tr>
              
              
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" colspan="3" style="border: 0;">
                  <strong>Team:</strong> Alexandra Aggelidis, Mark Smith, Lauren Spencer, Katy Kirkland
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" colspan="3">
                  <strong>Date:</strong> September 2024
                </td>
              </tr>   
              
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="border: 0;"><a href="design-iterations/wt-alt-formats-1/screens.html">V1.1: Alternative formats</a></th>
                <td class="govuk-table__cell" style="border: 0;">
                  Asking users for their communication needs in alternative formats.
                  <br> Design based on <a href="https://newstylejsa.herokuapp.com/design-ideas/574-af-option-9/start-date">Option 9 of NSJSA alternative formats</a>.
                </td>
                <td class="govuk-table__cell" style="border: 0;">
                  <span class="govuk-tag" style="white-space:nowrap">Tested</span>
                </td>
              </tr>
              
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" colspan="3" style="border: 0;">
                  <strong>Design documentation:</strong> <a href="https://dwpdigital.atlassian.net/wiki/spaces/WATG/pages/133748752594/Iteration+1+NSESA+Alt-formats" class="govuk-link" rel="noreferrer noopener" target="_blank">Iteration 1: NSESA Alt-formats (Opens in a new tab)</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" colspan="3" style="border: 0;">
                  <strong>Team:</strong> Alexandra Aggelidis, Mark Smith, Lauren Spencer, Katy Kirkland
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" colspan="3">
                  <strong>Date:</strong> August 2024
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Check your answers
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Links</th>
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Description</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="border: 0;"><a href="prototype-experimental/declaration/checkanswers" target="_blank">Check your answers</a></th>
                  <td class="govuk-table__cell" style="border: 0;">
                    Updated 'Check your answers' page based on the new user journey. New user journey has defined flow of questions devided into new and logical sections. </br>
                    <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1707738941914/124d0811c6a848e621f153bfea0df497fd7dcd92?wid=0-1709291215902" target="_blank">View mural page.</a> 
                    <p class="govuk-body-s" style="color: grey;">Created: 9 April 2024 <br>Last updated:</strong> 9 April 2024</p>
                  </td>
              </tr>  
            </tbody>
          </table>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Small content changes
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Links</th>
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Description</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="border: 0;">Small content changes</th>
                  <td class="govuk-table__cell" style="border: 0;">
                    List of small content changes suggested by Alice in the RICE spreadsheet. <br>
                    Link to the pages: <br>
                    <a href="prototype-experimental/eligibility/disability-or-health-condition" target="_blank">Do you have a health condition, illness, disability or injury that affects how much you can work?</a><br>
                    <a href="prototype-experimental/eligibility/may-not-be-eligible" target="_blank">Based on your answers, you may not be eligible for New Style ESA</a><br>  
                    <a href="prototype-experimental/personal/nino" target="_blank">What is your National Insurance number?</a><br> 
                    <a href="prototype-experimental/medical/live-less-than-12-months" target="_blank">Has your doctor or nurse said you might have less than 12 months to live?</a><br>  
                    <a href="prototype-experimental/medical/pregnant" target="_blank">What is your expected due date?</a><br>
                    <br>
                    <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1699892754657/3a119a523ab73157307c714c81a2051750b4efe1?wid=0-1706183291524" target="_blank">Link to mural board</a><br>

                    <p class="govuk-body-s" style="color: grey;">Created: 22 March 2024 <br>Last updated:</strong> 22 March 2024</p>
                  </td>
              </tr> 
            </tbody>
          </table>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Special rule end of life (SREL) journey
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Links</th>
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Description</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
    
    
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="border: 0;"><a href="prototype-srel/live-less-than-12-months" target="_blank">SREL Journey</a></th>
                  <td class="govuk-table__cell" style="border: 0;">
                    Updated user joruney for the SREL users. <br>
                    <p class="govuk-body-s" style="color: grey;">Created: 19 February 2024 <br>Last updated:</strong> 19 February 2024</p>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Address lookup
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Links</th>
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Description</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="border: 0;"><a href="prototype-experimental/personal/address-lookup" target="_blank">Address lookup</a></th>
                  <td class="govuk-table__cell" style="border: 0;">
                    A new page design with address lookup functionality. The new design aligns with the DWP design standerds. <br>
                    <a href="https://design-system.dwp.gov.uk/patterns/find-an-address#" target="_blank">DWP Design System - Find an address.</a>
                    <p class="govuk-body-s" style="color: grey;">Created: December 2023 <br>Last updated:</strong> 26 January 2024</p>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Pension or annuity
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Links</th>
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Description</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="border: 0;"><a href="prototype-experimental/pension/pension" target="_blank">Pension or annuity</a></th>
                  <td class="govuk-table__cell" style="border: 0;">
                    Prototype with all new questions for the 'pension or annuity' section.
                    <p class="govuk-body-s" style="color: grey;">Created: December 2023 <br>Last updated:</strong> 8 April 2024</p>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Are you pregnant?
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Links</th>
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Description</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="border: 0;"><a href="prototype-experimental/medical/pregnant" target="_blank">Are you pregnant?</a></th>
                  <td class="govuk-table__cell" style="border: 0;">
                    New content and design for the question 'Are you pregnant?'.
                    <p class="govuk-body-s" style="color: grey;">Created: December 2023 <br>Last updated:</strong> 29 January 2024</p>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How often are you paid?
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Links</th>
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Description</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="border: 0;"><a href="prototype-experimental/work-paid/pay-frequency" target="_blank">How often are you paid?</a></th>
                  <td class="govuk-table__cell" style="border: 0;">
                    New content and design for the question 'How often are you paid?'.
                    <p class="govuk-body-s" style="color: grey;">Created: December 2023 <br>Last updated:</strong> 29 January 2024</p>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Done page
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Links</th>
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Description</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="border: 0;"><a href="prototype-experimental/declaration/done" target="_blank">Done page</a></th>
                  <td class="govuk-table__cell" style="border: 0;">
                    New content and design for the 'Done' page. This page appears after the form has been submitted.<br>
                    Users who are 'Special rules' will see different 'done' page. 
                    <br><a href="prototype-experimental/declaration/done-sr" target="_blank">Done page - Special Rule</a>
                    <br><a href="prototype-experimental/declaration/done-ssp" target="_blank">Done page - SSP</a>
                    <br><a href="prototype-experimental/declaration/done" target="_blank">Done page - Default</a>
                    <p class="govuk-body-s" style="color: grey;">Created: December 2023 <br>Last updated:</strong> 2 April 2024</p>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Prototype Experimental
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Links</th>
                <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Description</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="border: 0;"><a href="prototype-experimental/eligibility/who-is-applying.html" target="_blank">Prototype Experimental</a></th>
                  <td class="govuk-table__cell" style="border: 0;">
                    End to end journey for the experimental prototype.
                    <p class="govuk-body-s" style="color: grey;">Created: March 2024 <br>Last updated:</strong> 5 March 2024</p>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
    </div>

<!-- IN DEVELOPMENT TAB-->
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="in-dev">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Links</th>
            <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Description</th>
          </tr>
        </thead>
      </table>
    </div>

<!-- ARCHIVE TAB-->
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="archive">
    

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Prototypes done by team Falcon
          </span>
        </summary>
        <div class="govuk-details__text">
            <h1 class="govuk-heading-m" >Prototypes done by team Falcon</h1>

            <h2 class="govuk-heading-s"><a href="index-falcon.html">Prototypes for testing in user research</a></h2>
                
            <h1 class="govuk-heading-m" >Prototypes done in Newcastle (after March 2020)</h1>
        
            <h2 class="govuk-heading-s"><a href="index-newcastle.html">Prototypes for testing in user research</a></h2>
        
            <h2 class="govuk-heading-m">Prototypes done in Leeds (before December 2019)</h2>
        
            <h2 class="govuk-heading-s"><a href="proto-index" >Prototypes for testing in user research</a></h2>
            
            <h2 class="govuk-heading-s"><a href="dev-index">MVP documentation and reference screens for JIRA&nbsp;stories</a></h2>
        
        </div>
      </details>


    </div>





















































  </div>





























































    

{% endblock %}