{% extends "layout.html" %}


{% block beforeContent %}
  <a href="../../index.html" rel="prev" class="govuk-back-link">Index page</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Current journey</h2>

    <h2 class="govuk-heading-l">Version 22</h2>
    <p>Created: December 2023 (Last updated: 15/12/2023)</p>
    <p><a href="/apply/v22/who-is-applying" class="govuk-button">View version 22 prototype</a></p>

    <h2 class="govuk-heading-l">Version 21</h2>
    <p>Created: 15 February 2023 (Last updated: 19 September 2023)</p>
    <p><a href="/apply/v21/who-is-applying" class="govuk-button">View version 21 prototype</a></p>

    <h2 class="govuk-heading-l">Agent UI</h2>
    <p>Created: 17 February 2023</p>
    <p><a href="/agent/agent-start" class="govuk-button">View Agent prototype</a></p>

    <p><a href="https://miro.com/app/board/o9J_kn6qykk=/">Screen flow diagram (opens in Miro)</a></p>
    <p><a href="apply/live/who-is-applying.html">Current (live) journey</a></p>

    <h2 class="govuk-heading-l">Version 20</h2>
    <p>Created: 7 September 2022 (removed BASRiS)</p>
    <p><a href="/apply/v20/eligibility-start" class="govuk-button">View version 19 prototype</a></p>
    <h2 class="govuk-heading-l">Prototypes for user testing</h2>
    

    <p>Alternative formats (25th Aug 2022)</p>
    <p><a href="/apply/v20/alt-formats-5/alternate-format" class="govuk-button">Alt-formats</a></p>

    <p><a href="/apply/v20/alt-formats-5/start" class="govuk-button">Alt-formats from personal details</a></p>

    <h2 class="govuk-heading-l">Version 19</h2>

    <p>Created: 11 May 2022 (removed COVID content, added SRTI conditions for 'done' page)</p>
    <p><a href="/apply/v19/eligibility-start" class="govuk-button">View version 20 prototype</a></p>
    <h2 class="govuk-heading-l">Prototypes for user testing</h2>
    
    <p>Alternative formats.</p>
        <p><a href="/apply/v18/alt-formats-4/start" class="govuk-button">Alt-formats 1</a></p>
        <p><a href="/apply/v18/alt-formats-5/start" class="govuk-button">Alt-formats 2
        </a></p>

        <p>Assisted digital.</p>
        <p><a href="/apply/v19/assisted-digital/esa-start" class="govuk-button">Assisted digital</a></p>


    <h2 class="govuk-heading-l">Version 18</h2>

    <p>Created: 29 September 2021 (work in progress)</p>

    <p><a href="/apply/v18/eligibility-start" class="govuk-button">View version 18 prototype</a></p>

    <p class="govuk-body">Changes:</p>
    <form id="form" method="post" action="">
    <ul class="govuk-list govuk-list--bullet">
      <li>removed reference to work coach and job centre from done page - ticket 1442</li>
      <li>removed referernce to red or amber list for quarantine</li>
      <li>updated content about adding more info later for conditions and doctors - ticket 967 and 1446</li>
      <li>added hint date to claim start - ticket 1463</li>
      <li>changed links to mainstreams guides for JSA and UC in eligibility - ticket 1462</li>
      <li>updated content about time out - ticket 1391</li>
      <li>updated <a href="/apply/v18/accessibility-statement">accessibility statement</a> - ticket 1439</li>
      <li>made business name for self employed optional - ticket 1460</li>
      <li>alternative formats iteration #1 <a href="/apply/v18/alt-formats/short/accessible-format">short version</a> or <a href="/apply/v18/alt-formats/long/accessible-letters">long version</a>- ticket 875</li>
      <li>alternative formats iteration #2 <a href="/apply/v18/alt-formats-2/nino">focus on large print and robust conversation</a></li>
      <li>alternative formats iteration #3 <a href="/apply/v18/alt-formats-3/nino">focus on large print, most common and then another format</a></li>
      <li>added content about temporary fit note change to done page</li>

    </ul>
    </form>

   
  


    
  </div>
{% endblock %}
