{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% if useAutoStoreData %}
{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback (opens in new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
        {
          href: "https://www.gov.uk/help",
          text: "Help"
        },
        {
          href: "/apply/v22/accessibility-statement",
          text: "Accessibility statement"
        },

        {
          href: "/apply/v22/cookie_policy",
          text: "Cookies"
        },
         
        {
          href: "https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter",
          text: "Privacy"
        },  
        {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/manage-prototype/clear-data",
            text: "Clear data"
          }
        ]
      }
    }) }}
  {% endblock %}
{% endif %}
