{% extends "layout.html" %}

{% block pageTitle %}
  Prototypes &ndash; {{ serviceName }}
{% endblock %}
{% block beforeContent %}
<a href="index" rel="prev" class="govuk-back-link">Index page</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


    <h2 class="govuk-heading-l">Versions 10a, 10b, 10c, 10d</h2>

    <h3 class="govuk-heading-m">Created: 17 June 2019 (work in progress)</h3>

    <h4 class="govuk-heading-s">Previous research showed:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>the position of identifiable details (name, address etc) in the journey didn’t affect the completion rate, but research with third-parties highlighted some benefits in having name and address at the beginning</li>
      <li>the ‘hub and spoke’ design was understood, but there was a bit of extra cognitive load, it was more likely that users expected to be able come back later (save functionality) and there was also an expectation that the form would take a long time to complete due to how many items sections were shown</li>
      <li>before you start – users tended to read the content up until ‘how to get a bank account’</li>
      <li>can we send letters...? – some users were confused by this and assumed it was a communication preference</li>
      <li>health conditions – some users didn’t initially realise they could add more than one condition</li>
      <li>employment – some users who were self-employed hesitated and weren’t initially sure on how to answer the question</li>
      <li>do you know when you’ll go back to work? – some users were confused by the ‘I do not know if or when I’ll go back’ answer</li>
      <li>end screen – some users hesitated and weren’t sure what to do next</li>
    </ul>

    <h4 class="govuk-heading-s">Changes:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>Start screen – content changes including a ‘Check you’re eligible’ section and content letting the user know that someone from their local jobcentre will be in touch to arrange the appointment</li>
      <li>Before you start – Information on not being able to save has been moved up and reworded, getting a bank account info has been moved to the bottom</li>
      <li>Personal details are now at the beginning of the form following research findings with third-parties</li>
      <li>What is your address – Changed wording of the letters question so it doesn’t seem like a communication preference (letter vs email etc)</li>
      <li>Do you have a mobile number? - Updated hint text (we don’t send info on appointments)</li>
      <li>What health conditions, illnesses...? – Highlighted that users can add more than one condition and updated to ‘current fit note’ hint text</li>
      <li>Moved the ‘Are you pregnant?’ screen so it’s not directly after the health condition</li>
      <li>Added ‘Sharing the outcome of an assessment with your doctor’ consent screen</li>
      <li>Employed – included ‘self-employed’ as part of the question</li>
      <li>Earnings - Added ‘each time’ to ‘how much do you get paid’ question</li>
      <li>Do you know when you’ll go back to work?’ - Simplified second option to ‘No, I do not know’</li>
      <li>Claim start date – Now comes after the work questions</li>
      <li>How do you want to be paid? – Added some messaging for reassurance</li>
      <li>Check your answers – re-ordered answers to reflect the new order of questions</li>
      <li>New heading for ‘Claim date’</li>
      <li>New fields added for perm health insurance to bring in line with the Pensions data gather</li>
      <li>Added new consent screen for agreeing to sharing assessment report with GP.</li>
      <li>Exploring different versions of the consent outcome agreement</li>
      <li>End screen – clearer content based on research insight. Numbering of headings. Reduced weight of banner and included reference to the National Insurance number, added a ‘Finish’ button</li>
    </ul>

    <h2 class="govuk-heading-s">Version 10a</h2>
    <p>Testing the hypothesis that: if we put the consent outcome screen at the end of the journey before the declaration and add a 'Speed bump' screen to prepare the user, then the users won't be surprised when they read the consent about assessment reports. </p>
    <p><a href="/apply/v10a/start-page-steps" class="govuk-button">View version 10a prototype</a></p>

    <h2 class="govuk-heading-s">Version 10b</h2>
    <p>Testing the hypothesis that: if we put the consent outcome screen at the end of the journey with pre-amble included on the screen, then users will understand what the assessment outcome is without adding another screen to the flow.</p>
    <p><a href="/apply/v10b/start-page-steps" class="govuk-button">View version 10b prototype</a></p>

    <h2 class="govuk-heading-s">Version 10c</h2>
    <p>Testing the hypothesis that: if we move bank details before the check your answers screen and put consent outcome screen with pre-amble included on the screen at the end of the journey, then users won't be confused that there a more screens to interact with once they've seen their Check Your Answers.</p>
    <p><a href="/apply/v10c/start-page-steps" class="govuk-button">View version 10c prototype</a></p>

    <h2 class="govuk-heading-s">Version 10d</h2>
    <p>Testing the hypothesis that: if we put the consent outcome after the GP consent screen and have an interstitial screen to frame the outcome consent, then users will be able to action both consents together and won't be confused with extra screens after the Check Your Answers. </p>
    <p><a href="/apply/v10d/start-page-steps" class="govuk-button">View version 10d prototype</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Versions 8, 8b, 8c and 9</h2>

    <h3 class="govuk-heading-m">Created: January to May 2019</h3>

    <p>We tested 4 versions of the prototype concurrently.</p>

    <h4 class="govuk-heading-s">Previous research showed:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>users still don’t understand that they have to do something once they submit</li>
      <li>self-employed users struggled with the 'Are you employed?' question if they aren’t in a contract at the moment</li>
      <li>the claim date is still difficult to figure out, although the hint text did help</li>
      <li>there is some jargon in the service that we need to describe - particularly fit note, SSP1, and claimant commitment</li>
      <li>permanent health insurance isn’t fully understood</li>
      <li>applicants very rarely have permanent health insurance - research on 438 claims showed 0 people with permanent health insurance</li>
      <li>no users in our check across 438 claims had voluntary work and permitted work was also rare (4 out of 438)</li>
      <li>37 out of 438 claims checked had a pension</li>
    </ul>

    <h4 class="govuk-heading-s">We aimed to test:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>order of questions</li>
      <li>how we show progress through the application</li>
      <li>These will be tested week commencing 29 April alongside existing version 8 prototype which has been iterated but not fully tested.</li>
    </ul>

    <h4 class="govuk-heading-s">Changes:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>pension and permanent health insurance questions are now mostly optional, with a message at the top of each optional question to explain that anything they can give will save time later</li>
      <li>predictive type-ahead from health conditions removed as IRG needs updating because it contains offensive and outdated conditions</li>
      <li>information about the appointment is now inset on the start page to draw users’ eyes to it</li>
      <li>next steps on the confirmation page arranged as a numbered list</li>
      <li>'Add another condition' button added to the conditions screen - users can add up to 12 health conditions</li>
      <li>added a 'when it started' field to the conditions page as staff need it to understand the severity of the condition or if something has changed</li>
      <li>users whose sick pay ended a while ago are now asked 'When did your sick pay end?'</li>
      <li>more hint text added to the claim date screen to start with - other ideas for how we might address this need below</li>
      <li>any jargon removed or described</li>
      <li>new pension screens added to the question set - business requirement to ask gross and net amounts as well as deductions</li>
      <li>future hospital stays removed, and previous stays added - requested by Policy</li>
      <li>added ‘Are you expecting to go back to work?’ question</li>
      <li>Permanent Health Insurance question flow changed so that the user shouldn’t have to answer all the questions if they pay more than half the premiums</li>
      <li>changed consent screen as per Legal recommendation that users give consent for their doctors to share information, and updated the declaration with 'confirm' rather than 'agree' as the items in the declaration are obligations</li>
      <li>referring to ‘regular payments’ when asking about pensions</li>
      <li>re-ordered payment frequency options (pensions, insurance)</li>
      <li>removed previous hospital stays question – we are only interested if they’re in hospital now</li>
      <li>removed questions about expenses related to voluntary work</li>
      <li>updated ‘Done’ screen</li>
      <li>added a separate ‘Before you start’ screen</li>
      <li>added updated address fields to account for addresses that are outside the UK</li>
      <li>updated hint text on DS1500, terminally ill, and GP surgery screens after GDS content review</li>
    </ul>

    <h2 class="govuk-heading-s">Version 9</h2>

    <p>&lsquo;Hub and spoke&rsquo; application form, broken into sections, linked to from a summary screen, based on GOV.UK task list pattern.</p>
    <p><a href="/apply/v9/" class="govuk-button">View version 9 prototype</a></p>

    <h2 class="govuk-heading-s">Version 8c</h2>
    <p>Health questions first with progress indicator at top of page, linear form.</p>
    <p><a href="/apply/v8c/start-page-steps" class="govuk-button">View version 8c prototype</a></p>

    <h2 class="govuk-heading-s">Version 8b</h2>
    <p>Prototype version showing re-order of questions:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>moved the personal details question to the begining of the question flow</li>
      <li>moved the Bank details question to the end of the flow so that it is after Check Your Answers (these details aren&rsquo;t replayed to the user)</li>
    </ul>
    <p><a href="/apply/v8b/start-page-steps" class="govuk-button">View version 8b prototype</a></p>

    <h2 class="govuk-heading-s">Version 8</h2>
    <p>Health questions first, linear form.</p>
    <p><a href="/apply/v8/start-page-steps" class="govuk-button">View version 8 prototype</a></p>

    <p><a href="/apply/v8/messages">Messages</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Version 7</h2>

    <h3 class="govuk-heading-m">Created: 7 December 2018</h3>

    <h4 class="govuk-heading-s">Previous research showed:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>users didn’t understand the application process</li>
      <li>users were confused by work screens as they didn’t cover the various ways people work</li>
      <li>users were anxious about giving fraudulent information, particularly dates</li>
    </ul>

    <h4 class="govuk-heading-s">Significant changes:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>GOV.UK pages and step by step navigation mocked up so we can see if the new step by step guide helps users understand the process</li>
      <li>start page slotted into GOV.UK pages to test route through to it</li>
      <li>check answers screen with dummy data entered to see if it helps with anxiety over fraud</li>
      <li>users can add multiple jobs</li>
      <li>company names carried through work and voluntary questions to reduce cognitive effort</li>
    </ul>

    <h4 class="govuk-heading-s">Smaller changes:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>voluntary work questions moved to the start of the flow to reduce ambiguity between paid and voluntary work</li>
      <li>statutory sick pay questions amended to focus more on sick pay and whether its ended</li>
      <li>users asked for a date range rather than a date on the fit for work question to ease uncertainty</li>
      <li>additional options for pay frequency added (annually, quarterly, and every 6 months) to match JSAPS</li>
      <li>new question added - Did you inherit your pension from [pension provider]?</li>
    </ul>

    <p><a href="/public/pdfs/version-notes/notes-v7.pdf">Version 7 notes</a></p>

    <p><a href="/apply/v7/start-page-steps" class="govuk-button">View version 7 prototype</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Version 6</h2>

    <h3 class="govuk-heading-m">Created: 7 December 2018</h3>

    <h4 class="govuk-heading-s">Previous research showed:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>users don’t understand that the application form is the first part of the process</li>
      <li>some users found the Pension screens better to work through</li>
      <li>users found the claim date hard to work out</li>
      <li>having better content on the Start page did set expectations, but users needed to be prompted to read it</li>
    </ul>

    <h4 class="govuk-heading-s">Significant changes:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>created a flow of questions for capturing pension payments, enabling users to add multiple providers</li>
    </ul>

    <h4 class="govuk-heading-s">Smaller changes:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>updating content on the Start screen, improving the messaging to set better expectations for users</li>
      <li>content change to Condition question, adding 'injuries' to 'conditions' and 'illnesses'</li>
      <li>content changes to the Done screen, re-iterating that the application form is the first part of the claim process</li>
    </ul>

    <p><a href="/public/pdfs/version-notes/notes-v6.pdf">Version 6 notes</a></p>

    <p><a href="/apply/v6/start" class="govuk-button">View version 6 prototype</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Version 5</h2>

    <h3 class="govuk-heading-m">Created: 1 November 2018</h3>

    <h4 class="govuk-heading-s">Significant changes:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>changed flow and added screens for work information</li>
    </ul>

    <h4 class="govuk-heading-s">Change made to the following screens:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>Start</li>
      <li>Paid work</li>
      <li>Are you working at the moment</li>
      <li>When did your job start</li>
      <li>Self-employed</li>
      <li>Company director</li>
      <li>Employer details</li>
      <li>How often are you paid</li>
      <li>Expenses</li>
      <li>Expenses detail</li>
      <li>Voluntary work</li>
      <li>Pension</li>
      <li>Consent</li>
      <li>Mobile number</li>
      <li>Done - What happens next</li>
    </ul>

    <p><a href="/public/pdfs/version-notes/notes-v5.pdf">Version 5 notes</a></p>

    <p><a href="/apply/v5/start" class="govuk-button">View version 5 prototype</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Version 4</h2>

    <h3 class="govuk-heading-m">Created: 23 October 2018</h3>

    <h4 class="govuk-heading-s">Significant changes:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>updated based on findings from stakeholder workshop on 17 Oct 2018</li>
    </ul>

    <h4 class="govuk-heading-s">Change made to the following screens:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>Start</li>
      <li>Pregnant</li>
      <li>GP Surgery</li>
      <li>Special Rules</li>
      <li>Hospital</li>
      <li>Pay</li>
      <li>Hours worked</li>
      <li>Payments from employer</li>
      <li>Voluntary work</li>
      <li>Last day worked</li>
      <li>Pension details</li>
      <li>Consent</li>
      <li>Name</li>
      <li>Address</li>
      <li>Telpehone</li>
      <li>Email</li>
      <li>Bank details</li>
      <li>Fit again</li>
    </ul>

    <p><a href="/public/pdfs/version-notes/notes-v4.pdf">Version 4 notes</a></p>

    <p><a href="/apply/v4/start" class="govuk-button">View version 4 prototype</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Version 3</h2>

    <h3 class="govuk-heading-m">Created: 17 October 2018</h3>

    <h4 class="govuk-heading-s">Significant changes:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>added and changed questions based on information received from policy colleagues</li>
    </ul>

    <h4 class="govuk-heading-s">Change made to the following screens:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>Terminally ill</li>
      <li>Terminally ill prognosis</li>
      <li>Pregnant</li>
      <li>Hospital</li>
      <li>Hospital previous</li>
      <li>Employment</li>
      <li>Employer payments</li>
      <li>Statutory pay</li>
      <li>Pension details</li>
      <li>Health insurance</li>
      <li>Address contact</li>
      <li>Contact preferences</li>
    </ul>

    <p><a href="/public/pdfs/version-notes/notes-v3.pdf">Version 3 notes</a></p>

    <p><a href="/apply/v3/govuk-overview" class="govuk-button">View version 3 prototype</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Version 2</h2>

    <h3 class="govuk-heading-m">Created: 20 September 2018</h3>

    <h4 class="govuk-heading-s">Significant changes:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>updated to incorporate insights from UR session on 26 Sept which tested a joint Apply for ESA/PIP prototype.</li>
    </ul>

    <h4 class="govuk-heading-s">Change made to the following screens:</h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>Terminally ill</li>
    </ul>

    <p><a href="/public/pdfs/version-notes/notes-v2.pdf">Version 2 notes</a></p>

    <p><a href="/apply/v2/govuk-overview" class="govuk-button">View version 2 prototype</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Version 1</h2>

    <h3 class="govuk-heading-m">Created: 20 September 2018</h3>

    <p>First iteration of citizen journey applying for &lsquo;new style&rsquo; ESA</p>

    <p><a href="/public/pdfs/version-notes/notes-v1.pdf">Version 1 notes</a></p>

    <p><a href="/apply/v1/govuk-overview" class="govuk-button">View version 1 prototype</a></p>

{#     <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> #}


  </div> <!-- govuk-grid-column-two-thirds -->

{#   <div class="govuk-grid-column-one-third">
    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">MVP</span>
      </h2>
      <p>
        <a href="/apply/MVP/start-page-steps" class="govuk-button" style="margin-bottom: 15px;">View latest MVP</a>
        <br>
        <a href="/public/images/mvp-changes.png">See what’s changed</a></p>
    </div> #}
  </div> <!-- govuk-grid-column-one-third -->


</div> <!-- grid-row-->

{% endblock %}
