
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">Latest prototypes and screens for user&nbsp;research</h1>

      <h2 class="govuk-heading-m">Prototypes</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/apply/v8/start-page-steps">Version 8</a><br>
          Health questions first, no indication of progress
        </li>
        <li><a href="/apply/v8b/start-page-steps">Version 8b</a><br>
          Personal details first, no indication of progress
        </li>
        <li><a href="/apply/v8c/start-page-steps">Version 8c</a><br>
          Health questions first, basic progress indicator
        </li>
        <li><a href="/apply/v9">Version 9</a><br>
          Hub and spoke pattern
        </li>
      </ul>

      <h2 class="govuk-heading-m">Individual screens</h2>

      <h3 class="govuk-heading-s">Error screens</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/apply/messages/sorry-the-service-is-currently-unavailable">Sorry, the service is currently unavailable - planned downtime</a>
        </li>
        <li>
          <a href="/apply/messages/sorry-there-was-a-problem-sending-your-application">Sorry, there was a problem sending your application</a>
        </li>
        <li>
          <a href="/apply/messages/sorry-youll-need-to-start">Sorry, you’ll need to start again</a>
        </li>
        <li>
          <a href="/apply/messages/your-session-will-end">Your session will end in 5 minutes</a>
        </li>
        <li>
          <a href="/apply/messages/sorry-there-is-a-problem-with-the-service">Sorry, there is a problem with the service</a>
        </li>
      </ul>

      <h3 class="govuk-heading-s">Optional message</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/apply/messages/non-mandatory-pension-details">Non-mandatory message</a>
        </li>
      </ul>


  </div> <!-- govuk-grid-column-two-thirds -->

</div> <!-- grid-row-->

{% endblock %}
