{% extends "layout.html" %}

{% block pageTitle %}
 Professional support worker - {{ data['employer-details'] | split(',') | last | default("Asda")}} - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="/prototype-experimental/work/work-supported">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Do you get help from a professional support worker at {{ data['employer-details-1'] | split(',') | last | default("Asda")}}?
    </h1>

    <div class="govuk-hint">
    A professional support worker is someone from a public body or voluntary organisation whose job it is to give you ongoing support and supervision to help you stay in work.
    </div>

    <div class="govuk-form-group">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="terminal-1" name="work-supported" type="radio" value='Yes' data-aria-controls="yes-changed">
          <label class="govuk-label govuk-radios__label" for="terminal-1">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="terminal-2" name="work-supported" type="radio" value='No' aria-controls="no-reveal">
          <label class="govuk-label govuk-radios__label" for="terminal-2">
            No
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="terminal-2" name="work-supported" type="radio" value='I’m not sure' aria-controls="no-reveal">
          <label class="govuk-label govuk-radios__label" for="terminal-2">
            I’m not sure
          </label>
        </div>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
