{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
    <form id="form" method="post" action="work-another">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
        What are the expenses for and how much do you get?
        </h1>
        </legend>

        <div class="govuk-form-group">
          <label class="govuk-label" for="more-detail">
          Give as much information as you can.
          </label>
          <div>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
          </div>

          <input type="submit" class="govuk-button" value="Continue" id="submit">
        </div>
        </form>

      </div>
    </div>
  </div>


        {% endblock %}
