{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="pension-inherited">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            What is the amount before deductions from {{ data['pension-provider'] | split(',') | last }}?
          </h1>
        </legend>

         <div class="govuk-form-group">
            <div class="govuk-currency-input">
              <div class="govuk-currency-input__inner">
                <span class="govuk-currency-input__inner__unit govuk-body">£</span>
                <input class="govuk-!-width-two-thirds govuk-currency-input__inner__input govuk-input govuk-input--width-10" aria-label="Enter amount in pounds" name="current-employment--weekly-net" data-non-numeric="" type="number" id="current-employment--weekly-net" pattern="[0-9]\d*(\.\d+)?" value="">
              </div><!-- govuk-currency-input__inner -->
            </div><!-- govuk-currency-input -->
         </div> <!-- govuk-form-group -->

          <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
              How often do you get this amount?
            </label>
            <select class="govuk-select govuk-input--width-10" id="sort" name="sort">
              <option value="blank" selected></option>
              <option value="weekly">Weekly</option>
              <option value="2weekly">Every 2 weeks</option>
              <option value="4weekly">Every 4 weeks</option>
              <option value="monthly">Monthly</option>
              <option value="6monthly">Every 6 months</option>
              <option value="yearly">Annually</option>
            </select>
          </div> <!-- govuk-form-gorup -->


      </fieldset>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
  {% endblock %}
