{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  </div> <!-- govuk.grid-column-full -->

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">What to do next</h1>

<p>*Orientation text here to make sure user has right instructions. This is for coronavirus, shielding, did not get a letter, employed/unemployed</p>

    <h2 class="govuk-heading-m">1. Ask your doctor to add you to the shielded patients list</h2>

    <p>*Text about asking to be on the shielded patients list. In the meantime, they'll need to send medical evidence of their underlying condition.</p>

    <h2 class="govuk-heading-m">2. Get medical evidence to support your application</h2>

    <p>You can self-certify for the first 7 days of your claim but you need to send us medical evidence from day 8 onwards.</p>
    <p>The most common type of medical certificate is a fit note (also called a statement of fitness for work or a sick note), but we also accept other types of medical evidence.</p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Other types of medical evidence
        </span>
      </summary>
      <div class="govuk-details__text">
        <p id="other-medical-evidence-hint">As well as fit notes, we also accept these medical certificates:
          
    <ul class="govuk-list govuk-list--bullet">
      <li>Med10 (a hospital certificate given to inpatients if your treatment lasts more than 7 days)</li>
      <li>MATB1 (if you’re pregnant but you cannot get Statutory Maternity Pay or Maternity Allowance)</li>
      <li>CF73 (a form issued by a psychiatric hospital)</li>
 </ul>

    <p>Other forms of evidence might include a doctor’s statement, consultant’s report or Local Authority notice.</p>
  
  </div>
  </details>

  <p>You will need to keep sending us medical evidence as long as you’re unfit for work. We will tell you when you can stop sending it. For example, if your fit note is for 14 days, you will need to send us another one when it runs out.</p>

    <h2 class="govuk-heading-m">3. Send your evidence to DWP</h2>

    <p>If you have a fit note, you can use the <a href="https://www.gov.uk/send-fit-note" target="_blank">Send Your Fit Note service (opens in a new window)</a> to send it to us online.</p>

    <p>If you have another form of medical evidence, you can send it to us by post. You can also post your fit note.</p>

<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Where to send your medical evidence by post</h4>
  <p>Freepost DWP ESA 26</p>
    </div>


<h3 class="govuk-heading-m">4. If you get Universal Credit, tell them</h3>

    <p class="govuk-body">If you get or have applied for Universal Credit, you will need to tell them that you’ve applied for New Style ESA. You can do this by <a href="https://www.gov.uk/sign-in-universal-credit" target="_blank">signing in to your Universal Credit account (opens in new tab)</a> and using the journal to contact your case manager.</p>
    
    <p class="govuk-body">*What do UC need to know about shielding letters/text messages? Is it same process as fit note, taking at claimant's word?</p>


<h3 class="govuk-heading-m">5. Look at Universal Credit, if you do not get it already</h3>

      <p class="govuk-body">If you‘re on a low income or out of work, you can apply for Universal Credit as part of a dual claim with New Style ESA. It can help with housing costs or support for a partner or child</p>

      <p>Unlike New Style ESA, you can apply with a partner and get support for housing costs, children and childcare.</p>
      
      <p class="govuk-body">You or your partner must have less than £16,000 in savings or investments to be eligible.</p>

      <p class="govuk-body">Find out <a href="https://www.gov.uk/how-to-claim-universal-credit" target="_blank">how to claim for Universal Credit on GOV.UK (opens in new tab)</a>.</p>


    
    <h3 class="govuk-heading-m">6. Give us your feedback</h3>

<p class="govuk-body"><a href="feedback.html" class="govuk-link" rel="noreferrer noopener" target="_blank">What did you think of this service? (opens in a new window)</a>. It takes 30 seconds.</p>
<p class="govuk-body">Volunteer to<a href="https://getinvolved.dwp.gov.uk/digital/f56c176f" class="govuk-link" rel="noreferrer noopener" target="_blank"> take part in research (opens in a new window)</a> to help improve this service.


    <p><a href="https://www.gov.uk/employment-support-allowance/your-esa-claim" class="govuk-button">Finish</a></p>

</div><!-- govuk-grid-row -->
{% endblock %}

