{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  </div> <!-- govuk.grid-column-full -->

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">What to do next</h1>

<p>*Orientation text here to make sure user has right instructions. This is for coronavirus, self-isolating, self-employed</p>

<h2 class="govuk-heading-m">1. Get an Isolation Note</h2>

<p>*Text about lgetting an Isolation Note. Go to the NHS <a href="https://111.nhs.uk/isolation-note/">Isolation Note service</a>. Give 16-digit reference number to DWP when we call.</p>

    <h2 class="govuk-heading-m">2. Get evidence of your earnings</h2>

    <p>*Text about preparing evidence of earnings for follow-up phone call, if we confirm with SPD that's what we need to do.</p>


<h3 class="govuk-heading-m">3. If you get Universal Credit, tell them</h3>

    <p class="govuk-body">If you get or have applied for Universal Credit, you will need to tell them that you’ve applied for New Style ESA. You can do this by <a href="https://www.gov.uk/sign-in-universal-credit" target="_blank">signing in to your Universal Credit account (opens in new tab)</a> and using the journal to contact your case manager.</p>
    
    <p class="govuk-body">*What do UC need to know about shielding letters/text messages? Is it same process as fit note, taking at claimant's word?</p>


<h3 class="govuk-heading-m">4. Look at Universal Credit, if you do not get it already</h3>

      <p class="govuk-body">If you‘re on a low income or out of work, you can apply for Universal Credit as part of a dual claim with New Style ESA. It can help with housing costs or support for a partner or child</p>

      <p>Unlike New Style ESA, you can apply with a partner and get support for housing costs, children and childcare.</p>
      
      <p class="govuk-body">You or your partner must have less than £16,000 in savings or investments to be eligible.</p>

      <p class="govuk-body">Find out <a href="https://www.gov.uk/how-to-claim-universal-credit" target="_blank">how to claim for Universal Credit on GOV.UK (opens in new tab)</a>.</p>


    
    <h3 class="govuk-heading-m">5. Give us your feedback</h3>

<p class="govuk-body"><a href="feedback.html" class="govuk-link" rel="noreferrer noopener" target="_blank">What did you think of this service? (opens in a new window)</a>. It takes 30 seconds.</p>
<p class="govuk-body">Volunteer to<a href="https://getinvolved.dwp.gov.uk/digital/f56c176f" class="govuk-link" rel="noreferrer noopener" target="_blank"> take part in research (opens in a new window)</a> to help improve this service.


    <p><a href="https://www.gov.uk/employment-support-allowance/your-esa-claim" class="govuk-button">Finish</a></p>

</div><!-- govuk-grid-row -->
{% endblock %}

