{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="checkanswers">

      <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
            Where do you want to be paid?
            </h1>
          </legend>

          <details class="govuk-details" role="group">
            <summary class="govuk-details__summary" role="button" aria-controls="details-content-73c485f0-0921-4c30-9f01-a0d4135ed3d9" aria-expanded="true">
              <span class="govuk-details__summary-text">
                What to do if you do not have a bank account
              </span>
            </summary>
            <div class="govuk-details__text" id="details-content-73c485f0-0921-4c30-9f01-a0d4135ed3d9" aria-hidden="false">
              <p>If you do not personally have a bank account, we can use an account of a trusted friend or family member.</p>
            </div>
          </details>

          <div class="govuk-form-group">
            <label class="govuk-label" for="pay-account-holder">
              Name of account holder
            </label>
            <span class="govuk-hint">
    		      Enter the name as it appears on your bank card, cheque book or statement.
    		    </span>
            <input class="govuk-input govuk-input--width-20" id="pay-account-holder" name="pay-account-holder" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="pay-account-holder">
              Bank or building society name
            </label>
            <input class="govuk-input govuk-input--width-20" id="pay-account-holder" name="pay-account-holder" type="text">
          </div>
          <fieldset class="govuk-fieldset" role="group">
    		    <legend class="govuk-fieldset__legend">
    		      <p class="govuk-label">
    		        Sort code
    		      </p>
    		    </legend>
    		    <span id="sortcode-hint" class="govuk-hint">
    		      For example, 07 00 00
    		    </span>
    		        <div class="govuk-form-group">
                  <input class="govuk-input govuk-input--width-2" id="sortcode-1" name="sortcode-digits-1-and-2" type="text" maxlength="2"> &mdash;
                  <input class="govuk-input govuk-input--width-2" id="sortcode-2" name="sortcode-digits-3-and-4" type="text" maxlength="2"> &mdash;
                  <input class="govuk-input govuk-input--width-2" id="sortcode-3" name="sortcode-digits-5-and-6" type="text" maxlength="2">
    		          <!--<input class="govuk-input govuk-input--width-2 govuk-!-margin-1" id="sortcode-1" name="sortcode-digits-1-and-2" type="number" pattern="[0-9]*">
                  <input class="govuk-input govuk-input--width-2 govuk-!-margin-1" id="sortcode-2" name="sortcode-digits-3-and-4" type="number" pattern="[0-9]*">
                  <input class="govuk-input govuk-input--width-2 govuk-!-margin-1" id="sortcode-3" name="sortcode-digits-5-and-6" type="number" pattern="[0-9]*"> -->
    		        </div>
    		  </fieldset>
          <div class="govuk-form-group">
            <label class="govuk-label" for="pay-account-holder">
              Account number
            </label>
            <input class="govuk-input govuk-input--width-10" id="pay-account-holder" name="pay-account-holder" type="text" maxlength="8">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="pay-reference-number">
              Building society roll or reference number (optional)
            </label>
            <span id="pay-reference-number-hint" class="govuk-hint">
              If your building society uses a roll or reference number, you will find it on your passbook.
            </span>
            <input class="govuk-input govuk-input--width-20" id="pay-reference-number" name="pay-reference-number" type="number" aria-describedby="pay-reference-number-hint" maxlength="18">
          </div>
        </fieldset>
    <input type="submit" class="govuk-button" value="Continue" id="submit">

    {% include "apply/v9/about-you/_return-link.html" %}

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
