{% extends "layout.html" %}

{% block pageTitle %}
 Statutory payments - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="statutory-pay-date-new">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="statutory-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Before you start
          </h1>
        </legend>

        <p>On the following pages we’ll ask you for information to help us decide if 
          you’re eligible for new style Employment Support Allowance. </p>
        <p>Below is a list of what we’ll ask you for. It will save time if you have these 
          ready before you start your application. 
        </p>

        <p>It might seem like a lot but it’s things you probably already know. We’ll just 
          be asking for details such as dates and amounts.</p>


          <ul class="govuk-list govuk-list--bullet">
            <li>Your email address, phone number and National Insurance number</li>
            <li>Your doctor’s name, phone number and practice address</li>
            <li>If you’re currently staying in hospital, the name of the hospital and the 
              date you went in</li>
            <li>What illnesses, conditions and disabilities you have, including the date 
              they started</li>
            <li>Details of any work you’re doing, paid or voluntary, including your 
              earnings and hours you work</li>
            <li>Whether you’ve been paid Statutory Sick Pay (if your employer has 
              given you a form SSP1, it will help to have it in front of you)</li>
            <li>Any other statutory payments you’ve had, such as maternity or 
              paternity pay</li>
            <li>Whether you’ve received payments from your employer’s permanent 
              health insurance</li>
            <li>Details of a bank or building society account that we can pay any 
              benefit your entitled into</li>
          </ul> 
        


     
    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

