{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Application complete
      </h1>
      <div class="govuk-panel__body">
        Your reference number is<br><strong>{{ data['national-insurance-number'] }}</strong>
      </div>
    </div>

  </div> 

  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">If you've provided an email address, we will send you the information on this page. You can also download or print it.</p>
    </br>
    <p class="govuk-body govuk-!-font-weight-bold"><a href="https://www.gov.uk/send-fit-note" target="_blank">Download this page</a></p>
    <p class="govuk-body govuk-!-font-weight-bold"><a href="https://www.gov.uk/send-fit-note" target="_blank">Print this page</a></p></br>

    <h2 class="govuk-heading-l">What happens next</h2>
    <h2 class="govuk-heading-m">Send us medical evidence to support your application</h2>

    {# BAU Evidence #}

    <p class="govuk-body">You can self-certify for the first 7 days of your claim but after that you need to send us medical evidence. Your claim start date is <span class="suggested-claim-date" data-year="{{ data['ssp-year'] }}" data-month="{{ data['ssp-month'] }}" data-day="{{ data['ssp-day'] }}"></span>, so you need to send us medical evidence from <span class="new-date"></span> onwards.</p>
    <p class="govuk-body">You can self-certify for the first 7 days of your claim but after that you need to send us medical evidence. Your claim start date is <span class="new-date"></span>, so you need to send us medical evidence from <span class="new-date"></span> onwards.</p>

    <p class="govuk-body">Medical evidence always needs to be up-to-date, so send us a new one when it expires. You need to keep doing this as long as you're unfit for work.</p> 
    
    <p class="govuk-body">You can send us a fit note (also called a sick note) using the <a href="https://www.gov.uk/send-fit-note" target="_blank">Send Your Fit Note service (opens in new tab).</a></p>
      </br>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Send us another type of medical evidence
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">As well as fit notes, we also accept these medical certificates:</p>
    
        <ul class="govuk-list govuk-list--bullet">
          <li>Med10 (if you're in hospital for treatment that lasts more than 7 days)</li>
          <li>MATB1 (if you're pregnant but cannot get Statutory Maternity Pay or Maternity Allowance)</li>
          <li>CF73 (if you've been admitted to a psychiatric hospital)</li>
          <li>SR1 (a form completed and sent to us by a doctor, consultant or specialist nurse. This has replaced the DS1500 form)</li>
        </ul>

        <p class="govuk-body">Other forms of evidence might include a doctor's statement, consultant's report or Local Authority notice. </p>
        <br>
        <p class="govuk-body govuk-!-font-weight-bold">Where to send your medical evidence by post</p>
        <p>Freepost DWP ESA 26</p>

      </div>
    </details>
    </br>


    <h2 class="govuk-heading-m">Claimant Commitment appointment</h2>

    <p class="govuk-body">We will contact you by <span class="new-date"></span> to book your 'Claimant Commitment' appointment.</p>

    <p class="govuk-body">During this appointment we will ask you to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>confirm your identity</li>
      <li>sign an agreement that sets out what you can expect of us, and what we expect of you. This is called a Claimant Commitment</li>
      <li>agree to tell us if your circumstances change</li>
    </ul>

    <p class="govuk-body">This appointment is not for us to learn more about your illness, injury or disability. You will be able to share this information with us at a later date.</p>

    <p class="govuk-body">If you are eligible for New Style ESA, you will get your first payment after you attend this appointment.</p>



    <h2 class="govuk-heading-m">Contacting us</h2>
    <p class="govuk-body">You do not need to contact us. We will contact you if we need any more information.</p>


    <h3 class="govuk-heading-m">Give us your feedback</h3>

    <p class="govuk-body"><a href="feedback.html" class="govuk-link" rel="noreferrer noopener" target="_blank">What did
        you think of this service? (opens in a new window)</a>. It takes 30 seconds.</p>
    <p class="govuk-body">Volunteer to<a href="https://getinvolved.dwp.gov.uk/digital/f56c176f" class="govuk-link"
        rel="noreferrer noopener" target="_blank"> take part in research (opens in a new window)</a> to help improve
      this service.


    <p><a href="https://www.gov.uk/employment-support-allowance/your-esa-claim" class="govuk-button">Finish</a></p>












    

  



    


   



    
    

    
  </div>
  {% endblock %}