{% extends "layout.html" %}

{% block pageTitle %}
 You may be eligible for New Style ESA - Apply for New Style Employment and Support Allowance - GOV.UK 
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      Mae hwn yn wasanaeth newydd – bydd eich <a class="govuk-link" href="feedback">adborth (agor mewn tab newydd)</a> yn ein helpu i’w wella.
    </span>
  </p>
</div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Yn seiliedig ar eich atebion, efallai eich bod yn gymwys am ESA Dull Newydd</h1>
  </legend>

  <div class="govuk-inset-text">
    Ni fyddwch yn gallu arbed eich atebion a dod yn ôl at y ffurflen yn nes ymlaen. Ond byddwch yn cael cyfle i edrych dros a diweddaru eich atebion cyn i chi eu hanfon.
  </div>
  <div class="govuk-inset-text">
    Nid oes terfyn amser ar gyfer llenwi'r cais. Ond os arhoswch ar yr un dudalen am 60 munud, bydd yn amser allan a bydd yn rhaid i chi ddechrau eto.
  </div>

  <p class="govuk-body">Byddwn yn trin eich gwybodaeth bersonol yn ofalus. Efallai y byddwn yn ei ddefnyddio at unrhyw un o’n dibenion. I ddysgu am eich hawliau gwybodaeth a sut rydym yn defnyddio gwybodaeth, gweler ein <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter" class="govuk-link" rel="noreferrer noopener" target="_blank">siarter gwybodaeth bersonol (agor mewn tab newydd).</a>.</p>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Rwyf angen help gwneud pethau ar-lein
      </span>
    </summary>
    <div class="govuk-details__text">
      <p>Mae'r dolenni canlynol yn agor mewn tab newydd</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Ffôn: 0800 055 6688 (dewiswch opsiwn 3)</li>
        <li>Ffôn testun: 0800 328 1344 (dewiswch opsiwn 3)</li>
      
        <li> <a href="https://www.relayuk.bt.com/" class="govuk-link" rel="noreferrer noopener" target="_blank">Relay UK</a> os na allwch glywed neu siarad ar y ffôn: 18001 yna 0800 055 6688</li>
        <li> <a href="https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl" class="govuk-link" rel="noreferrer noopener" target="_blank">Gwasanaeth cyfnewid fideo</a> laith Arwyddion Prydain (BSL)</a> os ydych ar gyfrifiadur - darganfyddwch sut i <a href="https://www.youtube.com/watch?v=vZJc6OKmAUA" class="govuk-link" rel="noreferrer noopener" target="_blank">ddefnyddio'r gwasanaeth ar ffôn symudol neu lechen</a></li>
        <li>Llinell Gymraeg: 0800 328 1744</li>
        <p>Dydd Llun i ddydd Gwener, 8am i 6pm (ac eithrio gwyliau cyhoeddus)</p> </ul>
        <p><a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target="_blank">Darganfyddwch am gostau galwadau</a></p>

    </div>
  </details>
  <p><a href="name" class="govuk-button">Dechrau nawrw</a></p>

  </div>


    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
