{% extends "layout.html" %}

{% block pageTitle %}
 Inherited pension or annuity payments - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="insurance">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Do you get pension or annuity payments that you’ve inherited from someone who died?
          </h1>
        </legend>
        
        <div class="govuk-radios govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="pension-inherit-1" name="pension-inherit" type="radio" value='Yes~/apply/v21/insurance' data-aria-controls="yes-cond">
            <label class="govuk-label govuk-radios__label" for="pension-inherit-1">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="pension-inherit-2" name="pension-inherit" type="radio" value='No~/apply/v21/insurance'>
            <label class="govuk-label govuk-radios__label" for="pension-inherit-2">
              No
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="pension-inherit-2" name="pension-inherit" type="radio" value='notsure~/apply/v21/insurance'>
            <label class="govuk-label govuk-radios__label" for="pension-inherit-3">
              I’m not sure
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

