{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="insurance">

      <div class="govuk-form-group">
        <h1 class="govuk-heading-xl">
        Permanent Health Insurance question flow
        </h1>
      </div>

      <input type="submit" class="govuk-button" value="Start" id="submit">

    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
